.btn,
.button,
button {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  height: 32px;
  font-size: 0.9rem;
  font-weight: 500;
  color: #ffffff;
  line-height: 32px;
  padding: 0 12px;
  background-color: var(--color-1);
  margin: 0 8px;
  text-transform: uppercase;
  border-radius: 4px;
}

.btn.none,
.button.none,
button.none {
  box-shadow: none;
  height: auto;
  color: var(--color-1);
  line-height: normal;
  padding: 0;
  background-color: transparent;
  margin: 0 8px;
}

.btn.small,
.button.small
button.small {
  height: 24px;
  line-height: 24px;
  padding: 0 8px;
}

.btn.medium,
.button.medium
button.medium {
  height: 32px;
  line-height: 32px;
  padding: 0 12px;
}

.btn.large,
.button.large,
button.large {
  height: 40px;
  line-height: 40px;
  padding: 0 16px;
}

.btn.border,
.button.border,
button.border {
  border: 1px solid var(--color-1);
  background-color: transparent;
  color: var(--color-1);
  box-shadow: none;
}

.btn.round,
.button.round,
button.round {
  border-radius: 24px;
}

.btn.circle,
.button.circle,
button.circle {
  display: inline-block;
  min-width: 48px;
  min-height: 48px;
  padding: 0;
  line-height: 48px;
  border-radius: 50%;
  text-align: center;
}

.btn.circle.small,
.button.circle.small,
button.circle.small {
  min-width: 40px;
  min-height: 40px;
  line-height: 40px;
}

.btn.circle.large,
.button.circle.large,
button.circle.large {
  min-width: 56px;
  min-height: 56px;
  line-height: 56px;
}

td > .btn,
td > nav > .btn,
td > .button,
td > nav > .button,
td > button,
td > nav > button {
  height: 24px;
  line-height: 24px;
}

td > .btn.circle,
td > nav > .btn.circle,
td > .button.circle,
td > nav > .button.circle,
td > button.circle,
td > nav > button.circle {
  min-width: 24px;
  min-height: 24px;
  line-height: 24px;
}
