.card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  background-color: var(--color-4);
  padding: 16px;
  border-radius: 4px;
  display: block;
  transition: transform 0.3s ease, border-radius 0.3s, padding 0.3s;
}

.card + .card {
  margin-top: 16px;
}

.row.medium-space > .col > .card + .card {
  margin-top: 24px;
}

.row.large-space > .col > .card + .card {
  margin-top: 32px;
}

.card.small {
  height: 200px;
}

.card.medium {
  height: 350px;
}

.card.large {
  height: 500px;
}

.card.border {
  border: 1px solid var(--color-2b);
  box-shadow: none;
}

.card.round {
  border-radius: var(--small-round);
}