.card {
  box-shadow: var(--shadow-1);
  background-color: var(--color-4);
  padding: 16rem;
  border-radius: 4rem;
  display: block;
  transition: 0.3s transform, 0.3s border-radius, 0.3s padding;
}

.card + .card {
  margin-top: 16rem;
}

.row.medium-space > .col > .card + .card {
  margin-top: 24rem;
}

.row.large-space > .col > .card + .card {
  margin-top: 32rem;
}

.card.small {
  height: 192rem;
}

.card.medium {
  height: 320rem;
}

.card.large {
  height: 512rem;
}

.card.border {
  border: 1rem solid var(--color-2b);
  box-shadow: none;
}

.card.round {
  border-radius: 24rem;
}