.chip {
  box-sizing: content-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 40rem;
  height: 40rem;
  font-size: 14rem;
  font-weight: 500;
  color: var(--color-2);
  padding: 0 12rem;
  border-radius: 24rem;
  background-color: var(--color-2a);
  margin: 0 8rem;
  text-transform: none;
  transition: 0.3s transform, 0.3s border-radius, 0.3s padding;
  z-index: 1;
}

.chip > :not(.dropdown, .badge) + :not(.dropdown, .badge) {
  margin-left: 4rem;
}

.chip > .responsive:first-child {
  margin-left: -12rem;
}

.chip > .responsive:last-child {
  margin-right: -12rem;
}

.chip.small {
  min-height: 32rem !important;
  height: 32rem;
}

.chip.medium {
  min-height: 40rem !important;
  height: 40rem;
}

.chip.large {
  min-height: 48rem !important;
  height: 48rem;
}

.chip.border {
  border: 1rem solid var(--color-2b);
  background-color: transparent;
}

.chip.active {
  background-color: var(--color-2b);
}

.chip.circle {
  transform: none;
  padding: 0;
  border-radius: 40rem;
  padding: 0;
}

.chip.square {
  transform: none;
  border-radius: 4rem;
  padding: 0;
}