.is-dark-1 {
  --primary: #ffb4a3;
  --on-primary: #5e1609;
  --primary-container: #ffb4a3;
  --on-primary-container: #ffdad1;
  --secondary: #e7bdb5;
  --on-secondary: #442924;
  --secondary-container: #e7bdb5;
  --on-secondary-container: #ffdad2;
  --tertiary: #dcc48c;
  --on-tertiary: #3d2f05;
  --tertiary-container: #dcc48c;
  --on-tertiary-container: #f9e0a6;
  --error: #ffb4a9;
  --on-error: #680003;
  --error-container: #ffb4a9;
  --on-error-container: #ffdad4;
  --background: #201a19;
  --on-background: #ede0dd;
  --surface: #201a19;
  --on-surface: #ede0dd;
  --outline: #a08c88;
  --surface-variant: #534340;
  --on-surface-variant: #d8c2be;
  --inverse-surface: #ede0dd;
  --inverse-on-surface: #201a19;

  --overlay: rgba(0,0,0,.5);
  --active: rgba(255,255,255,.2);
}