.is-dark-5 {
  --primary: #abd371;
  --on-primary: #203600;
  --primary-container: #abd371;
  --on-primary-container: #c6f089;
  --secondary: #c0caac;
  --on-secondary: #2b331e;
  --secondary-container: #c0caac;
  --on-secondary-container: #dce6c7;
  --tertiary: #a0cfca;
  --on-tertiary: #013734;
  --tertiary-container: #a0cfca;
  --on-tertiary-container: #bbece6;
  --error: #ffb4a9;
  --on-error: #680003;
  --error-container: #ffb4a9;
  --on-error-container: #ffdad4;
  --background: #1b1c18;
  --on-background: #e4e3dc;
  --surface: #1b1c18;
  --on-surface: #e4e3dc;
  --outline: #8f9285;
  --surface-variant: #44483d;
  --on-surface-variant: #c5c8b9;
  --inverse-surface: #e4e3dc;
  --inverse-on-surface: #1b1c18;

  --overlay: rgba(0,0,0,.5);
  --active: rgba(255,255,255,.2);
}