.is-dark {
  --color-1: #ba68c8;
  --color-1a: #ba68c880;
  --color-1b: #ba68c800;
  --color-2: #ffffff;
  --color-2a: #ffffff10;
  --color-2b: #ffffff20;
  --color-3: #ff9800;
  --color-4: #37474f;
  --color-4a: rgba(55, 71, 79, 0.9);
  --color-5: #263238;
  --shadow-1: 0 2rem 2rem 0 rgba(0, 0, 0, 0.14), 0 1rem 5rem 0 rgba(0, 0, 0, 0.12), 0 3rem 1rem -2rem rgba(0, 0, 0, 0.2);
  --shadow-2: 0 6rem 10rem 0 rgba(0, 0, 0, 0.14), 0 1rem 18rem 0 rgba(0, 0, 0, 0.12), 0 3rem 5rem -1rem rgba(0, 0, 0, 0.3);
  --size: 1px;
}
