.is-dark-4 {
  --primary: #acc7ff;
  --on-primary: #002e6c;
  --primary-container: #acc7ff;
  --on-primary-container: #d6e2ff;
  --secondary: #bfc6dc;
  --on-secondary: #283041;
  --secondary-container: #bfc6dc;
  --on-secondary-container: #dae2f9;
  --tertiary: #debbdf;
  --on-tertiary: #402843;
  --tertiary-container: #debbdf;
  --on-tertiary-container: #fbd7fb;
  --error: #ffb4a9;
  --on-error: #680003;
  --error-container: #ffb4a9;
  --on-error-container: #ffdad4;
  --background: #1b1b1e;
  --on-background: #e4e2e6;
  --surface: #1b1b1e;
  --on-surface: #e4e2e6;
  --outline: #8e9099;
  --surface-variant: #44474f;
  --on-surface-variant: #c4c6d0;
  --inverse-surface: #e4e2e6;
  --inverse-on-surface: #1b1b1e;

  --overlay: rgba(0,0,0,.5);
  --active: rgba(255,255,255,.2);
}