.dropdown {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  box-shadow: var(--shadow-2);
  background-color: var(--color-4);
  box-sizing: border-box;
  z-index: 2;
  top: auto;
  bottom: 0;
  left: 0;
  right: auto;
  width: 100%;
  max-height: 320rem;
  transform: translateY(100%);
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 14rem;
  font-weight: normal;
  text-transform: none;
  color: var(--color-2);
  line-height: normal;
  text-align: left;
}

.dropdown.no-wrap {
  width: auto;
}

.dropdown.active {
  opacity: 1;
  visibility: visible;
  max-width: none;
  animation: 0.1s dropdown-to-bottom;
}

.dropdown.border {
  border: 1rem solid var(--color-2b);
  box-shadow: none;
}

.dropdown.round {
  border-radius: 24rem;
}

.dropdown.right {
  left: 0;
  right: auto;
}

.dropdown.left {
  left: auto;
  right: 0;
}

.dropdown > a {
  display: block;
  padding: 8rem 16rem;
}

.dropdown > a:hover,
.dropdown > a.active {
  background-color: var(--color-2a);
}

.dropdown.no-wrap > a {
  white-space: nowrap;
}

.dropdown > a.row.no-wrap,
.dropdown > a.row.no-wrap + a.row.no-wrap {
  margin: 0 -8rem;
}

@keyframes dropdown-to-bottom {
  from {
    opacity: 0;
    transform: translateY(75%);
  }
  to {
    opacity: 1;
    transform: translateY(100%);
  }
}
