.fixed {
  position: fixed;
  border-radius: inherit;
  float: none;
}

.fixed.round {
  border-radius: 24rem;
}

.fixed.border {
  border: 1rem solid var(--color-2b);
}

.fixed.middle {
  top: 50%;
  transform: translateY(-50%);
}

.fixed.center {
  left: 50%;
  transform: translateX(-50%);
}

.fixed.middle.center {
  transform: translate(-50%, -50%);
}

.fixed.top {
  top: 0;
}

.fixed.left {
  left: 0;
}

.fixed.right {
  right: 0;
}

.fixed.bottom {
  bottom: 0;
}

.fixed.left.right {
  width: auto;
}

.fixed.left.right.small {
  height: 320rem;
}

.fixed.left.right.medium {
  height: 448rem;
}

.fixed.left.right.large {
  height: 704rem;
}

.fixed.top.bottom.small {
  width: 320rem;
}

.fixed.top.bottom.medium {
  width: 448rem;
}

.fixed.top.bottom.large {
  width: 704rem;
}