body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  color: var(--color-2);
  background-color: var(--color-5);
  margin: 0;
  overflow-x: hidden;
}

* {
  -webkit-tap-highlight-color: transparent;
  position: relative;
  vertical-align: middle;
  color: var(--color-2);
}

* > * {
  color: inherit;
}
 
a,
button {
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  border: none;
  font-family: inherit;
  outline: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 8px 0;
  display: flex;
  align-items: center;
}

* > h1:first-child,
* > h2:first-child,
* > h3:first-child,
* > h4:first-child,
* > h5:first-child,
* > h6:first-child {
  margin: 0 0 8px 0;
}

h1,
.h1 {
  font-size: 4.2rem;
}

h2,
.h2 {
  font-size: 3.56rem;
}

h3,
.h3 {
  font-size: 2.92rem;
}

h4,
.h4 {
  font-size: 2.28rem;
}

h5,
.h5 {
  font-size: 1.64rem;
}

h6,
.h6 {
  font-size: 1.1rem;
}

.link {
  color: var(--color-1);
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.small-text {
  font-size: 0.8rem;
}

.medium-text,
.text {
  font-size: 0.9rem;
}

.large-text {
  font-size: 1rem;
}

.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.bold {
  font-weight: bold;
}

.overline {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

p {
  margin: 8px 0;
}

label {
  font-size: 0.8rem;
  color: #9e9e9e;
}

.space,
.small-space {
  height: 16px;
  display: block;
}

.medium-space {
  height: 32px;
  display: block;
}

.large-space {
  height: 48px;
  display: block;
}

.divider,
.small-divider {
  border-bottom: 1px solid #9e9e9e50;
  display: block;
  margin: 8px 0;
}

.medium-divider {
  border-bottom: 1px solid #9e9e9e50;
  display: block;
  margin: 16px 0;
}

.large-divider {
  border-bottom: 1px solid #9e9e9e50;
  display: block;
  margin: 24px 0;
}

.row.divider,
.row.small-divider {
  margin: 0 -8px !important;
  padding: 8px 0;
}

.row.medium-divider {
  margin: 0 -8px !important;
  padding: 16px 0;
}

.row.large-divider {
  margin: 0 -8px !important;
  padding: 24px 0;
}

.no-padding {
  padding: 0 !important;
}

.small-padding {
  padding: 8px !important;
}

.medium-padding,
.padding {
  padding: 16px !important;
}

.large-padding {
  padding: 24px !important;
}

.no-margin {
  margin: 0 !important;
}

.small-margin {
  margin: 8px !important;
  max-width: calc(100% - 16px);
  max-height: calc(100% - 16px);
}

.medium-margin,
.margin {
  margin: 16px !important;
  max-width: calc(100% - 32px);
  max-height: calc(100% - 32px);
}

.large-margin {
  margin: 24px !important;
  max-width: calc(100% - 48px);
  max-height: calc(100% - 48px);
}

.shadow {
  background-color: #00000050 !important;
  box-shadow: none !important;
}

.left-shadow {
  background-color: transparent !important;
  box-shadow: none !important;
  background-image: linear-gradient(to right, black, transparent) !important;
}

.right-shadow {
  background-color: transparent !important;
  box-shadow: none !important;
  background-image: linear-gradient(to left, black, transparent) !important;
}

.bottom-shadow {
  background-color: transparent !important;
  box-shadow: none !important;
  background-image: linear-gradient(to top, black, transparent) !important;
}

.top-shadow {
  background-color: transparent !important;
  box-shadow: none !important;
  background-image: linear-gradient(to bottom, black, transparent) !important;
}

.middle-align {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.bottom-align {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.top-align {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.left-align {
  text-align: left;
  justify-content: flex-start;
}

.right-align {
  text-align: right;
  justify-content: flex-end;
}

.center-align {
  text-align: center;
  justify-content: center;
}

.wrap {
  display: block;
}

.front {
  z-index: 10;
}

.back {
  z-index: -10;
}

.flat {
  box-shadow: none;
}

.scroll {
  overflow: auto;
}

.no-scroll {
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .medium-device:not(.small-device),
  .large-device:not(.small-device),
  .medium-device.large-device:not(.small-device) {
    display: none !important;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .small-device:not(.medium-device),
  .large-device:not(.medium-device),
  .small-device.large-device:not(.medium-device) {
    display: none !important;
  }
}

@media only screen and (min-width: 993px) {
  .medium-device:not(.large-device),
  .small-device:not(.large-device),
  .medium-device.small-device:not(.large-device) {
    display: none !important;
  }
}
