:root {
  --color-1: #2196f3;
  --color-1a: #2196f380;
  --color-1b: #2196f300;
  --color-2: #000000;
  --color-2a: #00000010;
  --color-2b: #00000020;
  --color-3: #e91e63;
  --color-4: #ffffff;
  --color-4a: rgba(255, 255, 255, 0.9);
  --color-5: #f5f5f5;
  --small-round: 24px;
  --medium-round: 32px;
  --large-round: 40px;
  --small-text: 0.8rem;
  --medium-text: 0.9rem;
  --large-text: 1rem;
}
