.is-light-1 {
  --primary: #9c4234;
  --on-primary: #ffffff;
  --primary-container: #9c4234;
  --on-primary-container: #400100;
  --secondary: #775751;
  --on-secondary: #ffffff;
  --secondary-container: #775751;
  --on-secondary-container: #2d1511;
  --tertiary: #6f5c2e;
  --on-tertiary: #ffffff;
  --tertiary-container: #6f5c2e;
  --on-tertiary-container: #261a00;
  --error: #ba1b1b;
  --on-error: #ffffff;
  --error-container: #ba1b1b;
  --on-error-container: #410001;
  --background: #fcfcfc;
  --on-background: #201a19;
  --surface: #fcfcfc;
  --on-surface: #201a19;
  --outline: #857370;
  --surface-variant: #f5deda;
  --on-surface-variant: #534341;
  --inverse-surface: #362f2e;
  --inverse-on-surface: #fbeeeb;

  --overlay: rgba(0,0,0,.5);
  --active: rgba(0,0,0,.1);
}