img,
video {
  border-radius: inherit;
  margin: 0 auto;
}

img.right,
video.right,
i.right {
  position: absolute;
  right: 0;
}

img.left,
video.left,
i.left {
  position: absolute;
  left: 0;
}

img.small,
img.medium,
img.large,
img.tiny,
img.extra,
img.border,
img.round,
img.circle,
img.responsive,
video.small,
video.medium,
video.large,
video.tiny,
video.extra,
video.border,
video.round,
video.circle,
video.responsive {
  object-fit: cover;
  object-position: center;
  transition: 0.3s transform, 0.3s border-radius, 0.3s padding;
}

img.border,
video.border {
  border: 1px solid var(--color-2b);
}

img.round,
video.round {
  border-radius: 8px !important;
  height: 48px !important;
  width: 48px !important;
}

img.circle,
video.circle {
  border-radius: 50% !important;
  height: 48px !important;
  width: 48px !important;
}

img.tiny,
video.tiny {
  height: 32px !important;
  width: 32px !important;
}

img.small,
video.small {
  height: 40px !important;
  width: 40px !important;
}

img.medium,
video.medium {
  height: 48px !important;
  width: 48px !important;
}

img.large,
video.large {
  height: 56px !important;
  width: 56px !important;
}

img.extra,
video.extra {
  height: 64px !important;
  width: 64px !important;
}

img.responsive,
video.responsive {
  width: 100% !important;
  height: 100% !important;
}

button > img.responsive,
.button > img.responsive,
.chip > img.responsive {
  height: calc(100% - 4px) !important;
  width: auto !important;
}

img.responsive.tiny,
video.responsive.tiny {
  width: 100% !important;
  height: 64px !important;
}

img.responsive.small,
video.responsive.small {
  width: 100% !important;
  height: 128px !important;
}

img.responsive.medium,
video.responsive.medium {
  width: 100% !important;
  height: 192px !important;
}

img.responsive.large,
video.responsive.large {
  width: 100% !important;
  height: 256px !important;
}

img.responsive.extra,
video.responsive.extra {
  width: 100% !important;
  height: 320px !important;
}

img.empty-state,
video.empty-state {
  max-width: 100%;
  width: 400px;
}

button > img:not(.responsive, .tiny, .small, .medium, .large, .extra),
.button > img:not(.responsive, .tiny, .small, .medium, .large, .extra),
.chip > img:not(.responsive, .tiny, .small, .medium, .large, .extra),
.field > img:not(.responsive, .tiny, .small, .medium, .large, .extra),
.tabs > a > img:not(.responsive, .tiny, .small, .medium, .large, .extra),
td img:not(.responsive, .tiny, .small, .medium, .large, .extra) {
  max-width: 24px!important;
  max-height: 24px!important;
}

.button.diamond > img,
button.diamond > img,
.button.circle > img,
button.circle > img,
.button.square > img,
button.square > img {
  margin: 0!important;
  padding: 0!important;
}