.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 0;
  position: fixed;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.3);
  background-color: var(--color-4);
  transform: none;
  box-sizing: border-box;
  z-index: 100;
  left: 0;
  top: 0;
  bottom: 0;
  height: auto;
  width: auto;
  text-align: center;
}

.menu::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: inherit;
  z-index: 1;
  top: 0;
  left: 0;
  border-radius: inherit;
}

.menu.border {
  box-shadow: none;
  border: 1px solid var(--color-2a);
}

.menu.left.border {
  border-top: none;
  border-bottom: none;
  border-left: none;
}

.menu.right.border {
  border-top: none;
  border-bottom: none;
  border-right: none;
}

.menu.top.border {
  border-top: none;
  border-right: none;
  border-left: none;
}

.menu.bottom.border {
  border-bottom: none;
  border-right: none;
  border-left: none;
}

.menu.round {
  border-radius: var(--large-round);
}

.menu.left.round:not(.margin, .small-margin, .medium-margin, .large-margin) {
  border-radius: 0 var(--small-round) var(--small-round) 0;
}

.menu.right.round:not(.margin, .small-margin, .medium-margin, .large-margin) {
  border-radius: var(--small-round) 0 0 var(--small-round);
}

.menu.bottom.round:not(.margin, .small-margin, .medium-margin, .large-margin) {
  border-radius: var(--small-round) var(--small-round) 0 0;
}

.menu.top.round:not(.margin, .small-margin, .medium-margin, .large-margin) {
  border-radius: 0 0 var(--small-round) var(--small-round);
}

.menu.active {
  box-shadow: none;
}

.menu.top {
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  width: auto;
  height: 56px;
  justify-content: center;
  flex-direction: row;
}

.menu.left {
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  width: 64px;
  height: auto;
  justify-content: flex-start;
  flex-direction: column;
}

.menu.right {
  top: 0;
  left: auto;
  right: 0;
  bottom: 0;
  width: 64px;
  height: auto;
  justify-content: flex-start;
  flex-direction: column;
}

.menu.bottom {
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: 56px;
  justify-content: center;
  flex-direction: row;
}

.menu.small.right,
.menu.small.left {
  width: 56px;
}

.menu.medium.right,
.menu.medium.left {
  width: 64px;
}

.menu.large.right,
.menu.large.left {
  width: 72px;
}

.menu.small.top,
.menu.small.bottom {
  height: 48px;
}

.menu.medium.top,
.menu.medium.bottom {
  height: 56px;
}

.menu.large.top,
.menu.large.bottom {
  height: 64px;
}

.menu > button,
.menu > .button,
.menu > .chip,
.menu > img,
.menu > video {
  z-index: 1;
}

.menu > a:not(.button, .chip) {
  border: 0;
  display: block;
  font-size: 0.7rem;
  padding: 8px;
  text-decoration: none;
  color: inherit;
  text-align: center;
  z-index: 1;
}

.menu > a:not(.button, .chip):hover {
  color: var(--color-1);
}

.menu.top > a:not(.button, .chip),
.menu.bottom > a:not(.button, .chip) {
  margin: 8px;
}

.menu > a:not(.button, .chip).active {
  color: var(--color-1);
}

.menu.small > a > div {
  display: none;
}

.menu > .row {
  z-index: 1;
}

@media only screen and (max-width: 600px) {
  .menu.bottom {
    justify-content: space-around;
  }
  .menu.top {
    justify-content: space-around;
  }

  .menu.top > button,
  .menu.top > .button,
  .menu.top > .chip,
  .menu.top > img,
  .menu.top > video,
  .menu.bottom > button,
  .menu.bottom > .button,
  .menu.bottom > .chip,
  .menu.bottom > img,
  .menu.bottom > video {
    margin: 0;
  }

  .menu.top > a:not(.button, .chip),
  .menu.bottom > a:not(.button, .chip) {
    margin: 0;
    padding: 0;
  }
}
