nav {
  display: block;
  white-space: normal;
  margin: 0 -8px;
}

* + nav {
  margin-top: 8px;
}

.field.label > nav {
  margin-top: 12px;
}

nav.nowrap {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

nav > a,
nav > i,
nav > button,
nav > a:last-child,
nav > i:last-child,
nav > button:last-child,
nav > a:first-child,
nav > i:first-child,
nav > button:first-child,
nav > label {
  margin: 8px 8px 0 8px !important;
}
