nav {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin: 0 -8px;
}

* + nav {
  margin-top: 16px;
}

nav > a,
nav > i,
nav > button,
nav > label {
  margin: 0 8px;
}

nav.wrap {
  display: block;
  white-space: normal;
  margin: -8px;
}

* + nav.wrap {
  margin: 8px -8px;
}

nav.wrap > a,
nav.wrap > i,
nav.wrap > button,
nav.wrap > label {
  margin: 8px;
}

.field.label > nav {
  margin-top: 20px;
}