.page {
  opacity: 0;
  position: absolute;
  visibility: hidden;
}

.page.active {
  opacity: 1;
  position: inherit;
  visibility: visible;
}

.page.top.active {
  animation: 0.4s page-to-bottom ease;
}

.page.bottom.active  {
  animation: 0.4s page-to-top ease;
}

.page.left.active {
  animation: 0.4s page-to-right ease;
}

.page.right.active {
  animation: 0.4s page-to-left ease;
}

@keyframes page-to-bottom {
  from {
    opacity: 0;
    transform: translateY(-64rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes page-to-top {
  from {
    opacity: 0;
    transform: translateY(64rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes page-to-left {
  from {
    opacity: 0;
    transform: translateX(64rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes page-to-right {
  from {
    opacity: 0;
    transform: translateX(-64rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}