table {
  width: 100%;
  border-spacing: 0;
  font-size: var(--medium-text);
}

table th {
  width: 1%;
  font-weight: 500;
  text-align: left;
  padding: 8px 4px;
  margin: 0;
}

table td {
  width: 1%;
  text-align: left;
  padding: 8px 4px;
  margin: 0;
}

table.border td, 
table.border th {
  border-bottom: 1px solid var(--color-2b);
}

table.small td,
table.small th {
  padding: 4px 4px;
}

table.medium td,
table.medium th {
  padding: 8px 4px;
}

table.large td,
table.large th {
  padding: 12px 4px;
}

table.center-align td,
table.center-align th {
  text-align: center;
}

table.left-align td,
table.left-align th {
  text-align: left;
}

table.right-align td,
table.right-align th {
  text-align: right;
}
