.tabs {
  margin-top: 16rem;
  white-space: nowrap;
  border-bottom: 1rem solid var(--color-2b);
}

* > .tabs:first-child {
  margin-top: 0;
}

.tabs > a {
  display: inline-flex;
  align-items: center;
  font-size: 14rem;
  font-weight: 500;
  color: var(--color-2);
  padding: 0 16rem;
  text-transform: uppercase;
  border-bottom: 2rem solid transparent;
  text-align: center;
  min-height: 40rem;
}

.tabs > a > span {
  margin: 4rem;
}

.tabs.small > a {
  min-height: 32rem;
}

.tabs.medium > a {
  min-height: 40rem;
}

.tabs.large > a {
  min-height: 48rem;
}

.tabs > a.active {
  border-bottom: 2rem solid var(--color-2);
}