#toast {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 80%;
  height: auto;
  z-index: 200;
  transform: translateX(-50%);
}

#toast .toast.active {
  position: relative;
  visibility: visible;
  animation: 0.2s toast-to-top;
}

.toast {
  position: absolute;
  visibility: hidden;
  display: flex;
  align-items: center;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px -1px rgba(0, 0, 0, 0.3);
  background-color: var(--color-4);
  padding: 12px;
  display: block;
  opacity: 1;
  margin: 8px;
  cursor: pointer;
  transform: translateY(0);
  text-align: left;
}

.toast.small {
  padding: 8px;
}

.toast.medium {
  padding: 12px;
}

.toast.large {
  padding: 16px;
}

.toast.round {
  border-radius: 24px;
}

.toast > * + * {
  margin-left: 8px;
}

@keyframes toast-to-top {
  0% {
    opacity: 0;
    transform: translateY(16px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (min-width: 993px) {
  #toast {
    width: 40%;
  }
}