.toast {
  position: fixed;
  top: auto;
  bottom: 64rem;
  left: 50%;
  right: auto;
  width: 80%;
  height: auto;
  z-index: 200;
  visibility: hidden;
  display: inline-block;
  box-shadow: var(--shadow-2);
  background-color: var(--color-4);
  padding: 16rem;
  opacity: 1;
  margin: 8rem;
  cursor: pointer;
  transform: translate(-50%, 0);
  text-align: left;
  vertical-align: middle;
}

.toast.top {
  top: 64rem;
  bottom: auto;
}

.toast.bottom {
  top: auto;
  bottom: 64rem;
}

.toast.active  {
  visibility: visible;
  animation: 0.2s toast-to-top;
}

.toast.active.top {
  visibility: visible;
  animation: 0.2s toast-to-bottom;
}

.toast.small {
  padding: 8rem;
}

.toast.medium {
  padding: 16rem;
}

.toast.large {
  padding: 24rem;
}

.toast.round {
  border-radius: 24rem;
}

.toast > * + * {
  margin-left: 8rem;
}

@keyframes toast-to-top {
  0% {
    opacity: 0;
    transform: translate(-50%, 16rem);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes toast-to-bottom {
  0% {
    opacity: 0;
    transform: translate(-50%, -16rem);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@media only screen and (min-width: 993px) {
  .toast {
    width: 40%;
  }
}