video.small,
video.medium,
video.large,
video.tiny,
video.extra,
video.border,
video.round,
video.circle,
video.responsive {
  object-fit: cover;
  object-position: center;
}

video.border {
  border: 1px solid var(--color-2b);
}

video.round {
  border-radius: 8px;
  height: 48px !important;
  width: 48px !important;
}

video.circle {
  border-radius: 50%;
  height: 48px !important;
  width: 48px !important;
}

video.tiny {
  height: 32px !important;
  width: 32px !important;
}

video.small {
  height: 40px !important;
  width: 40px !important;
}

video.medium {
  height: 48px !important;
  width: 48px !important;
}

video.large {
  height: 56px !important;
  width: 56px !important;
}

video.extra {
  height: 64px !important;
  width: 64px !important;
}

video.responsive {
  width: 100% !important;
  height: 100% !important;
  border-radius: inherit;
}

video.responsive.tiny {
  width: 100% !important;
  height: 64px !important;
}

video.responsive.small {
  width: 100% !important;
  height: 128px !important;
}

video.responsive.medium {
  width: 100% !important;
  height: 192px !important;
}

video.responsive.large {
  width: 100% !important;
  height: 256px !important;
}

video.responsive.extra {
  width: 100% !important;
  height: 320px !important;
}

video.responsive.round {
  border-radius: 16px;
}

video.empty-state {
  max-width: 100%;
  width: 400px;
}

td > video.round,
td > nav > video.round,
td > nav > a > video.round,
td > video.circle,
td > nav > video.circle,
td > nav > a > video.circle {
  width: 24px !important;
  height: 24px !important;
}

.card.round > video.responsive:not(.round):first-child {
  border-radius: 16px 16px 0 0;
}

.card.round > video.responsive:not(.round):last-child {
  border-radius: 0 0 16px 16px;
}
