video.responsive {
  object-fit: cover;
  object-position: center;
}

video.responsive.tiny {
  width: 100% !important;
  height: 64px !important;
}

video.responsive.small {
  width: 100% !important;
  height: 128px !important;
}

video.responsive.medium {
  width: 100% !important;
  height: 192px !important;
}

video.responsive.large {
  width: 100% !important;
  height: 256px !important;
}

video.responsive.extra {
  width: 100% !important;
  height: 320px !important;
}

video.responsive.round {
  border-radius: 16px;
}

video.empty-state {
  max-width: 100%;
  width: 400px;
}

.card.round > video.responsive:not(.round):first-child {
  border-radius: 16px 16px 0 0;
}

.card.round > video.responsive:not(.round):last-child {
  border-radius: 0 0 16px 16px;
}