.wave::after,
.btn::after,
.button::after,
button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  background-position: center;
  transition: background 0.8s;
}

.wave:hover::after,
.btn:hover::after,
.button:hover::after,
button:hover::after {
  background: #ffffff30 radial-gradient(circle, transparent 1%, #ffffff60 1%) center/15000%;
}

.wave:active::after,
.btn:active::after,
.button:active::after,
button:active::after {
  background-color: inherit;
  background-size: 100%;
  transition: background 0s;
}

.no-wave::after,
.no-wave:hover::after, 
.no-wave:active::after{
  display: none;
}