.middle-align {
  display: flex;
  align-items: center;
}

.bottom-align {
  display: flex;
  align-items: flex-end;
}

.top-align {
  display: flex;
  align-items: flex-start;
}

.left-align {
  text-align: left;
  justify-content: flex-start;
}

.right-align {
  text-align: right;
  justify-content: flex-end;
}

.center-align {
  text-align: center;
  justify-content: center;
}

.center-align > .row,
.center-align > table {
  margin-left: auto;
  margin-right: auto;
}

.right-align > .row,
.right-align > table {
  margin-left: auto;
}

.left-align > .row,
.left-align > table {
  margin-right: auto;
}