.middle-align {
  display: flex;
  align-items: center !important;
}

.bottom-align {
  display: flex;
  align-items: end !important;
}

.top-align {
  display: flex;
  align-items: start !important;
}

.left-align {
  text-align: start;
  justify-content: start !important;
}

.right-align {
  text-align: end;
  justify-content: end !important;
}

.center-align {
  text-align: center;
  justify-content: center !important;
}
