.blur,
.medium-blur {
  backdrop-filter: blur(16px);
}

.small-blur {
  backdrop-filter: blur(8px);
}

.large-blur {
  backdrop-filter: blur(24px);
}

:is(.blur, .small-blur, .medium-blur, .large-blur),
:is(.blur, .small-blur, .medium-blur, .large-blur).light {
  background-color: rgba(255,255,255,.5) !important;
}

.dark :is(.blur, .small-blur, .medium-blur, .large-blur),
:is(.blur, .small-blur, .medium-blur, .large-blur).dark {
  background-color: rgba(0,0,0,.5) !important;
}