:is(.blur, .small-blur, .medium-blur, .large-blur),
:is(.blur, .small-blur, .medium-blur, .large-blur).light {
  ---blur: 1rem;
  -webkit-backdrop-filter: blur(var(---blur));
  backdrop-filter: blur(var(---blur));
  color: var(--on-surface);
  background-color: rgb(255 255 255 / 0.5);
}

.dark :is(.blur, .small-blur, .medium-blur, .large-blur),
:is(.blur, .small-blur, .medium-blur, .large-blur).dark {
  background-color: rgb(0 0 0 / 0.5);
}

.small-blur {
  ---blur: 0.5rem;
}

.large-blur {
  ---blur: 1.5rem;
}
