.red,
.red6 {
  background-color: #F44336 !important;
}

.red-border {
  border-color: #F44336 !important;
}

.red-text {
  color: #F44336 !important;
}

.red1 {
  background-color: #FFEBEE !important;
}

.red2 {
  background-color: #FFCDD2 !important;
}

.red3 {
  background-color: #EF9A9A !important;
}

.red4 {
  background-color: #E57373 !important;
}

.red5 {
  background-color: #EF5350 !important;
}

.red7 {
  background-color: #E53935 !important;
}

.red8 {
  background-color: #D32F2F !important;
}

.red9 {
  background-color: #C62828 !important;
}

.red10 {
  background-color: #B71C1C !important;
}

.pink,
.pink6 {
  background-color: #E91E63 !important;
}

.pink-border {
  border-color: #E91E63 !important;
}

.pink-text {
  color: #E91E63 !important;
}

.pink1 {
  background-color: #FCE4EC !important;
}

.pink2 {
  background-color: #F8BBD0 !important;
}

.pink3 {
  background-color: #F48FB1 !important;
}

.pink4 {
  background-color: #F06292 !important;
}

.pink5 {
  background-color: #EC407A !important;
}

.pink7 {
  background-color: #D81B60 !important;
}

.pink8 {
  background-color: #C2185B !important;
}

.pink9 {
  background-color: #AD1457 !important;
}

.pink10 {
  background-color: #880E4F !important;
}

.purple,
.purple6 {
  background-color: #9C27B0 !important;
}

.purple-border {
  border-color: #9C27B0 !important;
}

.purple-text {
  color: #9C27B0 !important;
}

.purple1 {
  background-color: #F3E5F5 !important;
}

.purple2 {
  background-color: #E1BEE7 !important;
}

.purple3 {
  background-color: #CE93D8 !important;
}

.purple4 {
  background-color: #BA68C8 !important;
}

.purple5 {
  background-color: #AB47BC !important;
}

.purple7 {
  background-color: #8E24AA !important;
}

.purple8 {
  background-color: #7B1FA2 !important;
}

.purple9 {
  background-color: #6A1B9A !important;
}

.purple10 {
  background-color: #4A148C !important;
}

.deep-purple,
.deep-purple6 {
  background-color: #673AB7 !important;
}

.deep-purple-border {
  border-color: #673AB7 !important;
}

.deep-purple-text {
  color: #673AB7 !important;
}

.deep-purple1 {
  background-color: #EDE7F6 !important;
}

.deep-purple2 {
  background-color: #D1C4E9 !important;
}

.deep-purple3 {
  background-color: #B39DDB !important;
}

.deep-purple4 {
  background-color: #9575CD !important;
}

.deep-purple5 {
  background-color: #7E57C2 !important;
}

.deep-purple7 {
  background-color: #5E35B1 !important;
}

.deep-purple8 {
  background-color: #512DA8 !important;
}

.deep-purple9 {
  background-color: #4527A0 !important;
}

.deep-purple10 {
  background-color: #311B92 !important;
}

.indigo,
.indigo6 {
  background-color: #3F51B5 !important;
}

.indigo-border {
  border-color: #3F51B5 !important;
}

.indigo-text {
  color: #3F51B5 !important;
}

.indigo1 {
  background-color: #E8EAF6 !important;
}

.indigo2 {
  background-color: #C5CAE9 !important;
}

.indigo3 {
  background-color: #9FA8DA !important;
}

.indigo4 {
  background-color: #7986CB !important;
}

.indigo5 {
  background-color: #5C6BC0 !important;
}

.indigo7 {
  background-color: #3949AB !important;
}

.indigo8 {
  background-color: #303F9F !important;
}

.indigo9 {
  background-color: #283593 !important;
}

.indigo10 {
  background-color: #1A237E !important;
}

.blue,
.blue6 {
  background-color: #2196F3 !important;
}

.blue-border {
  border-color: #2196F3 !important;
}

.blue-text {
  color: #2196F3 !important;
}

.blue1 {
  background-color: #E3F2FD !important;
}

.blue2 {
  background-color: #BBDEFB !important;
}

.blue3 {
  background-color: #90CAF9 !important;
}

.blue4 {
  background-color: #64B5F6 !important;
}

.blue5 {
  background-color: #42A5F5 !important;
}

.blue7 {
  background-color: #1E88E5 !important;
}

.blue8 {
  background-color: #1976D2 !important;
}

.blue9 {
  background-color: #1565C0 !important;
}

.blue10 {
  background-color: #0D47A1 !important;
}

.light-blue,
.light-blue6 {
  background-color: #03A9F4 !important;
}

.light-blue-border {
  border-color: #03A9F4 !important;
}

.light-blue-text {
  color: #03A9F4 !important;
}

.light-blue1 {
  background-color: #E1F5FE !important;
}

.light-blue2 {
  background-color: #B3E5FC !important;
}

.light-blue3 {
  background-color: #81D4FA !important;
}

.light-blue4 {
  background-color: #4FC3F7 !important;
}

.light-blue5 {
  background-color: #29B6F6 !important;
}

.light-blue7 {
  background-color: #039BE5 !important;
}

.light-blue8 {
  background-color: #0288D1 !important;
}

.light-blue9 {
  background-color: #0277BD !important;
}

.light-blue10 {
  background-color: #01579B !important;
}

.cyan,
.cyan6 {
  background-color: #00BCD4 !important;
}

.cyan-border {
  border-color: #00BCD4 !important;
}

.cyan-text {
  color: #00BCD4 !important;
}

.cyan1 {
  background-color: #E0F7FA !important;
}

.cyan2 {
  background-color: #B2EBF2 !important;
}

.cyan3 {
  background-color: #80DEEA !important;
}

.cyan4 {
  background-color: #4DD0E1 !important;
}

.cyan5 {
  background-color: #26C6DA !important;
}

.cyan7 {
  background-color: #00ACC1 !important;
}

.cyan8 {
  background-color: #0097A7 !important;
}

.cyan9 {
  background-color: #00838F !important;
}

.cyan10 {
  background-color: #006064 !important;
}

.teal,
.teal6 {
  background-color: #009688 !important;
}

.teal-border {
  border-color: #009688 !important;
}

.teal-text {
  color: #009688 !important;
}

.teal1 {
  background-color: #E0F2F1 !important;
}

.teal2 {
  background-color: #B2DFDB !important;
}

.teal3 {
  background-color: #80CBC4 !important;
}

.teal4 {
  background-color: #4DB6AC !important;
}

.teal5 {
  background-color: #26A69A !important;
}

.teal7 {
  background-color: #00897B !important;
}

.teal8 {
  background-color: #00796B !important;
}

.teal9 {
  background-color: #00695C !important;
}

.teal10 {
  background-color: #004D40 !important;
}

.green,
.green6 {
  background-color: #4CAF50 !important;
}

.green-border {
  border-color: #4CAF50 !important;
}

.green-text {
  color: #4CAF50 !important;
}

.green1 {
  background-color: #E8F5E9 !important;
}

.green2 {
  background-color: #C8E6C9 !important;
}

.green3 {
  background-color: #A5D6A7 !important;
}

.green4 {
  background-color: #81C784 !important;
}

.green5 {
  background-color: #66BB6A !important;
}

.green7 {
  background-color: #43A047 !important;
}

.green8 {
  background-color: #388E3C !important;
}

.green9 {
  background-color: #2E7D32 !important;
}

.green10 {
  background-color: #1B5E20 !important;
}

.light-green,
.light-green6 {
  background-color: #8BC34A !important;
}

.light-green-border {
  border-color: #8BC34A !important;
}

.light-green-text {
  color: #8BC34A !important;
}

.light-green1 {
  background-color: #F1F8E9 !important;
}

.light-green2 {
  background-color: #DCEDC8 !important;
}

.light-green3 {
  background-color: #C5E1A5 !important;
}

.light-green4 {
  background-color: #AED581 !important;
}

.light-green5 {
  background-color: #9CCC65 !important;
}

.light-green7 {
  background-color: #7CB342 !important;
}

.light-green8 {
  background-color: #689F38 !important;
}

.light-green9 {
  background-color: #558B2F !important;
}

.light-green10 {
  background-color: #33691E !important;
}

.lime,
.lime6 {
  background-color: #CDDC39 !important;
}

.lime-border {
  border-color: #CDDC39 !important;
}

.lime-text {
  color: #CDDC39 !important;
}

.lime1 {
  background-color: #F9FBE7 !important;
}

.lime2 {
  background-color: #F0F4C3 !important;
}

.lime3 {
  background-color: #E6EE9C !important;
}

.lime4 {
  background-color: #DCE775 !important;
}

.lime5 {
  background-color: #D4E157 !important;
}

.lime7 {
  background-color: #C0CA33 !important;
}

.lime8 {
  background-color: #AFB42B !important;
}

.lime9 {
  background-color: #9E9D24 !important;
}

.lime10 {
  background-color: #827717 !important;
}

.yellow,
.yellow6 {
  background-color: #FFEB3B !important;
}

.yellow-border {
  border-color: #FFEB3B !important;
}

.yellow-text {
  color: #FFEB3B !important;
}

.yellow1 {
  background-color: #FFFDE7 !important;
}

.yellow2 {
  background-color: #FFF9C4 !important;
}

.yellow3 {
  background-color: #FFF59D !important;
}

.yellow4 {
  background-color: #FFF176 !important;
}

.yellow5 {
  background-color: #FFEE58 !important;
}

.yellow7 {
  background-color: #FDD835 !important;
}

.yellow8 {
  background-color: #FBC02D !important;
}

.yellow9 {
  background-color: #F9A825 !important;
}

.yellow10 {
  background-color: #F57F17 !important;
}

.amber,
.amber6 {
  background-color: #FFC107 !important;
}

.amber-border {
  border-color: #FFC107 !important;
}

.amber-text {
  color: #FFC107 !important;
}

.amber1 {
  background-color: #FFF8E1 !important;
}

.amber2 {
  background-color: #FFECB3 !important;
}

.amber3 {
  background-color: #FFE082 !important;
}

.amber4 {
  background-color: #FFD54F !important;
}

.amber5 {
  background-color: #FFCA28 !important;
}

.amber7 {
  background-color: #FFB300 !important;
}

.amber8 {
  background-color: #FFA000 !important;
}

.amber9 {
  background-color: #FF8F00 !important;
}

.amber10 {
  background-color: #FF6F00 !important;
}

.orange,
.orange6 {
  background-color: #FF9800 !important;
}

.orange-border {
  border-color: #FF9800 !important;
}

.orange-text {
  color: #FF9800 !important;
}

.orange1 {
  background-color: #FFF3E0 !important;
}

.orange2 {
  background-color: #FFE0B2 !important;
}

.orange3 {
  background-color: #FFCC80 !important;
}

.orange4 {
  background-color: #FFB74D !important;
}

.orange5 {
  background-color: #FFA726 !important;
}

.orange7 {
  background-color: #FB8C00 !important;
}

.orange8 {
  background-color: #F57C00 !important;
}

.orange9 {
  background-color: #EF6C00 !important;
}

.orange10 {
  background-color: #E65100 !important;
}

.deep-orange,
.deep-orange6 {
  background-color: #FF5722 !important;
}

.deep-orange-border {
  border-color: #FF5722 !important;
}

.deep-orange-text {
  color: #FF5722 !important;
}

.deep-orange1 {
  background-color: #FBE9E7 !important;
}

.deep-orange2 {
  background-color: #FFCCBC !important;
}

.deep-orange3 {
  background-color: #FFAB91 !important;
}

.deep-orange4 {
  background-color: #FF8A65 !important;
}

.deep-orange5 {
  background-color: #FF7043 !important;
}

.deep-orange7 {
  background-color: #F4511E !important;
}

.deep-orange8 {
  background-color: #E64A19 !important;
}

.deep-orange9 {
  background-color: #D84315 !important;
}

.deep-orange10 {
  background-color: #BF360C !important;
}

.brown,
.brown6 {
  background-color: #795548 !important;
}

.brown-border {
  border-color: #795548 !important;
}

.brown-text {
  color: #795548 !important;
}

.brown1 {
  background-color: #EFEBE9 !important;
}

.brown2 {
  background-color: #D7CCC8 !important;
}

.brown3 {
  background-color: #BCAAA4 !important;
}

.brown4 {
  background-color: #A1887F !important;
}

.brown5 {
  background-color: #8D6E63 !important;
}

.brown7 {
  background-color: #6D4C41 !important;
}

.brown8 {
  background-color: #5D4037 !important;
}

.brown9 {
  background-color: #4E342E !important;
}

.brown10 {
  background-color: #3E2723 !important;
}

.blue-grey,
.blue-grey6 {
  background-color: #607D8B !important;
}

.blue-grey-border {
  border-color: #607D8B !important;
}

.blue-grey-text {
  color: #607D8B !important;
}

.blue-grey1 {
  background-color: #ECEFF1 !important;
}

.blue-grey2 {
  background-color: #CFD8DC !important;
}

.blue-grey3 {
  background-color: #B0BEC5 !important;
}

.blue-grey4 {
  background-color: #90A4AE !important;
}

.blue-grey5 {
  background-color: #78909C !important;
}

.blue-grey7 {
  background-color: #546E7A !important;
}

.blue-grey8 {
  background-color: #455A64 !important;
}

.blue-grey9 {
  background-color: #37474F !important;
}

.blue-grey10 {
  background-color: #263238 !important;
}

.grey,
.grey6 {
  background-color: #9E9E9E !important;
}

.grey-border {
  border-color: #9E9E9E !important;
}

.grey-text {
  color: #9E9E9E !important;
}

.grey1 {
  background-color: #FAFAFA !important;
}

.grey2 {
  background-color: #F5F5F5 !important;
}

.grey3 {
  background-color: #EEE !important;
}

.grey4 {
  background-color: #E0E0E0 !important;
}

.grey5 {
  background-color: #BDBDBD !important;
}

.grey7 {
  background-color: #757575 !important;
}

.grey8 {
  background-color: #616161 !important;
}

.grey9 {
  background-color: #424242 !important;
}

.grey10 {
  background-color: #212121 !important;
}
