.divider,
.small-divider,
.medium-divider,
.large-divider {
  block-size: 0.0625rem;
  background-color: var(--outline-variant);
  display: block;
  margin: 0 !important;
}

.medium-divider {
  margin: 1rem 0 !important;
}

.large-divider {
  margin: 1.5rem 0 !important;
}

.small-divider {
  margin: 0.5rem 0 !important;
}

.horizontal:is(.divider) {
  inline-size: 0.8em !important;
  block-size: 0.125rem !important;
  writing-mode: vertical-lr !important;
}

.no-line .horizontal {
  inline-size: 1rem !important;
}

.tiny-line .horizontal {
  inline-size: 1.25rem !important;
}

.small-line .horizontal {
  inline-size: 1.5rem !important;
}

.medium-line .horizontal {
  inline-size: 1.75rem !important;
}

.large-line .horizontal {
  inline-size: 2rem !important;
}

.extra-line .horizontal {
  inline-size: 2.25rem !important;
}

.horizontal:is(.small-height) {
  inline-size: 12rem !important;
}

.horizontal:is(.medium-height) {
  inline-size: 24rem !important;
}

.horizontal:is(.large-height) {
  inline-size: 36rem !important;
}
