.divider,
.small-divider,
.medium-divider,
.large-divider {
  block-size: 0.0625rem;
  background-color: var(--outline-variant);
  display: block;
  margin: 0 !important;
}

.medium-divider {
  margin: 1rem 0 !important;
}

.large-divider {
  margin: 1.5rem 0 !important;
}

.small-divider {
  margin: 0.5rem 0 !important;
}

.divider.vertical {
  inline-size: 0.0625rem;
}

.divider.vertical.max {
  align-self: stretch;
  flex: none;
}
