.round {
  border-radius: var(---round);
}

.small-round,
.medium-round,
.large-round {
  border-radius: var(---round) !important;
}

.top-round,
.bottom-round,
.left-round,
.right-round,
.medium-round,
.round {
  ---round: 2rem;
}

.small-round {
  ---round: 0.5rem;
}

.large-round {
  ---round: 3.5rem;
}

.no-round,
.square {
  border-radius: 0 !important;
}

.top-round {
  border-radius: var(---round) var(---round) 0 0 !important;
}

.bottom-round {
  border-radius: 0 0 var(---round) var(---round) !important;
}

.left-round {
  border-radius: var(---round) 0 0 var(---round) !important;
}

.right-round {
  border-radius: 0 var(---round) var(---round) 0 !important;
}

.top-round.left-round {
  border-radius: var(---round) var(---round) 0 !important;
}

.top-round.right-round {
  border-radius: var(---round) var(---round) var(---round) 0 !important;
}

.bottom-round.left-round {
  border-radius: var(---round) 0 var(---round) var(---round) !important;
}

.bottom-round.right-round {
  border-radius: 0 var(---round) var(---round) !important;
}

.circle {
  border-radius: 50%;
}

:is(button, .button, .chip).circle {
  border-radius: 2.5rem;
}

:is(.circle, .square):not(i, img, video, svg) {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0;
}

:is(.circle, .square) > span {
  display: none;
}

:is(.circle, .square).small:not(i, img, video, svg) {
  height: 2rem;
  width: 2rem;
}

:is(.circle, .square).large:not(i, img, video, svg) {
  height: 3rem;
  width: 3rem;
}

:is(.circle, .square).extra:not(i, img, video, svg) {
  height: 3.5rem;
  width: 3.5rem;
}

:is(.circle, .square).round {
  border-radius: 1rem !important;
}

.border:not(table, .field) {
  box-sizing: border-box;
  border: 0.0625rem solid var(--outline);
  background-color: transparent;
  box-shadow: none;
}

.no-border {
  border-color: transparent !important;
}

:is(nav, .row, dialog.max, header.fixed, footer.fixed, menu > a, menu.max, table, .tabs):not(.round) {
  border-radius: 0;
}
