.round:not(img, video) {
  border-radius: 32rem !important;
}

.no-round {
  border-radius: 0 !important;
}

.top-round {
  border-radius: 32rem 32rem 0 0 !important;
}

.bottom-round {
  border-radius: 0 0 32rem 32rem !important;
}

.left-round {
  border-radius: 32rem 0 0 32rem !important;
}

.right-round {
  border-radius: 0 32rem 32rem 0 !important;
}

.top-round.left-round {
  border-radius: 32rem 32rem 0 32rem !important;
}

.top-round.right-round {
  border-radius: 32rem 32rem 32rem 0 !important;
}

.bottom-round.left-round {
  border-radius: 32rem 0 32rem 32rem !important;
}

.bottom-round.right-round {
  border-radius: 0 32rem 32rem 32rem !important;
}

.circle:not(img, video),
.square:not(img, video) {
  height: 40rem;
  width: 40rem;
  padding: 0;
}

.circle > span,
.square > span {
  display: none;
}

.square.small:not(img, video),
.circle.small:not(img, video) {
  height: 32rem;
  width: 32rem;
}

.square.large:not(img, video),
.circle.large:not(img, video) {
  height: 48rem;
  width: 48rem;
}

.square.extra:not(img, video),
.circle.extra:not(img, video) {
  height: 56rem;
  width: 56rem;
}

.square.round,
.circle.round {
  border-radius: 16rem !important;
}

.border:not(table, .field) { 
  box-sizing: border-box;
  border: 1rem solid var(--outline);
  background-color: transparent;
  box-shadow: none;
}