.medium-round:not(i, img, video, svg),
.round:not(i, img, video, svg, button, .button, .chip, .field) {
  border-radius: 2rem !important;
}

.small-round:not(i, img, video, svg) {
  border-radius: 0.5rem !important;
}

.large-round:not(i, img, video, svg) {
  border-radius: 3.5rem !important;
}

.no-round,
.square {
  border-radius: 0 !important;
}

.top-round {
  border-radius: 2rem 2rem 0 0 !important;
}

.bottom-round {
  border-radius: 0 0 2rem 2rem !important;
}

.left-round {
  border-radius: 2rem 0 0 2rem !important;
}

.right-round {
  border-radius: 0 2rem 2rem 0 !important;
}

.top-round.left-round {
  border-radius: 2rem 2rem 0 !important;
}

.top-round.right-round {
  border-radius: 2rem 2rem 2rem 0 !important;
}

.bottom-round.left-round {
  border-radius: 2rem 0 2rem 2rem !important;
}

.bottom-round.right-round {
  border-radius: 0 2rem 2rem !important;
}

.circle {
  border-radius: 50%;
}

:is(button, .button, .chip).circle {
  border-radius: 2.5rem;
}

:is(.circle, .square):not(i, img, video, svg) {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0;
}

:is(.circle, .square) > span {
  display: none;
}

:is(.circle, .square).small:not(i, img, video, svg) {
  height: 2rem;
  width: 2rem;
}

:is(.circle, .square).large:not(i, img, video, svg) {
  height: 3rem;
  width: 3rem;
}

:is(.circle, .square).extra:not(i, img, video, svg) {
  height: 3.5rem;
  width: 3.5rem;
}

:is(.circle, .square).round {
  border-radius: 1rem !important;
}

.border:not(table, .field) {
  box-sizing: border-box;
  border: 0.0625rem solid var(--outline);
  background-color: transparent;
  box-shadow: none;
}

.badge.square {
  border-radius: 0;
}