.no-opacity {
  opacity: 1 !important;
}

.opacity {
  opacity: 0 !important;
}

.small-opacity {
  opacity: 0.75 !important;
}

.medium-opacity {
  opacity: 0.5 !important;
}

.large-opacity {
  opacity: 0.25 !important;
}
