.no-padding {
  padding: 0 !important;
}

.tiny-padding {
  padding: 0.25rem !important;
}

.small-padding {
  padding: 0.5rem !important;
}

.medium-padding,
.padding {
  padding: 1rem !important;
}

.large-padding {
  padding: 1.5rem !important;
}
