* {
  -webkit-tap-highlight-color: transparent;
  position: relative;
  vertical-align: middle;
  color: inherit;
  margin: 0;
  padding: 0;
  border-radius: inherit;
  box-sizing: border-box;
}

body {
  color: var(--on-background);
  background-color: var(--body);
  overflow-x: hidden;
}

label {
  font-size: 12rem;
  vertical-align: baseline;
}

a,
b,
i,
span {
  vertical-align: bottom;
}

a,
button,
.button {
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  border: none;
  font-family: inherit;
  outline: inherit;
  justify-content: center;
}