* {
  -webkit-tap-highlight-color: transparent;
  position: relative;
  vertical-align: middle;
  color: inherit;
}

body {
  color: var(--on-background);
  background-color: var(--background);
  margin: 0;
  overflow-x: hidden;
}

label {
  font-size: 12rem;
}

a,
button,
.button {
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  border: none;
  font-family: inherit;
  outline: inherit;
  justify-content: center;
}

.wrap {
  display: block;
}

a.no-wrap {
  flex-direction: row;
}

a.wrap {
  flex-direction: column;
}

.scroll {
  overflow: auto;
  padding-bottom: 16rem;
}

.no-scroll {
  overflow: hidden;
}

.responsive {
  margin: 0;
  width: -webkit-fill-available;
  width: -moz-available;
}

.responsive > i,
.responsive > img {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .medium-device:not(.small-device),
  .large-device:not(.small-device),
  .medium-device.large-device:not(.small-device),
  .m:not(.s),
  .l:not(.s),
  .m.l:not(.s) {
    display: none !important;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .small-device:not(.medium-device),
  .large-device:not(.medium-device),
  .small-device.large-device:not(.medium-device),
  .s:not(.m),
  .l:not(.m),
  .s.l:not(.m) {
    display: none !important;
  }
}

@media only screen and (min-width: 993px) {
  .medium-device:not(.large-device),
  .small-device:not(.large-device),
  .medium-device.small-device:not(.large-device),
  .m:not(.l),
  .s:not(.l),
  .m.s:not(.l) {
    display: none !important;
  }
}
