.responsive {
  inline-size: -webkit-fill-available;
  inline-size: -moz-available;
}

@media only screen and (width <= 600px) {
  :is(.m, .l):not(.s) {
    display: none !important;
  }
}

@media only screen and (width >= 601px) and (width <= 992px) {
  :is(.s, .l):not(.m) {
    display: none !important;
  }
}

@media only screen and (width >= 993px) {
  :is(.m, .s):not(.l) {
    display: none !important;
  }
}
