.responsive {
  inline-size: -webkit-fill-available;
  inline-size: -moz-available;
}

@media only screen and (max-width: 600px) {
  .m:not(.s),
  .l:not(.s),
  .m.l:not(.s) {
    display: none;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .s:not(.m),
  .l:not(.m),
  .s.l:not(.m) {
    display: none;
  }
}

@media only screen and (min-width: 993px) {
  .m:not(.l),
  .s:not(.l),
  .m.s:not(.l) {
    display: none;
  }
}
