.ripple {
  ---duration: 3000ms;
}

.fast-ripple {
  ---duration: 1000ms;
}

.slow-ripple {
  ---duration: 9000ms;
}

.ripple-js {
  position: absolute;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
}

.ripple-js > div {
  position: absolute;
  border-radius: 50%;
  background: currentColor;
  opacity: 0.3;
  transform: scale(0);
  animation: to-ripple var(---duration) cubic-bezier(0.075, 0.82, 0.165, 1)
    forwards;
}

.fade-out-ripple {
  animation: out-ripple var(---duration) cubic-bezier(0.075, 0.82, 0.165, 1)
    forwards;
}

@keyframes out-ripple {
  to {
    opacity: 0;
  }
}

@keyframes to-ripple {
  to {
    transform: scale(4);
    opacity: 0.3;
  }
}
