.tiny-space:not(nav, .row, .grid, table, .tooltip) {
  height: 0.5rem;
}

:is(.space, .small-space):not(nav, .row, .grid, table, .tooltip) {
  height: 1rem;
}

.medium-space:not(nav, .row, .grid, table, .tooltip) {
  height: 2rem;
}

.large-space:not(nav, .row, .grid, table, .tooltip) {
  height: 3rem;
}
