.tiny-space:not(nav, ol, ul, .row, .grid, table, .tooltip) {
  block-size: 0.5rem;
}

:is(.space, .small-space):not(nav, ol, ul, .row, .grid, table, .tooltip) {
  block-size: 1rem;
}

.medium-space:not(nav, ol, ul, .row, .grid, table, .tooltip) {
  block-size: 2rem;
}

.large-space:not(nav, ol, ul, .row, .grid, table, .tooltip) {
  block-size: 3rem;
}
