.tiny-space:not(nav, .row, .grid, table) {
  height: 8rem;
}

.space:not(nav, .row, .grid, table),
.small-space:not(nav, .row, .grid, table) {
  height: 16rem;
}

.medium-space:not(nav, .row, .grid, table) {
  height: 32rem;
}

.large-space:not(nav, .row, .grid, table) {
  height: 48rem;
}