html {
  font-size: var(--size);
}

body {
  font-family: var(--font);
  font-size: 0.875rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

*+h1,
*+h2,
*+h3,
*+h4,
*+h5,
*+h6 {
  margin-top: 1rem;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3.75rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.125rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

.link {
  color: var(--primary) !important;
}

.truncate {
  overflow: hidden;
  white-space: nowrap !important;
  text-overflow: ellipsis;
}

.truncate>* {
  white-space: nowrap !important;
}

.small-text {
  font-size: 0.75rem;
}

.medium-text {
  font-size: 0.875rem;
}

.large-text {
  font-size: 1rem;
}

.upper {
  text-transform: uppercase;
}

.lower {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.bold {
  font-weight: bold;
}

.overline {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

p {
  margin: 0.5rem 0;
}