h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 400;
  display: block;
  align-items: center;
  line-height: normal;

  &.small {
    font-size: 1rem;
  }

  &.large {
    font-size: 2rem;
  }
}

h1,
.h1 {
  font-size: 3.5625rem;

  &.small { font-size: 3.0625rem; }
  &.large { font-size: 4.0625rem; }
}

h2,
.h2 {
  font-size: 2.8125rem;

  &.small { font-size: 2.3125rem; }
  &.large { font-size: 3.3125rem; }
}

h3,
.h3 {
  font-size: 2.25rem;

  &.small { font-size: 1.75rem; }
  &.large { font-size: 2.75rem; }
}

h4,
.h4 {
  font-size: 2rem;

  &.small { font-size: 1.5rem; }
  &.large { font-size: 2.5rem; }
}

h5,
.h5 {
  font-size: 1.75rem;

  &.small { font-size: 1.25rem; }
  &.large { font-size: 2.25rem; }
}

h6,
.h6 {
  font-size: 1.5rem;

  &.small { font-size: 1rem; }
  &.large { font-size: 2rem; }
}

.link { color: var(--primary) !important; }
.inverse-link { color: var(--inverse-primary) !important; }

.truncate {
  overflow: hidden;
  white-space: nowrap !important;
  text-overflow: ellipsis;
  flex: inherit;

  & > * {
    white-space: nowrap !important;
  }
}

.small-text { font-size: 0.75rem; }
.medium-text { font-size: 0.875rem; }
.large-text { font-size: 1rem; }

.upper { text-transform: uppercase; }
.lower { text-transform: lowercase; }
.capitalize { text-transform: capitalize; }
.bold { font-weight: bold; }
.overline { text-decoration: line-through; }
.underline { text-decoration: underline; }
.italic { font-style: italic; }

p { margin: 0.5rem 0; }

.no-line { line-height: normal; }
.tiny-line { line-height: 1.25rem; }
.small-line { line-height: 1.5rem; }
.medium-line { line-height: 1.75rem; }
.large-line { line-height: 2rem; }
.extra-line { line-height: 2.25rem; }

pre {
  border-radius: 0;
  background-color: var(--surface-container);
  white-space: pre-wrap;
  padding: 1rem;
  border-inline-start: 0.25rem solid var(--primary);
  font-family: inherit;

  & > code { padding: 0; }

  &:has(> code) {
    direction: ltr;
    text-align: start;
  }
}

blockquote {
  border-radius: 0;
  padding: 1rem;
  border-inline-start: 0.25rem solid var(--primary);
  font-family: inherit;

  & > code { padding: 0; }
}

code {
  border-radius: 0;
  background-color: var(--surface-container);
  white-space: pre-wrap;
  padding: 0.25rem;
}

.scroll > code {
  white-space: pre;
}

sub { vertical-align: sub; }
sup { vertical-align: super; }
