.wave::after,
.wave.light::after,
:is(.chip, .button, button)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  background-position: center;
  background-image: radial-gradient(circle, rgb(255 255 255 / 0.4) 1%, transparent 1%);
  opacity: 0;
  transition: none;
}

.wave.dark::after,
.wave.row::after,
:is(.button, button).none::after,
:is(.chip, .button, button).border::after,
:is(.chip, .button, button).transparent::after {
  background-image: radial-gradient(circle, rgb(150 150 150 / 0.2) 1%, transparent 1%);
}

.wave.none::after,
:is(.button, button).none::after {
  top: 0;
  left: -0.25rem;
  padding: 0 0.25rem;
}

.wave.none:not(.small, .medium, .large, .extra)::after,
:is(.button, button).none:not(.small, .medium, .large, .extra)::after {
  top: -0.25rem;
  left: -0.25rem;
  padding: 0.25rem;
}

:is(.wave, .chip, .button, button):hover::after,
:is(.wave, .chip, .button, button):focus::after {
  background-size: 15000%;
  opacity: 1;
  transition: var(--speed2) background-size linear;
}

:is(.wave, .chip, .button, button):active::after {
  background-size: 5000%;
  opacity: 0;
  transition: none;
}

.no-wave::after,
.no-wave:hover::after,
.no-wave:active::after {
  display: none;
}
