.wave::after,
.chip::after,
.wave.light::after,
:is(.button, button)::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  border-radius: inherit;
  inline-size: 100%;
  block-size: 100%;
  background-position: center;
  background-image: radial-gradient(circle, rgb(255 255 255 / 0.4) 1%, transparent 1%);
  opacity: 0;
  transition: none;
}

.wave.dark::after,
.wave.row::after,
.chip::after,
:is(.button, button).border::after,
:is(.button, button).transparent::after {
  background-image: radial-gradient(circle, rgb(150 150 150 / 0.2) 1%, transparent 1%);
}

:is(.wave, .chip, .button, button):is(:focus-visible, :hover)::after {
  background-size: 15000%;
  opacity: 1;
  transition: background-size var(--speed2) linear;
}

:is(.wave, .chip, .button, button):active::after {
  background-size: 5000%;
  opacity: 0;
  transition: none;
}

.no-wave::after,
.no-wave:is(:hover, :active)::after {
  display: none;
}
