.field {
  height: 48rem;
  margin-bottom: 8rem;
}

.field.small {
  height: 40rem;
}

.field.medium {
  height: 48rem;
}

.field.large {
  height: 56rem;
}

.field.extra {
  height: 64rem;
}

.field + .field {
  margin-top: 24rem;
}

.row.medium-space > .col > .field + .field {
  margin-top: 32rem;
}

.row.large-space > .col > .field + .field {
  margin-top: 40rem;
}

.field.round {
  border-radius: 32rem;
}

/* icon */
.field > i,
.field > img {
  position: absolute;
  top: 50%;
  left: auto;
  right: 10rem;
  transform: translateY(-50%);
  cursor: pointer;
  color: #9e9e9e;
  z-index: 0;
}

.field.border > i,
.field.fill > i,
.field.round > i,
.field.border > img,
.field.fill > img,
.field.round > img {
  left: auto;
  right: 10rem;
}

.field > i:first-child,
.field > img:first-child {
  left: 10rem;
  right: auto;
}

.field.border > i:first-child,
.field.fill > i:first-child,
.field.round > i:first-child,
.field.border > img:first-child,
.field.fill > img:first-child,
.field.round > img:first-child {
  left: 10rem;
  right: auto;
}

/* file */
input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

/* input and textarea */
.field.small.textarea {
  height: 72rem;
}

.field.textarea,
.field.medium.textarea {
  height: 88rem;
}

.field.large.textarea {
  height: 104rem;
}

.field.extra.textarea {
  height: 120rem;
}

.field > input,
.field > textarea {
  border: 0;
  border-radius: 8rem 8rem 0 0;
  border-bottom: 2rem solid #9e9e9e50;
  padding: 4rem 8rem;
  font-family: Roboto;
  font-size: 14rem;
  width: 100%;
  height: 100%;
  outline: none;
  z-index: 1;
  color: var(--color-2);
  background-color: transparent;
  box-sizing: border-box;
  resize: none;
  color: inherit;
}

.field > input:focus,
.field > textarea:focus {
  border-bottom: 2rem solid var(--color-1);
}

.field.border > input,
.field.border > textarea {
  border: 2rem solid #9e9e9e50;
  border-radius: 8rem;
  padding: 4rem 8rem;
}

.field.border > input:focus,
.field.border > textarea:focus {
  border: 2rem solid var(--color-1);
}

.field.fill > input,
.field.fill > textarea {
  background-color: #9e9e9e10;
  padding: 4rem 8rem;
}

.field.round > input,
.field.round > textarea {
  border: 0;
  box-shadow: var(--shadow-1);
}

.field.round > input {
  border-radius: 32rem;
  padding: 4rem 16rem;
}

.field.round > textarea {
  border-radius: 24rem;
  padding: 13rem 16rem;
}

.field.round.border > input,
.field.round.border.fill > input,
.field.round.border > textarea,
.field.round.border.fill > textarea {
  border: 2rem solid #9e9e9e50;
  box-shadow: none;
}

.field.round.border > input:focus,
.field.round.border.fill > input:focus,
.field.round.border > textarea:focus,
.field.round.border.fill > textarea:focus {
  border: 2rem solid var(--color-1);
}

.field.round.fill > input,
.field.round.fill > textarea {
  border: 0;
  box-shadow: none;
}

.field.flat > input,
.field.flat > input::before,
.field.flat > input::after {
  border: none!important;
  box-shadow: none!important;
}

.field.flat > input:focus,
.field.flat > input:focus::before,
.field.flat > input:focus::after {
  box-shadow: var(--shadow-1)!important;
}

.field.label > input,
.field.label > textarea {
  padding-top: 20rem;
}

.field.prefix > input,
.field.prefix > textarea {
  padding-left: 40rem;
}

.field.suffix > input,
.field.suffix > textarea {
  padding-right: 40rem;
}

.field.invalid > input,
.field.invalid > textarea {
  border-bottom: 2rem solid  var(--color-3);
}

.field.invalid.border > input,
.field.invalid.border.round > input,
.field.invalid.border.round.fill > input,
.field.invalid.border > textarea,
.field.invalid.border.round > textarea,
.field.invalid.border.round.fill > textarea {
  border: 2rem solid  var(--color-3);
}

.field.invalid.round > input,
.field.invalid.round > textarea {
  border: inherit;
}

.field > :disabled {
  background-color: #9e9e9e30!important;
}

/* label */
.field.label > label {
  animation: 0.1s label-to-middle;
  position: absolute;
  top: 50%;
  left: 8rem;
  font-size: 14rem;
  transform: translateY(-50%);
  z-index: 0;
}

.field.label.textarea.small > label {
  top: 20rem;
}

.field.label.textarea > label,
.field.label.textarea.medium > label {
  top: 24rem;
}

.field.label.textarea.large > label {
  top: 28rem;
}

.field.label.textarea.extra > label {
  top: 32rem;
}

.field.label.textarea.small > textarea {
  padding-top: 20rem;
}

.field.label.textarea > textarea,
.field.label.textarea.medium > textarea {
  padding-top: 24rem;
}

.field.label.textarea.large > textarea {
  padding-top: 28rem;
}

.field.label.textarea.extra > textarea {
  padding-top: 32rem;
}

.field.label.round > label {
  left: 16rem;
}

.field.label.prefix > label {
  left: 40rem;
}

.field.label > label.active,
.field.label > [placeholder]:focus ~ label,
.field.label > [placeholder]:not(:placeholder-shown) ~ label {
  animation: 0.1s label-to-top;
  font-size: 12rem;
  transform: translateY(-120%);
}

.field.invalid > label {
  color: var(--color-3);
}

.field > label.required:after,
.field.required > label:after {
  content: " * ";
}

/* checkbox, radio and switch */
.checkbox,
.radio,
.switch {
  width: auto;
  height: auto;
  line-height: normal;
  white-space: nowrap;
  cursor: pointer;
}

.checkbox > *,
.radio > *,
.switch > * {
  margin: 0;
  padding: 0;
}

.checkbox > input,
.radio > input {
  width: 24rem;
  height: 24rem;
  opacity: 0;
}

.checkbox > span,
.radio > span,
.switch > span {
  display: inline-flex;
  align-items: center;
  color: var(--color-2);
  font-size: 14rem;
}

.checkbox > span,
.radio > span {
  padding-left: 4rem;
}

.checkbox > input + span::before,
.radio > input + span::before {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24rem;
  line-height: inherit;
  letter-spacing: normal;
  text-transform: none;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  width: 24rem;
  height: 24rem;
  margin: 0 auto;
  padding: 0;
  outline: none;
  cursor: pointer;
  color: #9e9e9e;
  position: absolute;
  left: -24rem;
  background-color: transparent;
  border-radius: 50%;
}

.checkbox > input + span::before {
  content: "check_box_outline_blank";
}

.radio > input + span::before {
  content: "radio_button_unchecked";
}

.checkbox > input:focus + span::before,
.radio > input:focus + span::before {
  background-color: var(--color-2a);
  box-shadow: 0 0 0 8rem var(--color-2a);
  animation: 0.1s to-checked ease-out;
}

.checkbox > input:checked + span::before {
  color: var(--color-1);
  content: "check_box";
}

.radio > input:checked + span::before {
  color: var(--color-1);
  content: "radio_button_checked";
}

.checkbox + .checkbox,
.radio + .radio,
.switch + .switch {
  margin-left: 8rem;
}

.field > .checkbox,
.field > .radio,
.field > .switch {
  margin: 0 12rem 0 4rem
}

.field > nav > .checkbox,
.field > nav > .radio,
.field > nav > .switch {
  margin: 0 4rem 0 12rem;
}

.checkbox > span:empty,
.radio > span:empty,
.switch > span:empty {
  padding: 0;
}

.switch > input {
  width: 40rem;
  height: 24rem;
  opacity: 0;
}

.switch > input + span::before {
  content: "";
  position:absolute;
  left: 0;
  top: 50%;
  background-color: #9e9e9e;
  width: 32rem;
  height: 14rem;
  border-radius: 8rem;
  animation: none;
  cursor: pointer;
  transform: translate(-40rem, -50%);
}

.switch > input:checked + span::before {
  background-color: var(--color-1a);
}

.switch > input + span::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  background-color: #ffffff;
  box-shadow: var(--shadow-1);
  left: 0;
  top: 50%;
  transition: 0.1s transform, 0.1s background-color;
  transform: translate(-44rem, -50%);
}

.switch > input:checked + span::after {
  background-color: var(--color-1);
  transform: translate(-24rem, -50%);
}

.switch > input:focus + span::after {
  box-shadow: 0 0 0 8rem var(--color-2a);
}

/* select */
.field > select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 8rem 8rem 0 0;
  border-bottom: 2rem solid #9e9e9e50;
  padding: 4rem 8rem;
  font-family: Roboto;
  font-size: 14rem;
  width: 100%;
  height: 100%;
  outline: none;
  cursor: pointer;
  color: var(--color-2);
  background-color: transparent;
  box-sizing: border-box;
  z-index: 1;
}

.field > select:focus {
  border-bottom: 2rem solid var(--color-1);
}

.field.border > select {
  border: 2rem solid #9e9e9e50;
  border-radius: 8rem;
}

.field.border > select:focus {
  border: 2rem solid var(--color-1);
}

.field.fill > select {
  background-color: #9e9e9e10;
  padding: 4rem 8rem 4rem 8rem;
}

.field.round > select {
  border: 0;
  border-radius: 32rem;
  box-shadow: var(--shadow-1);
  padding: 4rem 16rem;
}

.field.round.border > select,
.field.round.border.fill > select {
  border: 2rem solid #9e9e9e50;
  border-radius: 32rem;
  box-shadow: none;
}

.field.round.border > select:focus,
.field.round.border.fill > select:focus {
  border: 2rem solid var(--color-1);
}

.field.round.fill > select {
  border: 0;
  border-radius: 32rem;
  box-shadow: none;
}

.field.label > select {
  padding-top: 20rem;
}

.field.prefix > select {
  padding-left: 40rem;
}

.field.suffix > select {
  padding-right: 40rem;
}

.field.invalid > select {
  border-bottom: 2rem solid  var(--color-3);
}

.field.invalid.border > select,
.field.invalid.border.round > select,
.field.invalid.border.round.fill > select {
  border: 2rem solid  var(--color-3);
}

.field.invalid.round > select {
  border: inherit;
}

.field > select > option {
  background-color: var(--color-4);
}

/* helper */
.field > .helper,
.field > .error {
  position: absolute;
  left: 8rem;
  bottom: 0;
  transform: translateY(100%);
  font-size: 12rem;
}

a.helper {
  color: var(--color-1);
}

.field > .error {
  color:  var(--color-3);
}

.field.round > .helper,
.field.round > .error {
  left: 16rem;
}

.field.invalid > .helper {
  display: none;
}

table td > .field {
  max-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@keyframes label-to-top {
  from {
    font-size: 14rem;
    transform: translateY(-50%);
  }
  to {
    font-size: 12rem;
    transform: translateY(-120%);
  }
}

@keyframes label-to-middle {
  from {
    font-size: 12rem;
    transform: translateY(-120%);
  }
  to {
    font-size: 14rem;
    transform: translateY(-50%);
  }
}

@keyframes to-checked {
  from {
    box-shadow: 0 0 0 0 var(--color-2a);
  }
  to {
    box-shadow: 0 0 0 8rem var(--color-2a);
  }
}
