.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.overlay.dark {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
}

.overlay.light {
  color: var(--color-2);
  background-color: var(--color-4a);
}

.menu > .overlay {
  z-index: 0;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
  animation: 0.3s overlay-to-active;
}

.overlay.active.top-align,
.overlay.active.middle-align,
.overlay.active.bottom-align {
  display: flex;
}

@keyframes overlay-to-active {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}