.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 0.75rem;
  text-transform: none;
  z-index: 1;
  padding: 0 0.375rem;
  background-color: var(--error);
  color: var(--on-error);
  inset-block-start: 0;
  inset-inline-start: auto;
  inset-block-end: auto;
  inset-inline-end: 0;
  block-size: 1.25rem;
  line-height: normal;
  transform: translate(50%, -100%);
}

[dir=rtl] .badge {
  transform: translate(-50%, -100%);
}

.badge.none {
  inset-block-start: auto;
  inset-inline-start: auto;
  inset-block-end: auto;
  inset-inline-end: auto;
  transform: none;
  position: relative;
  margin: 0 0.125rem;
}

.badge.top {
  inset-block-start: 0;
  inset-inline-start: 50%;
  inset-block-end: auto;
  inset-inline-end: auto;
  transform: translate(-50%, -100%);
}

[dir=rtl] .badge.top {
  transform: translate(50%, -100%);
}

.badge.bottom {
  inset-block-start: auto;
  inset-inline-start: 50%;
  inset-block-end: 0;
  inset-inline-end: auto;
  transform: translate(-50%, 100%);
}

[dir=rtl] .badge.bottom {
  transform: translate(50%, 100%);
}

.badge.left {
  inset-block-start: 50%;
  inset-inline-start: 0;
  inset-block-end: auto;
  inset-inline-end: auto;
  transform: translate(-100%, -50%);
}

[dir=rtl] .badge.left {
  transform: translate(100%, -50%);
}

.badge.right {
  inset-block-start: 50%;
  inset-inline-start: auto;
  inset-block-end: auto;
  inset-inline-end: 0;
  transform: translate(100%, -50%);
}

[dir=rtl] .badge.right {
  transform: translate(-100%, -50%);
}

.badge.top.left {
  inset-block-start: 0;
  inset-inline-start: 0;
  inset-block-end: auto;
  inset-inline-end: auto;
  transform: translate(-50%, -100%);
}

[dir=rtl] .badge.top.left {
  transform: translate(50%, -100%);
}

.badge.bottom.left {
  inset-block-start: auto;
  inset-inline-start: 0;
  inset-block-end: 0;
  inset-inline-end: auto;
  transform: translate(-50%, 100%);
}

[dir=rtl] .badge.bottom.left {
  transform: translate(50%, 100%);
}

.badge.top.right {
  inset-block-start: 0;
  inset-inline-start: auto;
  inset-block-end: auto;
  inset-inline-end: 0;
  transform: translate(50%, -100%);
}

[dir=rtl] .badge.top.right {
  transform: translate(-50%, -100%);
}

.badge.bottom.right {
  inset-block-start: auto;
  inset-inline-start: auto;
  inset-block-end: 0;
  inset-inline-end: 0;
  transform: translate(50%, 100%);
}

[dir=rtl] .badge.bottom.right {
  transform: translate(-50%, 100%);
}

.badge.border {
  border-color: var(--error);
  color: var(--error);
}

.badge:is(.circle, .square) {
  padding: 0;
  text-align: center;
  inline-size: 1.25rem;
  block-size: 1.25rem;
}
