header,
footer {
  display: grid;
  align-content: center;
  border-radius: 0;
  padding: 0 1rem;

  &.fixed {
    position: sticky;
    inset: 0;
    z-index: 11;
    background-color: inherit;

    &.min {
      margin-inline: auto;
    }
  }

  &.responsive {
    max-inline-size: min(100vw, 75rem);
    margin: 0 auto;

    &.max {
      max-inline-size: none;
    }
  }
}

:is(dialog, article) > :is(header, footer) {
  padding-inline: 0;
  inset: 0;
}

header {
  min-block-size: 4rem;

  &.fixed {
    inset: calc(-1 * var(--_padding, 0)) 0 0;
    margin-block-start: calc(-1 * var(--_padding, 0));
  }
}

footer {
  min-block-size: 5rem;

  &.fixed {
    inset: 0 0 calc(-1 * var(--_padding, 0));
    margin-block-end: calc(-1 * var(--_padding, 0));
  }
}

menu > *.fixed {
  position: sticky;
  inset: 0;
  z-index: 11;
  background-color: inherit;
}

dialog > :is(header, footer) {
  background: none;

  &.fixed {
    background-color: inherit;
  }
}

:has(> main) {
  & > :is(header, footer).fixed {
    transform: none;
    box-sizing: content-box;
    position: sticky;
    inset: 0;
    z-index: 12;
  }

  & > header {
    padding-block-start: var(--top, 0);
  }

  & > footer {
    padding-block-end: var(--bottom, 0);
  }
}

nav.top ~ header {
  padding-block: 0;

  &.fixed {
    inset-block: calc(var(--top, 0) + 4.5rem) 0;
  }
}

nav.bottom ~ footer {
  padding-block: 0;

  &.fixed {
    inset-block: 0 calc(var(--bottom, 0) + 4.5rem);
  }
}

:is(nav, .row) > header {
  background-color: inherit;
}
