.button,
button {
  box-sizing: content-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  min-width: 2.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--on-primary);
  padding: 0 1.5rem;
  background-color: var(--primary);
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  transition: var(--speed3) transform, var(--speed3) border-radius, var(--speed3) padding;
  user-select: none;
  gap: 1rem;
}

:is(button, .button).none {
  width: auto;
  height: auto;
  color: var(--primary);
  padding: 0;
  background-color: transparent;
  min-width: auto;
  min-height: 1.5rem;
}

:is(button, .button).small {
  height: 2rem;
  min-width: 2rem;
  font-size: 0.875rem;
}

:is(button, .button).large {
  height: 3rem;
  min-width: 3rem;
}

:is(.button, button):is(.extra, .extend) {
  height: 3.5rem;
  min-width: 3.5rem;
  font-size: 1rem;
}

:is(button, .button).border {
  border: 0.0625rem solid var(--primary);
  color: var(--primary);
}

:is(.button, button).extend > span {
  display: none;
}

:is(.button, button).extend:hover, :is(.button, button).extend.active {
  width: auto;
  padding: 0 1rem;
}

:is(button, .button).extend:hover > i + span, 
:is(button, .button).extend.active > i + span {
  display: inherit;
  margin-left: 2rem;
}

:is(.button, button).extend:hover > :is(img, svg) + span,
:is(.button, button).extend.active > :is(img, svg) + span {
  display: inherit;
  margin-left: 3rem;
}

.button[disabled],
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button[disabled] {
  pointer-events: none;
}

.button[disabled]::before,
button:disabled::before,
.button[disabled]::after,
button:disabled::after {
  display: none;
}

:is(.button, button).fill {
  background-color: var(--secondary-container) !important;
  color: var(--on-secondary-container) !important;
}
