.button,
button {
  box-sizing: content-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow-1);
  min-height: 40rem;
  height: 40rem;
  font-size: 14rem;
  font-weight: 500;
  color: #ffffff;
  padding: 0 12rem;
  background-color: var(--color-1);
  margin: 0 8rem;
  text-transform: uppercase;
  border-radius: 4rem;
  transition: var(--speed-3) transform, var(--speed-3) border-radius, var(--speed-3) padding;
}

button > :not(.dropdown, .badge) + :not(.dropdown, .badge),
.button > :not(.dropdown, .badge) + :not(.dropdown, .badge) {
  margin-left: 6rem;
}

button > .responsive:first-child,
.button > .responsive:first-child {
  margin-left: -12rem;
}

button > .responsive:last-child,
.button > .responsive:last-child {
  margin-right: -12rem;
}

.button.none,
button.none {
  box-shadow: none;
  width: auto;
  min-width: auto;
  height: auto;
  min-height: auto;
  color: var(--color-1);
  padding: 0;
  background-color: transparent;
  margin: 0 8rem;
}

.button.small,
button.small {
  min-height: 32rem !important;
  height: 32rem;
}

.button.medium,
button.medium {
  min-height: 40rem !important;
  height: 40rem;
}

.button.large,
button.large {
  min-height: 48rem !important;
  height: 48rem;
}

.button.extra,
button.extra {
  min-height: 56rem !important;
  height: 56rem;
}

.button.border,
button.border {
  border: 1rem solid var(--color-1);
  background-color: transparent;
  color: var(--color-1);
  box-shadow: none;
}

.button.round,
button.round {
  transform: none;
  border-radius: 32rem;
}

.button.top-round,
button.top-round {
  border-radius: 32rem 32rem 4rem 4rem !important;
}

.button.bottom-round,
button.bottom-round {
  border-radius: 4rem 4rem 32rem 32rem !important;
}

.button.left-round,
button.left-round {
  border-radius: 32rem 4rem 4rem 32rem !important;
}

.button.right-round,
button.right-round {
  border-radius: 4rem 32rem 32rem 4rem !important;
}

.button.top-round.left-round,
button.top-round.left-round {
  border-radius: 32rem 32rem 4rem 32rem !important;
}

.button.top-round.right-round,
button.top-round.right-round {
  border-radius: 32rem 32rem 32rem 4rem !important;
}

.button.bottom-round.left-round,
button.bottom-round.left-round {
  border-radius: 32rem 4rem 32rem 32rem !important;
}

.button.bottom-round.right-round,
button.bottom-round.right-round {
  border-radius: 4rem 32rem 32rem 32rem !important;
}

.button.circle,
button.circle {
  transform: none;
  padding: 0;
  border-radius: 40rem;
  padding: 0;
}

.button.square, 
button.square {
  transform: none;
  border-radius: 4rem;
  padding: 0;
}