.button,
button {
  box-sizing: content-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  min-width: 2.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--on-primary);
  padding: 0 1.5rem;
  background-color: var(--primary);
  margin: 0 0.5rem;
  border-radius: 1.25rem;
  transition: var(--speed3) transform, var(--speed3) border-radius, var(--speed3) padding;
  user-select: none;
  gap: 1rem;
  line-height: normal;
}

:is(button, .button).none {
  width: auto;
  height: auto;
  color: var(--primary);
  padding: 0;
  background-color: transparent;
  min-width: auto;
  min-height: 1.5rem;
}

:is(button, .button).small {
  height: 2rem;
  min-width: 2rem;
  font-size: 0.875rem;
  border-radius: 1rem;
}

:is(button, .button).large {
  height: 3rem;
  min-width: 3rem;
  border-radius: 1.5rem;
}

:is(.button, button):is(.extra, .extend) {
  height: 3.5rem;
  min-width: 3.5rem;
  font-size: 1rem;
  border-radius: 1.75rem;
}

:is(button, .button).border {
  border-color: var(--primary);
  color: var(--primary);
}

:is(.button, button).extend > span {
  display: none;
}

:is(.button, button).extend:hover,
:is(.button, button).extend.active {
  width: auto;
  padding: 0 1.5rem;
}

:is(button, .button):is(:hover, .active).extend > i + span {
  display: inherit;
  margin-left: 1.5rem;
}

:is(.button, button):is(:hover, .active).extend > :is(img, svg) + span {
  display: inherit;
  margin-left: 2.5rem;
}

:is(.button, button):is([disabled]) {
  opacity: 0.5;
  cursor: not-allowed;
}

:is(.button):is([disabled]) {
  pointer-events: none;
}

:is(.button, button):is([disabled])::before,
:is(.button, button):is([disabled])::after {
  display: none;
}

:is(.button, button).fill {
  background-color: var(--secondary-container) !important;
  color: var(--on-secondary-container) !important;
}

:is(.button, button).vertical {
  border-radius: 2rem;
}
