.button,
button {
  box-sizing: content-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40rem;
  min-width: 40rem;
  font-size: 14rem;
  font-weight: 500;
  color: var(--on-primary);
  padding: 0 24rem;
  background-color: var(--primary);
  margin: 0 8rem;
  border-radius: 8rem;
  transition: var(--speed3) transform, var(--speed3) border-radius, var(--speed3) padding;
  user-select: none;
  gap: 16rem;
}

.button.none,
button.none {
  width: auto;
  height: auto;
  color: var(--primary);
  padding: 0;
  background-color: transparent;
  min-width: auto;
  min-height: 24rem;
}

.button.small,
button.small {
  height: 32rem;
  min-width: 32rem;
  font-size: 14rem;
}

.button.large,
button.large {
  height: 48rem;
  min-width: 48rem;
}

.button.extra,
button.extra,
.button.extend,
button.extend {
  height: 56rem;
  min-width: 56rem;
  font-size: 16rem;
}

.button.border,
button.border {
  border: 1rem solid var(--primary);
  color: var(--primary);
}

.button.circle,
button.circle {
  border-radius: 40rem;
  padding: 0;
}

.button.square, 
button.square {
  border-radius: 0;
  padding: 0;
}

.button.extend,
button.extend {
  padding: 0;
}

.button.extend > span,
button.extend > span {
  display: none;
}

.button.extend:hover,
button.extend:hover,
.button.extend.active,
button.extend.active {
  width: auto;
  padding: 0 16rem;
}

.button.extend:hover > i + span,
button.extend:hover > i + span,
.button.extend.active > i + span,
button.extend.active > i + span {
  display: inherit;
  margin-left: 32rem;
}

.button.extend:hover > img + span,
button.extend:hover > img + span,
.button.extend.active > img + span,
button.extend.active > img + span {
  display: inherit;
  margin-left: 48rem;
}

.button[disabled],
button:disabled {
  opacity: .5;
  cursor: not-allowed;
}

.button[disabled] {
  pointer-events: none;
}

.button[disabled]::before,
button:disabled::before,
.button[disabled]::after,
button:disabled::after {
  display: none;
}

.button.fill,
button.fill {
  background-color: var(--secondary-container) !important;
  color: var(--on-secondary-container) !important;
}