.button,
button {
  box-sizing: content-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  min-width: 2.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--on-primary);
  padding: 0 1.5rem;
  background-color: var(--primary);
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  transition: var(--speed3) transform, var(--speed3) border-radius, var(--speed3) padding;
  user-select: none;
  gap: 1rem;
}

.button.none,
button.none {
  width: auto;
  height: auto;
  color: var(--primary);
  padding: 0;
  background-color: transparent;
  min-width: auto;
  min-height: 1.5rem;
}

.button.small,
button.small {
  height: 2rem;
  min-width: 2rem;
  font-size: 0.875rem;
}

.button.large,
button.large {
  height: 3rem;
  min-width: 3rem;
}

.button.extra,
button.extra,
.button.extend,
button.extend {
  height: 3.5rem;
  min-width: 3.5rem;
  font-size: 1rem;
}

.button.border,
button.border {
  border: 0.0625rem solid var(--primary);
  color: var(--primary);
}

.button.circle,
button.circle {
  border-radius: 2.5rem;
  padding: 0;
}

.button.square,
button.square {
  border-radius: 0;
  padding: 0;
}

.button.extend,
button.extend {
  padding: 0;
}

.button.extend>span,
button.extend>span {
  display: none;
}

.button.extend:hover,
button.extend:hover,
.button.extend.active,
button.extend.active {
  width: auto;
  padding: 0 1rem;
}

.button.extend:hover>i+span,
button.extend:hover>i+span,
.button.extend.active>i+span,
button.extend.active>i+span {
  display: inherit;
  margin-left: 2rem;
}

.button.extend:hover>img+span,
button.extend:hover>img+span,
.button.extend.active>img+span,
button.extend.active>img+span {
  display: inherit;
  margin-left: 3rem;
}

.button[disabled],
button:disabled {
  opacity: .5;
  cursor: not-allowed;
}

.button[disabled] {
  pointer-events: none;
}

.button[disabled]::before,
button:disabled::before,
.button[disabled]::after,
button:disabled::after {
  display: none;
}

.button.fill,
button.fill {
  background-color: var(--secondary-container) !important;
  color: var(--on-secondary-container) !important;
}