button,
.button {
  --_padding: 1rem;
  --_size: 2.5rem;
  --_round: calc(var(--_size) / 2) !important;

  box-sizing: content-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  block-size: var(--_size);
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--on-primary);
  padding: 0 var(--_padding);
  background-color: var(--primary);
  border-radius: 1.25rem;
  transition: transform var(--speed3), border-radius var(--speed2), padding var(--speed3);
  user-select: none;
  gap: 0.5rem;
  line-height: normal;

  &.small {
    --_size: 2rem;
    --_padding: 0.75rem;
  }

  &.large {
    --_size: 3rem;
    --_padding: 1.25rem;
  }

  &:is(.extra, .extend) {
    --_size: 3.5rem;

    font-size: 1rem;

    --_padding: 1.5rem;
  }

  &:is(.square, .circle) {
    --_padding: 0;
  }

  &.border {
    border-color: var(--outline-variant);
    color: var(--primary);
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;

    &::before,
    &::after {
      display: none;
    }
  }

  &:not(.chip, .extend) {
    &.fill {
      background-color: var(--secondary-container) !important;
      color: var(--on-secondary-container) !important;

      &.active {
        background-color: var(--secondary) !important;
        color: var(--on-secondary) !important;
      }
    }

    &.active {
      background-color: var(--primary-container);
      color: var(--on-primary-container);
    }

    &.border.active {
      background-color: var(--inverse-surface) !important;
      color: var(--inverse-on-surface) !important;
      border-color: var(--inverse-surface) !important;
    }
  }

  &:not(.chip) {
    &:active,
    &.active {
      border-radius: 0.5rem !important;
    }
  }
}

.button[disabled] {
  pointer-events: none;
}

.extend {
  & > span:not([class]) {
    display: none;
  }

  &:is(:hover, .active) {
    inline-size: auto;

    --_padding: 1.5rem;

    padding: 0 var(--_padding);

    & > i + span {
      display: inherit;
      margin-inline-start: var(--_padding);
    }

    & > :is(img, svg) + span {
      display: inherit;
      margin-inline-start: calc(1rem + var(--_padding, 0));
    }
  }
}
