article {
  box-shadow: var(--elevate1);
  background-color: var(--surface);
  color: var(--on-surface);
  padding: 16rem;
  border-radius: 12rem;
  display: block;
  transition: var(--speed3) transform, var(--speed3) border-radius, var(--speed3) padding;
}

* + article {
  margin-top: 16rem;
}

article.small {
  height: 192rem;
}

article.medium {
  height: 320rem;
}

article.large {
  height: 512rem;
}