article {
  box-shadow: var(--elevate1);
  background-color: var(--surface-container-low);
  color: var(--on-surface);
  padding: 1rem;
  border-radius: 0.75rem;
  display: block;
  transition: var(--speed3) transform, var(--speed3) border-radius, var(--speed3) padding;
}

* + article {
  margin-block-start: 1rem;
}

article.small {
  block-size: 12rem;
}

article.medium {
  block-size: 20rem;
}

article.large {
  block-size: 32rem;
}
