article {
  box-shadow: var(--elevate1);
  background-color: var(--surface);
  color: var(--on-surface);
  padding: 1rem;
  border-radius: 0.75rem;
  display: block;
  transition: var(--speed3) transform, var(--speed3) border-radius, var(--speed3) padding;
}

*+article {
  margin-top: 1rem;
}

article.small {
  height: 12rem;
}

article.medium {
  height: 20rem;
}

article.large {
  height: 32rem;
}