.chip {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  block-size: 2rem;
  min-inline-size: 2rem;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: transparent;
  border: 0.0625rem solid var(--outline);
  color: var(--on-surface-variant);
  padding: 0 1rem;
  margin: 0 0.5rem;
  text-transform: none;
  border-radius: 0.5rem;
  transition: transform var(--speed3), border-radius var(--speed3), padding var(--speed3);
  user-select: none;
  gap: 1rem;
  line-height: normal;
}

.chip.fill:hover {
  box-shadow: var(--elevate1);
}

.chip.medium {
  block-size: 2.5rem;
  min-inline-size: 2.5rem;
}

.chip.large {
  block-size: 3rem;
  min-inline-size: 3rem;
}

.chip.fill {
  background-color: var(--secondary-container) !important;
  border: none;
}

.chip.round.small {
  border-radius: 1rem;
}

.chip.round {
  border-radius: 1.25rem;
}

.chip.round.large {
  border-radius: 1.5rem;
}
