.chip {
  box-sizing: content-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  min-height: 40rem;
  height: 40rem;
  font-size: 14rem;
  font-weight: 500;
  color: var(--color-2);
  padding: 0 16rem;
  background-color: var(--color-2a);
  margin: 0 8rem;
  text-transform: none;
  border-radius: 8rem;
  transition: var(--speed-3) transform, var(--speed-3) border-radius, var(--speed-3) padding;
}

.chip > :not(.dropdown, .badge) + :not(.dropdown, .badge) {
  margin-left: 4rem;
}

.chip.small {
  min-height: 32rem !important;
  height: 32rem;
}

.chip.medium {
  min-height: 40rem !important;
  height: 40rem;
}

.chip.large {
  min-height: 48rem !important;
  height: 48rem;
}

.chip.border {
  border: 1rem solid var(--color-2b);
  background-color: transparent;
  color: inherit;
}

.chip.active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: var(--color-2b);
}

.chip.circle {
  transform: none;
  padding: 0;
  border-radius: 40rem;
  padding: 0;
}

.chip.square {
  transform: none;
  border-radius: 4rem;
  padding: 0;
}

.chip.round {
  border-radius: 24rem;
}