.chip {
  box-sizing: content-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  min-width: 2.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--on-secondary);
  padding: 0 1rem;
  background-color: var(--secondary);
  margin: 0 0.5rem;
  text-transform: none;
  border-radius: 0.5rem;
  transition: var(--speed3) transform, var(--speed3) border-radius, var(--speed3) padding;
  user-select: none;
  gap: 1rem;
}

.chip.small {
  height: 2rem;
  min-width: 2rem;
}

.chip.large {
  height: 3rem;
  min-width: 3rem;
}

.chip.border {
  border: 0.0625rem solid var(--secondary);
  color: var(--secondary);
}

.chip.fill {
  background-color: var(--secondary-container) !important;
  color: var(--on-secondary-container) !important;
  border: none;
}
