.chip {
  box-sizing: content-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40rem;
  min-width: 40rem;
  font-size: 14rem;
  font-weight: 500;
  color: var(--on-secondary);
  padding: 0 16rem;
  background-color: var(--secondary);
  margin: 0 8rem;
  text-transform: none;
  border-radius: 8rem;
  transition: var(--speed3) transform, var(--speed3) border-radius, var(--speed3) padding;
  user-select: none;
  gap: 16rem;
}

.chip.small {
  height: 32rem;
  min-width: 32rem;
}

.chip.large {
  height: 48rem;
  min-width: 48rem;
}

.chip.border {
  border: 1rem solid var(--secondary);
  color: var(--secondary);
}

.chip.circle {
  border-radius: 40rem;
  padding: 0;
}

.chip.square {
  border-radius: 0;
  padding: 0;
}

.chip.fill {
  background-color: var(--secondary-container) !important;
  color: var(--on-secondary-container) !important;
  border: none;
}