.container,
.container.min {
  margin: 0 auto;
  max-width: 992rem;
  padding: 80rem 88rem;
  overflow-x: hidden;
}

.container.max {
  max-width: 100%;
}

@media only screen and (max-width: 600px) {
  .container,
  .container.min {
    padding: 80rem 8rem;
  }
}