:is(main, header, footer).responsive {
  ---padding: 6rem;
  max-inline-size: calc(75rem + var(---padding));
  margin: 0 auto;
}

main.responsive {
  padding: 0.5rem;
  overflow-x: hidden;
  min-block-size: 100vh;
}

:is(main, header, footer).responsive.max {
  max-inline-size: 100%;
}

nav.bottom:not(.s, .m, .l) ~ .responsive:not(header) {
  padding-bottom: 5rem;
}

nav.top:not(.s, .m, .l) ~ .responsive:not(footer) {
  padding-top: 5rem;
}

nav.left:not(.s, .m, .l) ~ .responsive {
  padding-left: var(---padding);
}

nav.right:not(.s, .m, .l) ~ .responsive {
  padding-right: var(---padding);
}

nav.drawer:not(.s, .m, .l) ~ .responsive {
  ---padding: 20rem;
}

@media only screen and (max-width: 600px) {
  nav.s.bottom ~ .responsive:not(header) {
    padding-bottom: 5rem;
  }

  nav.s.top ~ .responsive:not(footer) {
    padding-top: 5rem;
  }

  nav.drawer.s ~ .responsive {
    ---padding: 20rem;
  }

  nav.s.left ~ .responsive {
    padding-left: var(---padding);
  }

  nav.s.right ~ .responsive {
    padding-right: var(---padding);
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  nav.m.bottom ~ .responsive:not(header) {
    padding-bottom: 5rem;
  }

  nav.m.top ~ .responsive:not(footer) {
    padding-top: 5rem;
  }

  nav.drawer.m ~ .responsive {
    ---padding: 20rem;
  }

  nav.m.left ~ .responsive {
    padding-left: var(---padding);
  }

  nav.m.right ~ .responsive {
    padding-right: var(---padding);
  }
}

@media only screen and (min-width: 993px) {
  nav.l.bottom ~ .responsive:not(header) {
    padding-bottom: 5rem;
  }

  nav.l.top ~ .responsive:not(footer) {
    padding-top: 5rem;
  }

  nav.drawer.l ~ .responsive {
    ---padding: 20rem;
  }

  nav.l.left ~ .responsive {
    padding-left: var(---padding);
  }

  nav.l.right ~ .responsive {
    padding-right: var(---padding);
  }
}

@media only screen and (max-width: 600px) {
  main.responsive {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}
