main.responsive {
  margin: 0 auto;
  max-width: 1200rem;
  padding: 8rem;
  overflow-x: hidden;
  min-height: 100vh;
}

main.responsive.max {
  max-width: 100%;
}

nav.bottom:not(.s, .m, .l) ~ .responsive:not(header) {
  padding-bottom: 96rem;
}

nav.top:not(.s, .m, .l) ~ .responsive:not(footer) {
  padding-top: 96rem;
}

nav.left:not(.s, .m, .l) ~ .responsive {
  padding-left: 96rem;
}

nav.right:not(.s, .m, .l) ~ .responsive {
  padding-right: 96rem;
}

@media only screen and (max-width: 600px) {
  nav.s.bottom ~ .responsive:not(header) {
    padding-bottom: 96rem;
  }
  nav.s.top ~ .responsive:not(footer) {
    padding-top: 96rem;
  }
  nav.s.left ~ .responsive {
    padding-left: 96rem;
  }
  nav.s.right ~ .responsive {
    padding-right: 96rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  nav.m.bottom ~ .responsive:not(header) {
    padding-bottom: 96rem;
  }
  nav.m.top ~ .responsive:not(footer) {
    padding-top: 96rem;
  }
  nav.m.left ~ .responsive {
    padding-left: 96rem;
  }
  nav.m.right ~ .responsive {
    padding-right: 96rem;
  }
}

@media only screen and (min-width: 993px) {
  nav.l.bottom ~ .responsive:not(header) {
    padding-bottom: 96rem;
  }
  nav.l.top ~ .responsive:not(footer) {
    padding-top: 96rem;
  }
  nav.l.left ~ .responsive {
    padding-left: 96rem;
  }
  nav.l.right ~ .responsive {
    padding-right: 96rem;
  }
}

@media only screen and (max-width: 600px) {
  main.responsive {
    padding-right: 8rem;
    padding-left: 8rem;
  }
}