main.responsive {
  flex: 1;
  padding: 0.5rem;
  overflow-x: hidden;
}

:is(main, header, footer, section).responsive {
  max-inline-size: 75rem;
  margin: 0 auto;
}

:is(main, header, footer, section).responsive.max {
  max-inline-size: 100%;
}

*:has(> main.responsive) {
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
}

*:has(> nav.bottom:not(.s, .m, .l)) {
  padding-block-end: 5rem;
}

*:has(> nav.top:not(.s, .m, .l)) {
  padding-block-start: 5rem;
}

*:has(> nav.left:not(.s, .m, .l)) {
  padding-inline-start: 5rem;
}

*:has(> nav.right:not(.s, .m, .l)) {
  padding-inline-end: 5rem;
}

*:has(> nav.drawer.left:not(.s, .m, .l)) {
  padding-inline-start: 20rem;
}

*:has(> nav.drawer.right:not(.s, .m, .l)) {
  padding-inline-end: 20rem;
}

nav.top:not(.s, .m, .l) ~ header.fixed {
  inset-block-start: 5rem;
}

nav.bottom:not(.s, .m, .l) ~ footer.fixed {
  inset-block-end: 5rem;
}

@media only screen and (max-width: 600px) {
  *:has(> nav.s.bottom) {
    padding-block-end: 5rem;
  }

  *:has(> nav.s.top) {
    padding-block-start: 5rem;
  }

  *:has(> nav.s.left) {
    padding-inline-start: 5rem;
  }

  *:has(> nav.s.right) {
    padding-inline-end: 5rem;
  }

  *:has(> nav.s.drawer.left) {
    padding-inline-start: 20rem;
  }

  *:has(> nav.s.drawer.right) {
    padding-inline-end: 20rem;
  }

  nav.s.top ~ header.fixed {
    inset-block-start: 5rem;
  }

  nav.s.bottom ~ footer.fixed {
    inset-block-end: 5rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  *:has(> nav.m.bottom) {
    padding-block-end: 5rem;
  }

  *:has(> nav.m.top) {
    padding-block-start: 5rem;
  }

  *:has(> nav.m.left) {
    padding-inline-start: 5rem;
  }

  *:has(> nav.m.right) {
    padding-inline-end: 5rem;
  }

  *:has(> nav.m.drawer.left) {
    padding-inline-start: 20rem;
  }

  *:has(> nav.m.drawer.right) {
    padding-inline-end: 20rem;
  }

  nav.m.top ~ header.fixed {
    inset-block-start: 5rem;
  }

  nav.m.bottom ~ footer.fixed {
    inset-block-end: 5rem;
  }
}

@media only screen and (min-width: 993px) {
  *:has(> nav.l.bottom) {
    padding-block-end: 5rem;
  }

  *:has(> nav.l.top) {
    padding-block-start: 5rem;
  }

  *:has(> nav.l.left) {
    padding-inline-start: 5rem;
  }

  *:has(> nav.l.right) {
    padding-inline-end: 5rem;
  }

  *:has(> nav.l.drawer.left) {
    padding-inline-start: 20rem;
  }

  *:has(> nav.l.drawer.right) {
    padding-inline-end: 20rem;
  }

  nav.l.top ~ header.fixed {
    inset-block-start: 5rem;
  }

  nav.l.bottom ~ footer.fixed {
    inset-block-end: 5rem;
  }
}

@media only screen and (max-width: 600px) {
  main.responsive {
    padding-inline: 0.5rem;
  }
}
