dialog {
  display: block;
  border: none;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  box-shadow: var(--elevate2);
  color: var(--on-surface);
  background-color: var(--surface);
  padding: 1rem;
  z-index: 100;
  left: 50%;
  top: 10%;
  min-width: 20rem;
  max-width: 100%;
  max-height: 80%;
  overflow-x: hidden;
  overflow-y: auto;
  transition: var(--speed3) all, 0s background-color;
  transform: translate(-50%, -4rem);
}

dialog::backdrop {
  display: none;
}

dialog:not(.left, .right, .top, .bottom) {
  border-radius: 0.75rem;
}

dialog.small {
  width: 25%;
  height: 25%;
}

dialog.medium {
  width: 50%;
  height: 50%;
}

dialog.large {
  width: 75%;
  height: 75%;
}

dialog:is(.active, [open]) {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0);
}

dialog:is(.active, [open]):is(.left, .right, .top, .bottom, .max) {
  transform: translate(0, 0);
}

dialog.top {
  opacity: 1;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  height: auto;
  width: 100%;
  min-width: auto;
  max-height: 100%;
  transform: translateY(-100%);
}

dialog.left {
  opacity: 1;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  width: auto;
  height: 100%;
  max-height: 100%;
  transform: translateX(-100%);
}

dialog.right {
  opacity: 1;
  top: 0;
  left: auto;
  right: 0;
  bottom: auto;
  width: auto;
  height: 100%;
  max-height: 100%;
  transform: translateX(100%);
}

dialog.bottom {
  opacity: 1;
  top: auto;
  left: 0;
  right: auto;
  bottom: 0;
  height: auto;
  width: 100%;
  min-width: auto;
  max-height: 100%;
  transform: translateY(100%);
}

dialog.max {
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  transform: translateY(4rem);
}

dialog.small:is(.left, .right) {
  width: 20rem;
}

dialog.medium:is(.left, .right) {
  width: 32rem;
}

dialog.large:is(.left, .right) {
  width: 44rem;
}

dialog.small:is(.top, .bottom) {
  height: 16rem;
}

dialog.medium:is(.top, .bottom) {
  height: 24rem;
}

dialog.large:is(.top, .bottom) {
  height: 32rem;
}

nav > dialog,
nav.left > dialog {
  z-index: 0;
  text-align: left;
  overflow-y: auto;
  background-color: inherit;
  padding: 1rem 1rem 1rem 5rem;
}

nav.right > dialog {
  padding: 1rem 5rem 1rem 1rem;
}

nav.top > dialog {
  padding: 5rem 3rem 1rem;
}

nav.bottom > dialog {
  padding: 1rem 3rem 5rem;
}

dialog > a.row:is(:hover, .active) {
  background-color: var(--secondary-container);
}

dialog > .row {
  padding: 0.75rem;
}
