dialog {
  display: block;
  border: none;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  box-shadow: var(--elevate2);
  color: var(--on-surface);
  background-color: var(--surface-container-high);
  padding: 1rem;
  z-index: 100;
  inset-inline-start: 50%;
  inset-block-start: 10%;
  min-inline-size: 20rem;
  max-inline-size: 100%;
  max-block-size: 80%;
  overflow-x: hidden;
  overflow-y: auto;
  transition: var(--speed3) all, 0s background-color;
  border-radius: 1rem;
  transform: translate(-50%, -4rem);
}

[dir=rtl] dialog {
  transform: translate(50%, -4rem);
}

dialog::backdrop {
  display: none;
}

dialog.small {
  inline-size: 25%;
  block-size: 25%;
}

dialog.medium {
  inline-size: 50%;
  block-size: 50%;
}

dialog.large {
  inline-size: 75%;
  block-size: 75%;
}

dialog:is(.active, [open]) {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0);
}

[dir=rtl] dialog:is(.active, [open]) {
  transform: translate(50%, 0);
}

dialog:is(.active, [open]):is(.left, .right, .top, .bottom, .max),
[dir=rtl] dialog:is(.active, [open]):is(.left, .right, .top, .bottom, .max) {
  transform: translate(0, 0);
}

dialog.top {
  opacity: 1;
  inset-block-start: 0;
  inset-inline-start: 0;
  inset-inline-end: auto;
  inset-block-end: auto;
  block-size: auto;
  inline-size: 100%;
  min-inline-size: auto;
  max-block-size: 100%;
  transform: translateY(-100%);
  border-radius: unset;
  border-end-start-radius: 1rem;
  border-end-end-radius: 1rem;
}

dialog.left {
  opacity: 1;
  inset-block-start: 0;
  inset-inline-start: 0;
  inset-inline-end: auto;
  inset-block-end: auto;
  inline-size: auto;
  block-size: 100%;
  max-block-size: 100%;
  border-radius: unset;
  border-start-end-radius: 1rem;
  border-end-end-radius: 1rem;
  background-color: var(--surface);
  transform: translateX(-100%);
}

[dir=rtl] dialog.left {
  transform: translateX(100%);
}

dialog.right {
  opacity: 1;
  inset-block-start: 0;
  inset-inline-start: auto;
  inset-inline-end: 0;
  inset-block-end: auto;
  inline-size: auto;
  block-size: 100%;
  max-block-size: 100%;
  border-radius: unset;
  border-start-start-radius: 1rem;
  border-end-start-radius: 1rem;
  background-color: var(--surface);
  transform: translateX(100%);
}

[dir=rtl] dialog.right {
  transform: translateX(-100%);
}

dialog.bottom {
  opacity: 1;
  inset-block-start: auto;
  inset-inline-start: 0;
  inset-inline-end: auto;
  inset-block-end: 0;
  block-size: auto;
  inline-size: 100%;
  min-inline-size: auto;
  max-block-size: 100%;
  transform: translateY(100%);
  border-radius: unset;
  border-start-start-radius: 1rem;
  border-start-end-radius: 1rem;
}

dialog.max {
  inset-block-start: 0;
  inset-inline-start: 0;
  inset-inline-end: auto;
  inset-block-end: auto;
  inline-size: 100%;
  block-size: 100%;
  max-inline-size: 100%;
  max-block-size: 100%;
  transform: translateY(4rem);
  background-color: var(--surface);
}

dialog.small:is(.left, .right) {
  inline-size: 20rem;
}

dialog.medium:is(.left, .right) {
  inline-size: 32rem;
}

dialog.large:is(.left, .right) {
  inline-size: 44rem;
}

dialog.small:is(.top, .bottom) {
  block-size: 16rem;
}

dialog.medium:is(.top, .bottom) {
  block-size: 24rem;
}

dialog.large:is(.top, .bottom) {
  block-size: 32rem;
}

dialog > a.row:is(:hover, .active) {
  background-color: var(--secondary-container);
}

dialog > .row {
  padding: 0.75rem;
}
