hr,
[class*=divider] {
  all: unset;
  inline-size: -webkit-fill-available;
  min-block-size: auto;
  block-size: 0.0625rem;
  background-color: var(--outline-variant);
  display: block;
}

hr + *,
[class*=divider] + * {
  margin: 0 !important;
}

hr.medium,
.medium-divider {
  margin: 1rem 0 !important;
}

hr.large,
.large-divider {
  margin: 1.5rem 0 !important;
}

hr.small,
.small-divider {
  margin: 0.5rem 0 !important;
}

li:has(> hr),
li:has(> .divider) {
  padding: 0 !important;
  align-self: normal !important;
  min-inline-size: auto !important;
  min-block-size: auto !important;
  inline-size: -webkit-fill-available;
}

hr.vertical,
.divider.vertical,
li:has(> hr.vertical),
li:has(> .divider.vertical) {
  padding: 0 !important;
  align-self: center !important;
  min-inline-size: auto;
  min-block-size: 1.5rem;
  inline-size: 0.0625rem;
}