.dropdown {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  box-shadow: var(--elevate2);
  background-color: var(--surface);
  z-index: 11;
  top: auto;
  bottom: 0;
  left: 0;
  right: auto;
  width: 100%;
  max-height: 50vh;
  max-width: none;
  transform: translateY(100%);
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 14rem;
  font-weight: normal;
  text-transform: none;
  color: var(--on-surface);
  line-height: normal;
  text-align: left;
  border-radius: 4rem;
  transform: scale(.8) translateY(120%);
  transition: var(--speed2) all, 0s background-color;
}

.dropdown.no-wrap {
  width: auto;
  white-space: nowrap !important;
}

.dropdown.active,
.dropdown:not([data-ui]):active,
button:not([data-ui]):focus-within > .dropdown,
.button:not([data-ui]):focus-within > .dropdown,
.field > :not([data-ui]):focus-within ~ .dropdown {
  opacity: 1;
  visibility: visible;
  transform: scale(1) translateY(100%);
}

.dropdown.left {
  left: auto;
  right: 0;
}

.dropdown * {
  white-space: inherit !important;
}

.dropdown > a {
  padding: 12rem 16rem;
  border-radius: 0;
}

.dropdown > a:not(.row) {
  display: block;
}

.dropdown > a:hover,
.dropdown > a:focus,
.dropdown > a.active {
  background-color: var(--active);
}