summary {
  list-style-type: none;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

summary > * {
  pointer-events: none;
  margin: 0;
}

li > details > summary + .list {
  margin: 0 !important;
}