summary {
  list-style-type: none;
  cursor: pointer;

  &::-webkit-details-marker {
    display: none;
  }

  & > * {
    pointer-events: none;
    margin: 0;
  }
}

li > details > summary + .list {
  margin: 0 !important;
}
