.field {
  height: 48rem;
  margin-bottom: 8rem;
  border: none!important;
}

.field.small {
  height: 40rem;
}

.field.medium {
  height: 48rem;
}

.field.large {
  height: 56rem;
}

.field.extra {
  height: 64rem;
}

.field + .field {
  margin-top: 24rem;
}

.row.medium-space > .col > .field + .field {
  margin-top: 32rem;
}

.row.large-space > .col > .field + .field {
  margin-top: 40rem;
}

.field.round {
  border-radius: 32rem;
}

/* icon */
.field > i,
.field > img {
  position: absolute;
  top: 50%;
  left: auto;
  right: 16rem;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--on-background);
  z-index: 10;
}

.field.border > i,
.field.fill > i,
.field.round > i,
.field.border > img,
.field.fill > img,
.field.round > img {
  left: auto;
  right: 16rem;
}

.field > i:first-child,
.field > img:first-child {
  left: 16rem;
  right: auto;
}

.field.border > i:first-child,
.field.fill > i:first-child,
.field.round > i:first-child,
.field.border > img:first-child,
.field.fill > img:first-child,
.field.round > img:first-child {
  left: 16rem;
  right: auto;
}

.field.invalid > i {
  color: var(--error)!important;
}

/* input, textarea and select */
input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.field > input,
.field > textarea,
.field > select {
  border: 0;
  border-radius: 8rem 8rem 0 0;
  border-bottom: 2rem solid var(--outline);
  padding: 0 16rem;
  font-family: inherit;
  font-size: 16rem;
  width: 100%;
  height: 100%;
  outline: none;
  z-index: 1;
  color: var(--on-background);
  background-color: transparent;
  box-sizing: border-box;
  resize: none;
}

.field > select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.field > textarea {
  padding: 16rem;
}

.field.border > input,
.field.border > select {
  padding: 0 14rem;
}

.field.border > textarea {
  padding: 14rem;
}

.field > input:focus,
.field > textarea:focus,
.field > select:focus {
  border-bottom: 2rem solid var(--primary);
}

.field.border > input,
.field.border > textarea,
.field.border > select {
  border: 2rem solid var(--outline);
  border-radius: 8rem;
}

.field.border > input:focus,
.field.border > textarea:focus,
.field.border > select:focus {
  border: 2rem solid var(--primary);
}

.field.fill > input,
.field.fill > textarea,
.field.fill > select {
  background-color: var(--surface-variant);
  color: var(--on-surface-variant);
}

.field.fill > i,
.field.fill > img {
  color: var(--on-surface-variant);
}

.field.round > input,
.field.round > textarea,
.field.round > select {
  border: 0;
  border-radius: 32rem;
  box-shadow: var(--shadow1);
  padding: 0 24rem;
}

.field.round > textarea {
  border-radius: 24rem;
  padding: 16rem 24rem;
}

.field.round.border > input,
.field.round.border > select,
.field.round.border > textarea {
  padding-left: 22rem;
  padding-right: 22rem;
}

.field.round.border > input,
.field.round.border.fill > input,
.field.round.border > textarea,
.field.round.border.fill > textarea,
.field.round.border > select,
.field.round.border.fill > select {
  border: 2rem solid var(--outline);
  box-shadow: none;
}

.field.round.border > input:focus,
.field.round.border.fill > input:focus,
.field.round.border > textarea:focus,
.field.round.border.fill > textarea:focus,
.field.round.border > select:focus,
.field.round.border.fill > select:focus {
  border: 2rem solid var(--primary);
}

.field.round.fill > input,
.field.round.fill > textarea,
.field.round.fill > select {
  border: 0;
  box-shadow: none;
}

.field.flat > input,
.field.flat > textarea,
.field.flat > select {
  border: none!important;
  box-shadow: none!important;
}

.field.flat > input:focus,
.field.flat > textarea:focus,
.field.flat > select:focus {
  box-shadow: var(--shadow1)!important;
}

.field.label > input,
.field.label > textarea,
.field.label > select {
  padding-top: 20rem;
}

.field.label.border:not(.fill) > input,
.field.label.border:not(.fill) > select {
  padding-top: 0;
}

.field.prefix > input,
.field.prefix > textarea,
.field.prefix > select {
  padding-left: 48rem;
}

.field.suffix > input,
.field.suffix > textarea,
.field.suffix > select {
  padding-right: 48rem;
}

.field.border.prefix > input,
.field.border.prefix > textarea,
.field.border.prefix > select {
  padding-left: 46rem;
}

.field.border.suffix > input,
.field.border.suffix > textarea,
.field.border.suffix > select {
  padding-right: 46rem;
}

.field.invalid > input,
.field.invalid > textarea,
.field.invalid > select {
  border-bottom: 2rem solid var(--error);
}

.field.invalid.border > input,
.field.invalid.border.round > input,
.field.invalid.border.round.fill > input,
.field.invalid.border > textarea,
.field.invalid.border.round > textarea,
.field.invalid.border.round.fill > textarea,
.field.invalid.border > select,
.field.invalid.border.round > select,
.field.invalid.border.round.fill > select {
  border: 2rem solid var(--error);
}

.field.invalid.round > input,
.field.invalid.round > textarea,
.field.invalid.round > select {
  border: inherit;
}

.field > :disabled {
  opacity: .5;
  cursor: not-allowed;
}

.field.label.textarea.small > textarea {
  padding-top: 20rem;
}

.field.label.textarea > textarea,
.field.label.textarea.medium > textarea {
  padding-top: 24rem;
}

.field.label.textarea.large > textarea {
  padding-top: 28rem;
}

.field.label.textarea.extra > textarea {
  padding-top: 32rem;
}

.field.label.textarea.small.border:not(.fill) > textarea {
  padding-top: 10rem;
}

.field.label.textarea.border:not(.fill) > textarea,
.field.label.textarea.medium.border:not(.fill) > textarea {
  padding-top: 14rem;
}

.field.label.textarea.large.border:not(.fill) > textarea {
  padding-top: 18rem;
}

.field.label.textarea.extra.border:not(.fill) > textarea {
  padding-top: 22rem;
}

.field.small.textarea {
  height: 72rem;
}

.field.textarea,
.field.medium.textarea {
  height: 88rem;
}

.field.large.textarea {
  height: 104rem;
}

.field.extra.textarea {
  height: 120rem;
}

.field > select > option {
  background-color: var(--surface);
}

/* label */
.field.label > label {
  will-change: top, left;
  position: absolute;
  top: 50%;
  left: 16rem;
  font-size: 16rem;
  transform: translateY(-50%);
  transition: all var(--speed1);
  z-index: 10;
}

.field.label.textarea.small > label {
  top: 20rem;
}

.field.label.textarea > label,
.field.label.textarea.medium > label {
  top: 24rem;
}

.field.label.textarea.large > label {
  top: 28rem;
}

.field.label.textarea.extra > label {
  top: 32rem;
}

.field.label.round > label {
  left: 24rem;
}

.field.label.prefix > label {
  left: 48rem;
}

.field.label > label.active,
.field.label > [placeholder]:focus ~ label,
.field.label > [placeholder]:not(:placeholder-shown) ~ label {
  font-size: 12rem;
  transform: translateY(-120%);
}

.field.label.border:not(.fill) > label.active,
.field.label.border:not(.fill) > [placeholder]:focus ~ label,
.field.label.border:not(.fill) > [placeholder]:not(:placeholder-shown) ~ label {
  font-size: 12rem;
  top: 0%;
  left: 16rem;
  transform: translateY(-50%);
}

.field.label.border.round:not(.fill) > label.active,
.field.label.border.round:not(.fill) > [placeholder]:focus ~ label,
.field.label.border.round:not(.fill) > [placeholder]:not(:placeholder-shown) ~ label {
  left: 24rem;
}

.field.label > :focus ~ label {
  color: var(--primary);
}

.field.invalid > label {
  color: var(--error)!important;
}

.field > label.required:after,
.field.required > label:after {
  content: " * ";
}

/* helper */
.field > .helper,
.field > .error {
  position: absolute;
  left: 16rem;
  bottom: 0;
  transform: translateY(100%);
  font-size: 12rem;
  background: none!important;
  padding-top: 2rem;
}

a.helper {
  color: var(--primary);
}

.field > .error {
  color: var(--error)!important;
}

.field.round > .helper,
.field.round > .error {
  left: 24rem;
}

.field.invalid > .helper {
  display: none;
}

table td > .field {
  max-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}