i {
  ---size: 1.5rem;

  font-family: var(--font-icon);
  font-weight: normal;
  font-style: normal;
  font-size: var(---size);
  letter-spacing: normal;
  text-transform: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  width: var(---size);
  min-width: var(---size);
  height: var(---size);
  min-height: var(---size);
  box-sizing: content-box;
  line-height: normal;
}

i.tiny {
  ---size: 1rem;
}

.chip > i,
i.small {
  ---size: 1.25rem;
}

i.medium {
  ---size: 1.5rem;
}

i.large {
  ---size: 1.75rem;
}

i.extra {
  ---size: 2rem;
}

i.fill,
a.row:is(:hover, :focus) > i,
.transparent:is(:hover, :focus) > i {
  font-variation-settings: "FILL" 1;
}

i > :is(img, svg) {
  width: 100%;
  height: 100%;
  background-size: 100%;
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  padding: inherit;
}

i[class*="fa-"] {
  font-size: calc(var(---size) * 0.85);
  line-height: normal;
  height: auto;
  min-height: auto;
}