i {
  --i-size: 1.5rem;
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: var(--i-size);
  letter-spacing: normal;
  text-transform: none;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  width: var(--i-size);
  min-width: var(--i-size);
  height: var(--i-size);
  min-height: var(--i-size);
  box-sizing: content-box;
}

i.tiny {
  --i-size: 1rem;
}

i.small {
  --i-size: 1.25rem;
}

i.large {
  --i-size: 1.75rem;
}

i.extra {
  --i-size: 2rem;
}

i.fill,
a.row:is(:hover, :focus) > i,
.transparent:is(:hover, :focus) > i {
  font-variation-settings: "FILL" 1;
}

i > :is(img, svg) {
  width: 100%;
  height: 100%;
  background-size: 100%;
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
}