i {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  width: 1.5rem;
  min-width: 1.5rem;
  box-sizing: content-box;
}

i.tiny {
  font-size: 1rem;
  width: 1rem;
  min-width: 1rem;
}

i.small {
  font-size: 1.25rem;
  width: 1.25rem;
  min-width: 1.25rem;
}

i.large {
  font-size: 1.75rem;
  width: 1.75rem;
  min-width: 1.75rem;
}

i.extra {
  font-size: 2rem;
  width: 2rem;
}

i.fill,
a.row:hover>i,
a.row:focus>i,
.transparent:hover>i,
.transparent:focus>i {
  font-variation-settings: 'FILL' 1;
}