i {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24rem;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  width: 24rem;
  min-width: 24rem;
  box-sizing: content-box;
}

i.tiny {
  font-size: 16rem;
  width: 16rem;
  min-width: 16rem;
}

i.small {
  font-size: 20rem;
  width: 20rem;
  min-width: 20rem;
}

i.large {
  font-size: 28rem;
  width: 28rem;
  min-width: 28rem;
}

i.extra {
  font-size: 32rem;
  width: 32rem;
}

i.fill,
a.row:hover > i,
a.row:focus > i,
.transparent:hover > i,
.transparent:focus > i {
  font-variation-settings: 'FILL' 1;
}