.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

:is(.absolute, .fixed).left.right {
  inline-size: auto;
}

:is(.absolute, .fixed).left.right.small {
  block-size: 20rem;
}

:is(.absolute, .fixed).left.right.medium {
  block-size: 28rem;
}

:is(.absolute, .fixed).left.right.large {
  block-size: 44rem;
}

:is(.absolute, .fixed).top.bottom.small {
  inline-size: 20rem;
}

:is(.absolute, .fixed).top.bottom.medium {
  inline-size: 28rem;
}

:is(.absolute, .fixed).top.bottom.large {
  inline-size: 44rem;
}

header,
footer {
  padding: 0 1rem;
  background-color: var(--surface-container);
}

:is(header, footer, menu > *).fixed {
  position: sticky;
  inset-block-start: 0;
  inset-block-end: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  z-index: 12;
  background-color: inherit;
}

:is(header, footer).fixed::before {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  inset-block-end: 0;
  margin: 0 -0.5rem;
  max-inline-size: 100%;
  background-color: inherit;
}

:is(dialog, menu) > :is(header, footer) {
  padding: 0;
  background-color: inherit;
}

article > :is(header, footer) {
  padding: inherit;
  padding-inline-start: 0;
  padding-inline-end: 0;
  z-index: 11 !important;
}

:is(dialog, article, .padding, .medium-padding) > header.fixed {
  transform: translateY(-1rem);
}

:is(dialog, article, .padding, .medium-padding) > footer.fixed {
  transform: translateY(1rem);
}

.no-padding > :is(header, footer).fixed {
  transform: none;
}

.small-padding > header.fixed {
  transform: translateY(-0.5rem);
}

.small-padding > footer.fixed {
  transform: translateY(0.5rem);
}

.large-padding > header.fixed {
  transform: translateY(-1.5rem);
}

.large-padding > footer.fixed {
  transform: translateY(1.5rem);
}
