.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

:is(.absolute, .fixed) {
  &.left.right {
    inline-size: auto;

    &.small {
      block-size: 20rem;
    }

    &.medium {
      block-size: 28rem;
    }

    &.large {
      block-size: 44rem;
    }
  }

  &.top.bottom {
    &.small {
      inline-size: 20rem;
    }

    &.medium {
      inline-size: 28rem;
    }

    &.large {
      inline-size: 44rem;
    }
  }
}
