.list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  flex: 1;

  & > li {
    all: unset;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    align-self: normal;
    text-align: start;
    justify-content: flex-start;
    white-space: nowrap;
    gap: 1rem;
    min-block-size: 3.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    flex: 1;

    &:has(ul, ol, details[open], a:only-child) {
      padding: 0;
    }

    & > .list {
      padding: 0 0 0 1rem;
    }

    & > *,
    & > a:only-child > * {
      margin: 0;
    }

    & > :is(details, .max),
    & > a:only-child > .max,
    & > details > summary > .max {
      flex: 1;
    }

    &:focus-visible,
    & > a:only-child:focus-visible {
      outline: 0.125rem solid var(--primary);
      outline-offset: -0.25rem;
    }

    & > a:only-child,
    & > details > summary {
      all: unset;
      box-sizing: border-box;
      position: relative;
      display: flex;
      align-items: center;
      align-self: normal;
      text-align: start;
      justify-content: flex-start;
      white-space: nowrap;
      gap: 1rem;
      min-block-size: 3.5rem;
      padding: 0.5rem 1rem;
      cursor: pointer;
      flex: 1;
    }
  }

  &.border > li {
    &:not(:last-child)::before,
    & > details[open] > summary::before {
      content: "";
      position: absolute;
      background-color: var(--outline-variant);
      inset: auto 0 0;
      block-size: 0.0625rem;
      inline-size: auto;
    }
  }

  &.no-space > li,
  &.no-space > li > details > summary {
    min-block-size: 2.5rem;
  }

  &.medium-space > li,
  &.medium-space > li > details > summary {
    min-block-size: 4.5rem;
  }

  &.large-space > li,
  &.large-space > li > details > summary {
    min-block-size: 5.5rem;
  }
}
