.list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  flex: 1;
}

.list > *,
.list > * > details > summary {
  position: relative;
  display: flex;
  align-items: center;
  align-self: normal;
  text-align: start;
  justify-content: flex-start;
  white-space: nowrap;
  gap: 1rem;
  min-block-size: 3rem;
  padding: 0.75rem 0.75rem;
  cursor: pointer;
}

.list > *:has(ul, ol, details[open]) {
  padding: 0;
}

.list > * > .list {
  padding: 0 0 0 1rem;
}

.list > * > * {
  margin: 0;
}

.list > * > :is(details, .max) {
  flex: 1;
}

.list.border > :not(:last-child)::before,
.list.border > * > details[open] > summary::before {
  content: '';
  position: absolute;
  background-color: var(--outline-variant);
  inset: auto 0 0 0;
  block-size: .0625rem;
  inline-size: auto;
}

.list.no-space > *,
.list.no-space > * > details > summary {
  min-block-size: auto;
  padding: 0.25rem 0.75rem;
}

.list.small-space > *,
.list.small-space > * > details > summary {
  min-block-size: 2.5rem;
  padding: 0.5rem 0.75rem;
}

.list.large-space > *,
.list.large-space > * > details > summary {
  min-block-size: 3.5rem;
  padding: 1rem 0.75rem;
}
