.loader {
  --loader-translateY: 0;
  display: inline-block;
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  border: 4rem solid var(--primary);
  clip-path: polygon(50% 50%, 0% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  animation: 1.6s to-loader linear infinite;
  background: none !important;
}

.loader.small {
  width: 24rem;
  height: 24rem;
  border-width: 3rem;
}

.loader.large {
  width: 56rem;
  height: 56rem;
  border-width: 5rem;
}

.loader.red {
  border-color: #f44336;
}

.loader.pink {
  border-color: #e91e63;
}

.loader.purple {
  border-color: #9c27b0;
}

.loader.deep-purple {
  border-color: #673ab7;
}

.loader.indigo {
  border-color: #3f51b5;
}

.loader.blue {
  border-color: #2196f3;
}

.loader.light-blue {
  border-color: #03a9f4;
}

.loader.cyan {
  border-color: #00bcd4;
}

.loader.teal {
  border-color: #009688;
}

.loader.green {
  border-color: #4caf50;
}

.loader.light-green {
  border-color: #8bc34a;
}

.loader.lime {
  border-color: #cddc39;
}

.loader.yellow {
  border-color: #ffeb3b;
}

.loader.amber {
  border-color: #ffc107;
}

.loader.orange {
  border-color: #ff9800;
}

.loader.deep-orange {
  border-color: #ff5722;
}

.loader.brown {
  border-color: #795548;
}

.loader.blue-grey {
  border-color: #607d8b;
}

.loader.grey {
  border-color: #9e9e9e;
}

.loader.black {
  border-color: #000000;
}

.loader.white {
  border-color: #ffffff;
}

.field > .loader {
  --loader-translateY: -50%;
}

@keyframes to-loader {
  0% {
    transform: translateY(var(--loader-translateY)) rotate(0deg);
    clip-path: polygon(50% 50%, 0% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  20% {
    clip-path: polygon(50% 50%, 0% 0%, 50% 0%, 100% 0%, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%);
  }
  30% {
    clip-path: polygon(50% 50%, 0% 0%, 50% 0%, 100% 0%, 100% 50%, 100% 100%, 50% 100%, 50% 100%, 50% 100%);
  }
  40% {
    clip-path: polygon(50% 50%, 0% 0%, 50% 0%, 100% 0%, 100% 50%, 100% 100%, 50% 100%, 0% 100%, 0% 50%);    
  }
  50% {
    clip-path: polygon(50% 50%, 50% 0%, 50% 0%, 100% 0%, 100% 50%, 100% 100%, 50% 100%, 0% 100%, 0% 50%);
  }
  60% {
    clip-path: polygon(50% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 100%, 50% 100%, 0% 100%, 0% 50%);
  }
  70% {
    clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%, 0% 50%);
  }
  80% {
    clip-path: polygon(50% 50%, 0% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 50%);
  }
  90%{
    transform: translateY(var(--loader-translateY)) rotate(360deg);
    clip-path: polygon(50% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%);
  }
  100% {
    clip-path: polygon(50% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%);
  }
}