.loader {
  --loader-translate-y: 0;

  display: inline-block;
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  border: 4rem solid var(--primary);
  clip-path: polygon(50% 50%, 0% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  animation: 1.6s to-loader linear infinite;
  background: none !important;
}

.loader.small {
  width: 24rem;
  height: 24rem;
  border-width: 3rem;
}

.loader.large {
  width: 56rem;
  height: 56rem;
  border-width: 5rem;
}

.loader.red {
  border-color: #F44336;
}

.loader.pink {
  border-color: #E91E63;
}

.loader.purple {
  border-color: #9C27B0;
}

.loader.deep-purple {
  border-color: #673AB7;
}

.loader.indigo {
  border-color: #3F51B5;
}

.loader.blue {
  border-color: #2196F3;
}

.loader.light-blue {
  border-color: #03A9F4;
}

.loader.cyan {
  border-color: #00BCD4;
}

.loader.teal {
  border-color: #009688;
}

.loader.green {
  border-color: #4CAF50;
}

.loader.light-green {
  border-color: #8BC34A;
}

.loader.lime {
  border-color: #CDDC39;
}

.loader.yellow {
  border-color: #FFEB3B;
}

.loader.amber {
  border-color: #FFC107;
}

.loader.orange {
  border-color: #FF9800;
}

.loader.deep-orange {
  border-color: #FF5722;
}

.loader.brown {
  border-color: #795548;
}

.loader.blue-grey {
  border-color: #607D8B;
}

.loader.grey {
  border-color: #9E9E9E;
}

.loader.black {
  border-color: #000;
}

.loader.white {
  border-color: #FFF;
}

.field > .loader {
  --loader-translate-y: -50%;
}

@keyframes to-loader {
  0% {
    transform: translateY(var(--loader-translate-y)) rotate(0deg);
    clip-path: polygon(50% 50%, 0% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }

  20% {
    clip-path: polygon(50% 50%, 0% 0%, 50% 0%, 100% 0%, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%);
  }

  30% {
    clip-path: polygon(50% 50%, 0% 0%, 50% 0%, 100% 0%, 100% 50%, 100% 100%, 50% 100%, 50% 100%, 50% 100%);
  }

  40% {
    clip-path: polygon(50% 50%, 0% 0%, 50% 0%, 100% 0%, 100% 50%, 100% 100%, 50% 100%, 0% 100%, 0% 50%);
  }

  50% {
    clip-path: polygon(50% 50%, 50% 0%, 50% 0%, 100% 0%, 100% 50%, 100% 100%, 50% 100%, 0% 100%, 0% 50%);
  }

  60% {
    clip-path: polygon(50% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 50%, 100% 100%, 50% 100%, 0% 100%, 0% 50%);
  }

  70% {
    clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%, 0% 50%);
  }

  80% {
    clip-path: polygon(50% 50%, 0% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 50%);
  }

  90% {
    transform: translateY(var(--loader-translate-y)) rotate(360deg);
    clip-path: polygon(50% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%);
  }

  100% {
    clip-path: polygon(50% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%);
  }
}
