:has(> main) {
  display: grid;
  grid-template:
    "left top right" auto
    "left header right" auto
    "left main right" minmax(0, 1fr)
    "left footer right" auto
    "left bottom right" auto / auto minmax(0, 1fr) auto;
  min-block-size: 100dvh;
  box-sizing: border-box;
  background-color: var(--surface);

  & > :is(header, footer).fixed {
    transform: none;
    box-sizing: content-box;
    position: sticky;
    inset: 0;
    z-index: 12;
  }

  & > header {
    padding-block-start: var(--top, 0);
  }

  & > footer {
    padding-block-end: var(--bottom, 0);
  }
}

nav {
  &.left {
    grid-area: left;
  }

  &.right {
    grid-area: right;
  }

  &.top {
    grid-area: top;
  }

  &.bottom {
    grid-area: bottom;
  }
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

main {
  --_padding: 0.5rem;

  grid-area: main;
  padding: var(--_padding);
  overflow: clip;
}

aside {
  z-index: 1;

  &:not(.fixed, .absolute) {
    &.right {
      float: right;
    }

    &.left {
      float: left;
    }
  }
}
