main.responsive,
main.responsive.min {
  margin: 0 auto;
  max-width: 992rem;
  padding: 8rem;
  overflow-x: hidden;
  min-height: 100vh;
}

main.responsive.max {
  max-width: 100%;
}

nav.top:not(.s, .m, .l) ~ main.responsive {
  padding-top: 88rem;
}

nav.bottom:not(.s, .m, .l) ~ main.responsive {
  padding-bottom: 88rem;
}

nav.left:not(.s, .m, .l) ~ main.responsive {
  padding-left: 88rem;
}

nav.right:not(.s, .m, .l) ~ main.responsive {
  padding-right: 88rem;
}

@media only screen and (max-width: 600px) {
  nav.s.bottom ~ main.responsive {
    padding-bottom: 88rem;
  }
  nav.s.top ~ main.responsive {
    padding-top: 88rem;
  }
  nav.s.left ~ main.responsive {
    padding-left: 88rem;
  }
  nav.s.right ~ main.responsive {
    padding-right: 88rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  nav.m.bottom ~ main.responsive {
    padding-bottom: 88rem;
  }
  nav.m.top ~ main.responsive {
    padding-top: 88rem;
  }
  nav.m.left ~ main.responsive {
    padding-left: 88rem;
  }
  nav.m.right ~ main.responsive {
    padding-right: 88rem;
  }
}

@media only screen and (min-width: 993px) {
  nav.l.bottom ~ main.responsive {
    padding-bottom: 88rem;
  }
  nav.l.top ~ main.responsive {
    padding-top: 88rem;
  }
  nav.l.left ~ main.responsive {
    padding-left: 88rem;
  }
  nav.l.right ~ main.responsive {
    padding-right: 88rem;
  }
}

@media only screen and (max-width: 600px) {
  main.responsive {
    padding-right: 8rem;
    padding-left: 8rem;
  }
}