svg {
  fill: currentcolor;
}

:is(img, svg, video) {
  &:is(.small, .medium, .large, .tiny, .extra, .round, .circle, .square, .responsive) {
    --_size: 3rem;

    object-fit: cover;
    object-position: center;
    transition: transform var(--speed3), border-radius var(--speed3), padding var(--speed3);
    block-size: var(--_size);
    inline-size: var(--_size);
  }

  &.round {
    --_round: 0.5rem;
  }

  &.tiny {
    --_size: 2rem;
  }

  &.small {
    --_size: 2.5rem;
  }

  &.large {
    --_size: 3.5rem;
  }

  &.extra {
    --_size: 4rem;
  }

  &.responsive {
    --_size: 100%;

    margin: 0 auto;

    &.tiny {
      inline-size: 100%;
      block-size: 4rem;
    }

    &.small {
      inline-size: 100%;
      block-size: 8rem;
    }

    &.medium {
      inline-size: 100%;
      block-size: 12rem;
    }

    &.large {
      inline-size: 100%;
      block-size: 16rem;
    }

    &.extra {
      inline-size: 100%;
      block-size: 20rem;
    }

    &.round {
      --_round: 2rem;
    }
  }

  &.empty-state {
    max-inline-size: 100%;
    inline-size: 24rem;
  }
}

:is(button, .button, .chip) {
  &:not(.transparent) > .responsive {
    border: 0.25rem solid transparent;
  }

  & > :is(img, svg):not(.responsive) {
    min-inline-size: 1.5rem;
    max-inline-size: 1.5rem;
    min-block-size: 1.5rem;
    max-block-size: 1.5rem;
  }

  &:not(.extend) {
    & > .responsive:first-child {
      margin-inline-start: calc(-1 * var(--_padding, 0));
    }

    & > .responsive:not(:first-child) {
      margin-inline-end: calc(-1 * var(--_padding, 0));
    }
  }

  & > .responsive {
    --_size: inherit;

    margin: 0 auto;
  }
}

.field > :is(img, svg):not(.responsive),
.tabs :is(img, svg):not(.responsive) {
  min-inline-size: 1.5rem;
  max-inline-size: 1.5rem;
  min-block-size: 1.5rem;
  max-block-size: 1.5rem;
}

:is(.circle, .square, .extend) > .responsive {
  --_size: inherit;

  margin: 0 auto;
}

.extend {
  & > :is(.responsive, i) {
    margin: 0;
    position: absolute;
    inset-inline: 1rem;
    z-index: 1;
  }

  & > .responsive {
    inset-inline: 0;
    inline-size: 3.5rem;
  }

  &.border > .responsive {
    inline-size: 3.375rem;
  }
}
