svg {
  fill: currentColor;
}

:is(img, svg, video):is(.small, .medium, .large, .tiny, .extra, .round, .circle, .responsive) {
  object-fit: cover;
  object-position: center;
  transition: var(--speed3) transform, var(--speed3) border-radius, var(--speed3) padding;
  height: 3rem;
  width: 3rem;
}

:is(img, svg, video).round {
  border-radius: 0.5rem;
}

:is(img, svg, video).circle{
  border-radius: 50%;
}

:is(img, svg, video).tiny {
  height: 2rem;
  width: 2rem;
}

:is(img, svg, video).small {
  height: 2.5rem;
  width: 2.5rem;
}

:is(img, svg, video).large {
  height: 3.5rem;
  width: 3.5rem;
}

:is(img, svg, video).extra {
  height: 4rem;
  width: 4rem;
}

:is(img, svg, video).responsive {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

:is(button, .button, .chip) > :is(img, svg).responsive {
  width: 2.5rem;
}

:is(button, .button, .chip):not(.transparent) > :is(img, svg).responsive {
  border: 0.25rem solid transparent;
}

:is(button, .button, .chip).small > :is(img, svg).responsive {
  width: 2rem;
}

:is(button, .button, .chip).large > :is(img, svg).responsive {
  width: 3rem;
}

:is(button, .button, .chip).extra > :is(img, svg).responsive {
  width: 3.5rem;
}

:is(img, svg, video).responsive.tiny {
  width: 100%;
  height: 4rem;
}

:is(img, svg, video).responsive.small {
  width: 100%;
  height: 8rem;
}

:is(img, svg, video).responsive.medium {
  width: 100%;
  height: 12rem;
}

:is(img, svg, video).responsive.large {
  width: 100%;
  height: 16rem;
}

:is(img, svg, video).responsive.extra {
  width: 100%;
  height: 20rem;
}

:is(img, svg, video).responsive.round {
  border-radius: 2rem;
}

:is(img, svg, video).empty-state {
  max-width: 100%;
  width: 24rem;
}

:is(button, .button, .chip, .field) > :is(img, svg):not(.responsive, .tiny, .small, .medium, .large, .extra),
:is(.tabs, td) :is(img, svg):not(.responsive, .tiny, .small, .medium, .large, .extra) {
  min-width: 1.5rem;
  max-width: 1.5rem;
  min-height: 1.5rem;
  max-height: 1.5rem;
}

:is(button, .button, .chip) > :is(i, img, svg),
:is(button, .button, .chip) > :is(img, svg).responsive {
  margin: 0 -0.5rem;
}

:is(button, .button) > :is(img, svg).responsive {
  margin-left: -1.5rem;
}

:is(button, .button) > span + :is(img, svg).responsive {
  margin-right: -1.5rem;
}

.chip > :is(img, svg).responsive {
  margin-left: -1rem;
}

.chip > span + :is(img, svg).responsive {
  margin-right: -1rem;
}

:is(.circle, .square) > :is(img, svg).responsive {
  margin: 0;
}

.extend > :is(i, img, svg) {
  margin: 0;
  position: absolute;
  left: 1rem;
}

.extend > :is(img, svg).responsive {
  left: 0;
  width: 3.5rem;
}

.extend.border > :is(img, svg).responsive {
  width: 3.375rem;
}