img.small,
img.medium,
img.large,
img.tiny,
img.extra,
img.round,
img.circle,
img.responsive,
video.small,
video.medium,
video.large,
video.tiny,
video.extra,
video.round,
video.circle,
video.responsive {
  object-fit: cover;
  object-position: center;
  transition: var(--speed3) transform, var(--speed3) border-radius, var(--speed3) padding;
  height: 48rem;
  width: 48rem;
}

img.round,
video.round {
  border-radius: 8rem;
}

img.circle,
video.circle {
  border-radius: 50%;
}

img.tiny,
video.tiny {
  height: 32rem;
  width: 32rem;
}

img.small,
video.small {
  height: 40rem;
  width: 40rem;
}

img.large,
video.large {
  height: 56rem;
  width: 56rem;
}

img.extra,
video.extra {
  height: 64rem;
  width: 64rem;
}

img.responsive,
video.responsive {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

button > img.responsive,
.button > img.responsive,
.chip > img.responsive {
  width: 40rem;
}

button:not(.transparent) > img.responsive,
.button:not(.transparent) > img.responsive,
.chip:not(.transparent) > img.responsive {
  border: 4rem solid transparent;
}

button.small > img.responsive,
.button.small > img.responsive,
.chip.small > img.responsive {
  width: 32rem;
}

button.large > img.responsive,
.button.large > img.responsive,
.chip.large > img.responsive {
  width: 48rem;
}

button.extra > img.responsive,
.button.extra > img.responsive,
.chip.extra > img.responsive {
  width: 56rem;
}

img.responsive.tiny,
video.responsive.tiny {
  width: 100%;
  height: 64rem;
}

img.responsive.small,
video.responsive.small {
  width: 100%;
  height: 128rem;
}

img.responsive.medium,
video.responsive.medium {
  width: 100%;
  height: 192rem;
}

img.responsive.large,
video.responsive.large {
  width: 100%;
  height: 256rem;
}

img.responsive.extra,
video.responsive.extra {
  width: 100%;
  height: 320rem;
}

img.responsive.round,
video.responsive.round {
  border-radius: 32rem;
}

img.empty-state,
video.empty-state {
  max-width: 100%;
  width: 384rem;
}

button > img:not(.responsive, .tiny, .small, .medium, .large, .extra),
.button > img:not(.responsive, .tiny, .small, .medium, .large, .extra),
.chip > img:not(.responsive, .tiny, .small, .medium, .large, .extra),
.field > img:not(.responsive, .tiny, .small, .medium, .large, .extra),
.tabs img:not(.responsive, .tiny, .small, .medium, .large, .extra),
td img:not(.responsive, .tiny, .small, .medium, .large, .extra) {
  min-width: 24rem;
  max-width: 24rem;
  min-height: 24rem;
  max-height: 24rem;
}

.button > i,
.button > img,
.button > img.responsive,
button > i,
button > img,
button > img.responsive,
.chip > i,
.chip > img,
.chip > img.responsive {
  margin: 0 -8rem;
}

.button > img.responsive, 
button > img.responsive {
  margin-left: -24rem;
}

.button > span + img.responsive,
button > span + img.responsive {
  margin-right: -24rem;
}

.chip > img.responsive {
  margin-left: -16rem;
}

.chip > span + img.responsive {
  margin-right: -16rem;
}

.circle > img.responsive,
.square > img.responsive {
  margin: 0;
}

.extend > i,
.extend > img {
  margin: 0;
  position: absolute;
  left: 16rem;
}

.extend > img.responsive {
  left: 0;
  width: 56rem;
}

.extend.border > img.responsive {
  width: 54rem;
}