img,
video {
  margin: 0 auto;
}

img.right,
video.right,
i.right {
  position: absolute;
  right: 0;
}

img.left,
video.left,
i.left {
  position: absolute;
  left: 0;
}

img.small,
img.medium,
img.large,
img.tiny,
img.extra,
img.border,
img.round,
img.circle,
img.responsive,
video.small,
video.medium,
video.large,
video.tiny,
video.extra,
video.border,
video.round,
video.circle,
video.responsive {
  object-fit: cover;
  object-position: center;
  transition: var(--speed3) transform, var(--speed3) border-radius, var(--speed3) padding;
}

img.round,
video.round {
  border-radius: 8rem;
  height: 48rem;
  width: 48rem;
}

img.circle,
video.circle {
  border-radius: 50%;
  height: 48rem;
  width: 48rem;
}

img.tiny,
video.tiny {
  height: 32rem;
  width: 32rem;
}

img.small,
video.small {
  height: 40rem;
  width: 40rem;
}

img.medium,
video.medium {
  height: 48rem;
  width: 48rem;
}

img.large,
video.large {
  height: 56rem;
  width: 56rem;
}

img.extra,
video.extra {
  height: 64rem;
  width: 64rem;
}

img.responsive,
video.responsive {
  width: 100%;
  height: 100%;
}

button > img.responsive,
.button > img.responsive,
.chip > img.responsive {
  width: 40rem;
  box-sizing: border-box;
}

button:not(.transparent) > img.responsive,
.button:not(.transparent) > img.responsive,
.chip:not(.transparent) > img.responsive {
  border: 2rem solid transparent;
}

button.small > img.responsive,
.button.small > img.responsive,
.chip.small > img.responsive {
  width: 32rem;
}

button.large > img.responsive,
.button.large > img.responsive,
.chip.large > img.responsive {
  width: 48rem;
}

button.extra > img.responsive,
.button.extra > img.responsive,
.chip.extra > img.responsive {
  width: 56rem;
}

img.responsive.tiny,
video.responsive.tiny {
  width: 100%;
  height: 64rem;
}

img.responsive.small,
video.responsive.small {
  width: 100%;
  height: 128rem;
}

img.responsive.medium,
video.responsive.medium {
  width: 100%;
  height: 192rem;
}

img.responsive.large,
video.responsive.large {
  width: 100%;
  height: 256rem;
}

img.responsive.extra,
video.responsive.extra {
  width: 100%;
  height: 320rem;
}

img.responsive.round,
video.responsive.round {
  border-radius: 32rem;
}

img.empty-state,
video.empty-state {
  max-width: 100%;
  width: 384rem;
}

button > img:not(.responsive, .tiny, .small, .medium, .large, .extra),
.button > img:not(.responsive, .tiny, .small, .medium, .large, .extra),
.chip > img:not(.responsive, .tiny, .small, .medium, .large, .extra),
.field > img:not(.responsive, .tiny, .small, .medium, .large, .extra),
.tabs > a > img:not(.responsive, .tiny, .small, .medium, .large, .extra),
td img:not(.responsive, .tiny, .small, .medium, .large, .extra) {
  min-width: 24rem;
  max-width: 24rem;
  min-height: 24rem;
  max-height: 24rem;
}

.button.diamond > img,
button.diamond > img,
.button.circle > img,
button.circle > img,
.button.square > img,
button.square > img {
  margin: 0;
  padding: 0;
}

.button:not(.extend) > img.responsive:first-child, 
button:not(.extend) > img.responsive:first-child,
.chip > img.responsive:first-child {
  margin-left: -16rem;
}

.button:not(.extend) > img.responsive:last-child, 
button:not(.extend) > img.responsive:last-child,
.chip:not(.extend) > img.responsive:last-child {
  margin-right: -16rem;
}

.extend > i,
.extend > img {
  position: absolute;
  left: 16rem;
}

.extend > img.responsive {
  position: absolute;
  left: 0;
}

nav > img,
nav > video {
  margin: 0;
}