svg {
  fill: currentcolor;
}

:is(img, svg, video):is(.small, .medium, .large, .tiny, .extra, .round, .circle, .responsive) {
  object-fit: cover;
  object-position: center;
  transition: transform var(--speed3), border-radius var(--speed3), padding var(--speed3);
  block-size: 3rem;
  inline-size: 3rem;
}

:is(img, svg, video).round {
  border-radius: 0.5rem;
}

:is(img, svg, video).tiny {
  block-size: 2rem;
  inline-size: 2rem;
}

:is(img, svg, video).small {
  block-size: 2.5rem;
  inline-size: 2.5rem;
}

:is(img, svg, video).large {
  block-size: 3.5rem;
  inline-size: 3.5rem;
}

:is(img, svg, video).extra {
  block-size: 4rem;
  inline-size: 4rem;
}

:is(img, svg, video).responsive {
  inline-size: 100%;
  block-size: 100%;
  margin: 0 auto;
}

:is(button, .button, .chip):not(.transparent) > .responsive {
  border: 0.25rem solid transparent;
}

:is(button.small, .button.small, .chip) > .responsive {
  inline-size: 2rem;
}

:is(button, .button, .chip.medium) > .responsive {
  inline-size: 2.5rem;
}

:is(button, .button, .chip).large > .responsive {
  inline-size: 3rem;
}

:is(button, .button, .chip).extra > .responsive {
  inline-size: 3.5rem;
}

:is(img, svg, video).responsive.tiny {
  inline-size: 100%;
  block-size: 4rem;
}

:is(img, svg, video).responsive.small {
  inline-size: 100%;
  block-size: 8rem;
}

:is(img, svg, video).responsive.medium {
  inline-size: 100%;
  block-size: 12rem;
}

:is(img, svg, video).responsive.large {
  inline-size: 100%;
  block-size: 16rem;
}

:is(img, svg, video).responsive.extra {
  inline-size: 100%;
  block-size: 20rem;
}

:is(img, svg, video).responsive.round {
  border-radius: 2rem;
}

:is(img, svg, video).empty-state {
  max-inline-size: 100%;
  inline-size: 24rem;
}

:is(button, .button, .chip, .field) > :is(img, svg):not(.responsive, .tiny, .small, .medium, .large, .extra),
:is(.tabs) :is(img, svg):not(.responsive, .tiny, .small, .medium, .large, .extra) {
  min-inline-size: 1.5rem;
  max-inline-size: 1.5rem;
  min-block-size: 1.5rem;
  max-block-size: 1.5rem;
}

:is(button, .button, .chip) > :is(i, img, svg),
:is(button, .button, .chip) > .responsive {
  margin: 0 -0.5rem;
}

:is(button, .button) > .responsive {
  margin-inline-start: -1.5rem;
}

:is(button, .button) > span + .responsive {
  margin-inline-start: -0.5rem;
  margin-inline-end: -1.5rem;
}

.chip > .responsive {
  margin-inline-start: -1rem;
}

.chip > span + .responsive {
  margin-inline-start: -0.5rem;
  margin-inline-end: -1rem;
}

:is(.circle, .square) > .responsive {
  margin: 0;
}

.extend > :is(.responsive, i) {
  margin: 0;
  position: absolute;
  inset-inline: 1rem;
  z-index: 1;
}

.extend > .responsive {
  inset-inline: 0;
  inline-size: 3.5rem;
}

.extend.border > .responsive {
  inline-size: 3.375rem;
}
