menu > li {
  all: unset;
}

menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  box-shadow: var(--elevate2);
  background-color: var(--surface-container);
  z-index: 11;
  inset: auto auto 0 0;
  inline-size: 100%;
  max-block-size: 50vh;
  max-inline-size: none !important;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 0.875rem;
  font-weight: normal;
  text-transform: none;
  color: var(--on-surface);
  line-height: normal;
  text-align: start;
  border-radius: 0.25rem;
  transform: scale(0.8) translateY(120%);
  transition: all var(--speed2), 0s background-color;
}

[dir=rtl] menu {
  inset: auto 0 0 auto;
}

menu.no-wrap {
  inline-size: max-content;
  white-space: nowrap !important;
}

menu.active,
menu:not([data-ui]):active,
:not([data-ui]):focus-within > menu,
menu > :is(a, li):hover + menu,
menu > menu:hover {
  opacity: 1;
  visibility: visible;
  transform: scale(1) translateY(100%);
}

menu * {
  white-space: inherit !important;
}

menu > a,
menu > li > a {
  padding: 0.5rem 1rem;
  min-block-size: 3rem;
  flex: 1;
}

menu > a:not(.row),
menu > li > a:not(.row) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

menu > a:is(:hover, :focus, .active),
menu > li > a:is(:hover, :focus, .active) {
  background-color: var(--active);
}

menu.min {
  inset: 0 0 auto 0;
  transform: none !important;
  border-radius: inherit;
}

[dir=rtl] menu.min.right,
menu.min.left {
  inset: 0 0 auto auto;
}

[dir=rtl] menu.min.left,
menu.min.right {
  inset: 0 auto auto 0;
}

menu.max {
  position: fixed;
  inset: 0;
  block-size: 100%;
  max-block-size: none;
  min-block-size: auto;
  z-index: 100;
  transform: none !important;
}

menu.no-wrap:is(.min, .max) {
  min-inline-size: 16rem;
}

[dir=rtl] menu.right,
menu.left {
  inset: auto 0 0 auto;
}

[dir=rtl] menu.left,
menu.right {
  inset: auto auto 0 0;
}

menu:has(> menu),
menu > menu {
  ---child: 1;
  ---type: 0;

  overflow: unset;
  white-space: nowrap;
  inline-size: auto;
  min-inline-size: 12rem;
  max-block-size: none;
}

menu > menu,
menu > menu.right,
[dir=rtl] menu > menu.left {
  inset: auto auto calc(3rem * (var(---child) - var(---type))) 100%;
}

[dir=rtl] menu > menu,
[dir=rtl] menu > menu.right,
menu > menu.left {
  inset: auto 100% calc(3rem * (var(---child) - var(---type))) auto;
}

menu > :nth-last-child(2) {
  ---child: 2;
}

menu > :nth-last-child(3) {
  ---child: 3;
}

menu > :nth-last-child(4) {
  ---child: 4;
}

menu > :nth-last-child(5) {
  ---child: 5;
}

menu > :nth-last-child(6) {
  ---child: 6;
}

menu > :nth-last-child(7) {
  ---child: 7;
}

menu > :nth-last-child(8) {
  ---child: 8;
}

menu > :nth-last-child(9) {
  ---child: 9;
}

menu > :nth-last-child(10) {
  ---child: 10;
}

menu > :nth-last-child(11) {
  ---child: 11;
}

menu > :nth-last-of-type(2) {
  ---type: 1;
}

menu > :nth-last-of-type(3) {
  ---type: 2;
}

menu > :nth-last-of-type(4) {
  ---type: 3;
}

menu > :nth-last-of-type(5) {
  ---type: 4;
}

menu > :nth-last-of-type(6) {
  ---type: 5;
}

menu > :nth-last-of-type(7) {
  ---type: 6;
}

menu > :nth-last-of-type(8) {
  ---type: 7;
}

menu > :nth-last-of-type(9) {
  ---type: 8;
}

menu > :nth-last-of-type(10) {
  ---type: 9;
}

menu > :nth-last-of-type(11) {
  ---type: 10;
}