.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 0;
  position: fixed;
  box-shadow: var(--shadow2);
  color: var(--on-surface-variant);
  background-color: var(--surface-variant);
  transform: none;
  box-sizing: border-box;
  z-index: 100;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: auto;
  width: auto;
  text-align: center;
  margin: 0;
}

.menu.left,
.menu.right {
  width: 72rem;
}

.menu.top,
.menu.bottom {
  height: 72rem;
}

.menu.border {
  box-shadow: none;
  border: 1rem solid var(--outline);
}

.menu.left.border {
  border-top: none;
  border-bottom: none;
  border-left: none;
}

.menu.right.border {
  border-top: none;
  border-bottom: none;
  border-right: none;
}

.menu.top.border {
  border-top: none;
  border-right: none;
  border-left: none;
}

.menu.bottom.border {
  border-bottom: none;
  border-right: none;
  border-left: none;
}

.menu.top {
  bottom: auto;
  justify-content: center;
  flex-direction: row;
}

.menu.left {
  right: auto;
  justify-content: flex-start;
  flex-direction: column;
}

.menu.right {
  left: auto;
  justify-content: flex-start;
  flex-direction: column;
}

.menu.bottom {
  top: auto;
  justify-content: center;
  flex-direction: row;
}

.menu > a:not(button, .button, .chip, img, video) {
  min-width: 56rem;
  min-height: 48rem;
  text-align: center;
  margin: 8rem;
  display: grid;
  font-size: 12rem;
  z-index: 101;
}

.menu:not(.top, .bottom) > a:not(button, .button, .chip, img, video) {
  width: auto;
}

.menu:not(.left, .right) > a:not(button, .button, .chip, img, video) {
  height: auto;
  width: 56rem;
}

.menu:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: inherit;
  z-index: 101;
}

.menu > :not(.modal, .overlay) {
  z-index: 101;  
}

.menu.no-space > a:not(button, .button, .chip) {
  margin: 0;
}

.menu.medium-space > a:not(button, .button, .chip) {
  margin: 16rem;
}

.menu.large-space > a:not(button, .button, .chip) {
  margin: 24rem;
}

.menu > a:not(button, .button, .chip) > i {
  padding: 4rem;
  border-radius: 32rem;
  transition: var(--speed1) padding linear;
}

.menu > a:not(button, .button, .chip):hover > i,
.menu > a:not(button, .button, .chip):focus > i,
.menu > a:not(button, .button, .chip).active > i {
  background-color: var(--primary);
  color: var(--on-primary);
  padding: 4rem 16rem;
}

@media only screen and (max-width: 600px) {
  .menu.top,
  .menu.bottom {
    justify-content: space-around;
  }
}

.menu > .modal {
  margin: 0;
}

.menu.left > .modal {
  padding-left: 88rem;
}

.menu.right > .modal {
  padding-right: 88rem;
}

.menu.top > .modal {
  padding-top: 88rem;
}

.menu.right > .modal {
  padding-bottom: 88rem;
}