menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  box-shadow: var(--elevate2);
  background-color: var(--surface);
  z-index: 11;
  top: auto;
  bottom: 0;
  left: 0;
  right: auto;
  width: 100%;
  max-height: 50vh;
  max-width: none !important;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 0.875rem;
  font-weight: normal;
  text-transform: none;
  color: var(--on-surface);
  line-height: normal;
  text-align: left;
  border-radius: 0.25rem;
  transform: scale(0.8) translateY(120%);
  transition: var(--speed2) all, 0s background-color;
}

menu.no-wrap {
  width: max-content;
  white-space: nowrap !important;
}

menu.active,
menu:not([data-ui]):active,
:not([data-ui]):focus-within > menu {
  opacity: 1;
  visibility: visible;
  transform: scale(1) translateY(100%);
}

menu.left {
  left: auto;
  right: 0;
}

menu * {
  white-space: inherit !important;
}

menu > a {
  padding: 0.75rem 1rem;
}

menu > a:not(.row) {
  display: block;
}

menu > a:is(:hover, :focus, .active) {
  background-color: var(--active);
}

menu.min {
  top: 0;
  bottom: auto;
  transform: none !important;
  border-radius: inherit;
}

menu.max {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  max-height: none;
  min-height: auto;
  z-index: 100;
  transform: none !important;
}

menu.no-wrap:is(.min, .max) {
  min-width: 16rem;
}
