ol,
ul,
li {
  all: unset;
  position: relative;
}

nav,
ol,
ul,
.row,
a.row,
nav.drawer > :is(a, label),
nav.drawer > :is(ol, ul) > li > :is(a, label) {
  display: flex;
  align-items: center;
  align-self: normal;
  text-align: start;
  justify-content: flex-start;
  white-space: nowrap;
  gap: 1rem;
  margin: 0;
}

:is(nav, .row, .max) > :only-child {
  margin: 0;
}

* + :is(nav, ul, ol, .row) {
  margin-block-start: 1rem;
}

:is(nav, ol, ul, li, .row) > * {
  margin: 0;
  white-space: normal;
  flex: none;
}

:is(nav, ol, ul, .row).no-space {
  gap: 0;
}

:is(nav, ol, ul, li, .row).no-space > .border + .border {
  border-inline-start: 0;
}

:is(nav, ol, ul, .row).medium-space {
  gap: 1.5rem;
}

:is(nav, ol, ul, .row).large-space {
  gap: 2rem;
}

:is(nav, ol, ul, li, .row) > .max,
nav.drawer > :is(a, label) > .max,
nav.drawer > :is(ol, ul) > li > :is(a, label) > .max {
  flex: 1;
}

:is(nav, ol, ul, .row).wrap {
  display: flex;
  flex-wrap: wrap;
}

:is(header, footer) > :is(nav, ol, ul, .row) {
  min-block-size: inherit;
}

:is(nav, li, .row) > .border.no-margin + .border.no-margin {
  border-inline-start: 0;
}

nav:is(.left, .right, .top, .bottom) {
  border: 0;
  position: fixed;
  color: var(--on-surface);
  transform: none;
  z-index: 100;
  block-size: auto;
  inline-size: auto;
  text-align: center;
  padding: 0.5rem;
  margin: 0;
}

nav:is(.left, .right) {
  inline-size: 5rem;
  justify-content: flex-start;
  flex-direction: column;
  background-color: var(--surface);
}

nav:is(.top, .bottom) {
  block-size: 5rem;
  justify-content: center;
  flex-direction: row;
  background-color: var(--surface-container);
}

nav.top {
  inset: 0 0 auto 0;
}

nav.left {
  inset: 0 auto 0 0;
}

nav.right {
  inset: 0 0 0 auto;
}

nav.bottom {
  inset: auto 0 0 0;
}

nav.drawer {
  flex-direction: column;
  align-items: normal;
  inline-size: 20rem;
  gap: 0;
  padding: 0.5rem 1rem;
}

nav.drawer:is(.min, .max) {
  inline-size: auto;
}

nav.drawer.max {
  inline-size: 100%;
}

:is(nav, .row) > header {
  background-color: inherit;
}

nav:is(.left, .right) > header {
  transform: translateY(-0.5rem);
}

nav.drawer > header {
  transform: translateY(-0.75rem);
  min-block-size: 4.5rem;
  align-self: start;
}

nav.drawer > :is(a, label),
nav.drawer > :is(ol, ul) > li > :is(a, label),
a.row.wave {
  padding: 0.75rem;
  font-size: inherit;
}

nav.drawer > a,
nav.drawer > :is(ol, ul) > li > a {
  border-radius: 2rem;
}

nav.drawer > a:is(:hover, .active),
nav.drawer > :is(ol, ul) > li > a:is(:hover, .active) {
  background-color: var(--secondary-container);
}

nav.drawer > a:is(:hover, :focus, .active) > i,
nav.drawer > :is(ol, ul) > li > a:is(:hover, :focus, .active) > i {
  font-variation-settings: "FILL" 1;
}

nav > :is(ol, ul) {
  all: inherit;
  flex: auto;
}

nav:not(.left, .right, .bottom, .top) > :is(ol, ul) {
  padding: 0;
}

nav:is(.left, .right, .top, .bottom):not(.drawer) > a:not(.button, .chip),
nav:is(.left, .right, .top, .bottom):not(.drawer) > :is(ol, ul) > li > a:not(.button, .chip) {
  text-align: center;
  display: flex;
  flex-direction: column;
}

nav:is(.top, .bottom):not(.drawer) > a:not(.button, .chip),
nav:is(.top, .bottom):not(.drawer) > :is(ol, ul) > li > a:not(.button, .chip) {
  inline-size: 3.5rem;
}

nav:is(.left, .right, .top, .bottom):not(.drawer) > a:not(.button, .chip) > i,
nav:is(.left, .right, .top, .bottom):not(.drawer) > :is(ol, ul) > li > a:not(.button, .chip) > i {
  padding: 0.25rem;
  border-radius: 2rem;
  transition: var(--speed1) padding linear;
  margin: 0 auto;
}

nav:is(.left, .right, .top, .bottom):not(.drawer) > a:not(.button, .chip):is(:hover, :focus, .active) > i,
nav:is(.left, .right, .top, .bottom):not(.drawer) > :is(ol, ul) > li > a:not(.button, .chip):is(:hover, :focus, .active) > i {
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
  padding: 0.25rem 1rem;
  font-variation-settings: "FILL" 1;
}

:is(nav, ol, ul, .row):is(.left-align, .top-align, .vertical) {
  justify-content: flex-start;
}

:is(nav, ol, ul, .row):is(.right-align, .bottom-align) {
  justify-content: flex-end;
}

:is(nav, ol, ul, .row):is(.center-align, .middle-align) {
  justify-content: center;
}

:is(nav, ol, ul, .row):is(.left-align, .top-align, .vertical).vertical {
  align-items: flex-start;
}

:is(nav, ol, ul, .row):is(.right-align, .bottom-align).vertical {
  align-items: flex-end;
}

:is(nav, ol, ul, .row):is(.center-align, .middle-align).vertical {
  align-items: center;
}

:is(ol, ul) > li {
  align-items: inherit;
  justify-content: inherit;
}

nav:is(.left, .right):not(.drawer) > *,
nav:is(.left, .right):not(.drawer) > :is(ol, ul) > li {
  align-self: center;
}

:is(.drawer, .vertical) > :is(li, [class*=divider]),
:is(.drawer, .vertical) > :is(ol, ul) > li {
  align-self: stretch;
}

nav:not(.left, .right) > .space {
  inline-size: 0.5rem;
}

nav:not(.left, .right) > .medium-space {
  inline-size: 1rem;
}

nav:not(.left, .right) > .large-space {
  inline-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
  nav.top,
  nav.bottom {
    justify-content: space-around;
  }
}
