nav,
.row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  gap: 1rem;
}

:not(.divider, .small-divider, .medium-divider, .large-divider) + nav:not(.left, .right, .top, .bottom),
:not(.divider, .small-divider, .medium-divider, .large-divider) + .row:not(a) {
  margin-top: 1rem;
}

:is(nav, .row) > *,
:is(nav, .row) > :not(.tooltip, menu) > * {
  margin-top: 0;
  margin-bottom: 0;
}

nav > *,
.row > * {
  margin: 0 !important;
  white-space: normal;
  flex: none;
}

:is(nav, .row).no-space {
  gap: 0;
}

:is(nav, .row).no-space > .border + .border {
  border-left: 0;
}

:is(nav, .row).medium-space {
  gap: 1.5rem;
}

:is(nav, .row).large-space {
  gap: 2rem;
}

nav > .max,
.row > .max {
  flex: auto;
}

nav.wrap,
.row.wrap {
  display: flex;
  flex-wrap: wrap;
}

header > :is(nav, .row) {
  min-height: 4rem;
}

footer > :is(nav, .row) {
  min-height: 5rem;
}

:is(nav, .row) > .border.no-margin + .border.no-margin {
  border-left: 0;
}

a.row.wave {
  padding: 0.75rem;
}

nav:is(.left, .right, .top, .bottom) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 0;
  position: fixed;
  color: var(--on-surface);
  background-color: var(--surface);
  transform: none;
  z-index: 100;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: auto;
  width: auto;
  text-align: center;
  padding: 0.5rem;
}

nav.left,
nav.right {
  width: 5rem;
}

nav:is(.top, .bottom) {
  height: 5rem;
}

nav.top {
  bottom: auto;
  justify-content: center;
  flex-direction: row;
}

nav.left {
  right: auto;
  justify-content: flex-start;
  flex-direction: column;
}

nav.right {
  left: auto;
  justify-content: flex-start;
  flex-direction: column;
}

nav.bottom {
  top: auto;
  justify-content: center;
  flex-direction: row;
}

nav:is(.left, .right, .top, .bottom) > a:not(button, .button, .chip, img, video, svg) {
  min-width: 3.5rem;
  min-height: 3.5rem;
  text-align: center;
  display: flex;
  z-index: 101;
  flex-direction: column;
}

nav:is(.left, .right) > a:not(button, .button, .chip, img, video, svg) {
  width: auto;
}

nav:is(.top, .bottom) > a:not(button, .button, .chip, img, video, svg) {
  height: auto;
  width: 3.5rem;
}

nav:is(.left, .right, .top, .bottom)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: inherit;
  z-index: 101;
  border-radius: inherit;
}

nav:is(.left, .right, .top, .bottom) > :not(dialog, .overlay) {
  z-index: 101;
}

nav:is(.left, .right, .top, .bottom) > a:not(button, .button, .chip) > i {
  padding: 0.25rem;
  border-radius: 2rem;
  transition: var(--speed1) padding linear;
  margin: 0 auto;
}

nav:is(.left, .right, .top, .bottom) > a:not(button, .button, .chip):is(:hover, :focus, .active) > i {
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
  padding: 0.25rem 1rem;
  font-variation-settings: "FILL" 1;
}

nav.left > dialog {
  padding-left: 5.5rem;
}

nav.right > dialog {
  padding-right: 5.5rem;
}

nav.top > dialog {
  padding-top: 5.5rem;
}

nav.bottom > dialog {
  padding-bottom: 5.5rem;
}

nav.left-align,
nav.top-align {
  justify-content: flex-start;
}

nav.right-align,
nav.bottom-align {
  justify-content: flex-end;
}

nav.center-align,
nav.middle-align {
  justify-content: center;
}

nav:not(.left, .right) > .space {
  width: 0.5rem;
}

nav:not(.left, .right) > .medium-space {
  width: 1rem;
}

nav:not(.left, .right) > .large-space {
  width: 1.5rem;
}

@media only screen and (max-width: 600px) {
  nav.top,
  nav.bottom {
    justify-content: space-around;
  }
}
