nav,
.row,
nav.drawer > :is(a, label),
nav.drawer :is(summary, details) > :is(a, label) {
  display: flex;
  align-items: center;
  align-self: normal;
  text-align: start;
  justify-content: start;
  white-space: nowrap;
  gap: 1rem;
}

:not(.divider, .small-divider, .medium-divider, .large-divider) + nav:not(.left, .right, .top, .bottom),
:not(.divider, .small-divider, .medium-divider, .large-divider) + .row:not(a) {
  margin-block-start: 1rem;
}

:is(nav, .row) > *,
:is(nav, .row) > :not(.tooltip, menu) > * {
  margin-block-start: 0;
  margin-block-end: 0;
}

nav > *,
.row > * {
  margin: 0 !important;
  white-space: normal;
  flex: none;
}

:is(nav, .row).no-space {
  gap: 0;
}

:is(nav, .row).no-space > .border + .border {
  border-inline-start: 0;
}

:is(nav, .row).medium-space {
  gap: 1.5rem;
}

:is(nav, .row).large-space {
  gap: 2rem;
}

nav > .max,
.row > .max,
nav.drawer > :is(a, label) > .max,
nav.drawer :is(summary, details) > :is(a, label) > .max {
  flex: auto;
}

nav.wrap,
.row.wrap {
  display: flex;
  flex-wrap: wrap;
}

header > :is(nav, .row) {
  min-block-size: 4rem;
}

footer > :is(nav, .row) {
  min-block-size: 5rem;
}

nav > header > :is(nav, .row) {
  margin-block-start: -0.5rem !important;
}

:is(nav, .row) > .border.no-margin + .border.no-margin {
  border-inline-start: 0;
}

nav:is(.left, .right, .top, .bottom) {
  border: 0;
  position: fixed;
  color: var(--on-surface);
  transform: none;
  z-index: 100;
  inset-inline-start: 0;
  inset-block-start: 0;
  inset-block-end: 0;
  inset-inline-end: 0;
  block-size: auto;
  inline-size: auto;
  text-align: center;
  padding: 0.5rem;
}

nav:is(.left, .right) {
  inline-size: 5rem;
  justify-content: start;
  flex-direction: column;
  background-color: var(--surface);
}

nav:is(.top, .bottom) {
  block-size: 5rem;
  justify-content: center;
  flex-direction: row;
  background-color: var(--surface-container);
}

nav.top {
  inset-block-end: auto;
}

nav.left {
  inset-inline-end: auto;
}

nav.right {
  inset-inline-start: auto;
}

nav.bottom {
  inset-block-start: auto;
}

nav.drawer {
  flex-direction: column;
  align-items: normal;
  inline-size: 20rem;
  gap: 0;
  padding: 0.5rem 1rem;
}

nav.drawer:is(.min, .max) {
  inline-size: auto;
}

nav.drawer.max {
  inline-size: 100%;
}

nav > header {
  padding: 0;
  background-color: inherit;
  block-size: 4rem;
}

nav.drawer > header {
  block-size: 4.5rem;
  align-self: start;
}

nav.drawer:not(.left, .right) > header {
  align-self: stretch;
}

nav.drawer > :is(a, label),
nav.drawer :is(summary, details) > a,
a.row.wave {
  padding: 0.75rem;
  font-size: inherit;
}

nav.drawer > a,
nav.drawer :is(summary, details) > a {
  border-radius: 2rem;
}

nav.drawer > a:is(:hover, .active),
nav.drawer :is(summary, details) > a:is(:hover, .active) {
  background-color: var(--secondary-container);
}

nav.drawer > a:is(:hover, :focus, .active) > i,
nav.drawer :is(summary, details) > a:is(:hover, :focus, .active) > i {
  font-variation-settings: "FILL" 1;
}

nav:is(.left, .right, .top, .bottom):not(.drawer) > a:not(button, .button, .chip, img, video, svg) {
  text-align: center;
  display: flex;
  flex-direction: column;
}

nav:is(.top, .bottom):not(.drawer) > a:not(button, .button, .chip, img, video, svg) {
  inline-size: 3.5rem;
}

nav:is(.left, .right, .top, .bottom):not(.drawer) > a:not(button, .button, .chip) > i {
  padding: 0.25rem;
  border-radius: 2rem;
  transition: var(--speed1) padding linear;
  margin: 0 auto;
}

nav:is(.left, .right, .top, .bottom):not(.drawer) > a:not(button, .button, .chip):is(:hover, :focus, .active) > i {
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
  padding: 0.25rem 1rem;
  font-variation-settings: "FILL" 1;
}

nav.left-align,
nav.top-align {
  justify-content: start;
}

nav.right-align,
nav.bottom-align {
  justify-content: end;
}

nav.center-align,
nav.middle-align {
  justify-content: center;
}

nav:not(.left, .right) > .space {
  inline-size: 0.5rem;
}

nav:not(.left, .right) > .medium-space {
  inline-size: 1rem;
}

nav:not(.left, .right) > .large-space {
  inline-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
  nav.top,
  nav.bottom {
    justify-content: space-around;
  }
}
