.overlay {
  display: block;
  visibility: hidden;
  opacity: 0;
  background-color: color-mix(in srgb, var(--scrim) 40%, transparent);
  position: fixed;
  inset: 0;
  z-index: 99;
  transition: all var(--speed3);

  &.active {
    visibility: visible;
    opacity: 1;
  }

  &.blur {
    backdrop-filter: blur(0.25rem);
  }

  &.transparent {
    background-color: transparent;
  }
}
