.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
  color: var(--on-surface);
  background-color: var(--overlay);
  z-index: 100;
  transition: var(--speed3) all, 0s background-color;
}

nav > .overlay {
  z-index: 0;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}
