main.page {
  --_padding: 0;

  display: none;
  background-color: var(--surface);
  position: absolute;
  inset: 0;
  z-index: 1;

  &.active {
    display: block;
  }

  &.left,
  &.right,
  &.top,
  &.bottom {
    display: block;
    transition: transform var(--speed3);
  }

  &.left { transform: translateX(-100%); }
  &.right { transform: translateX(100%); }
  &.top { transform: translateY(-100%); }
  &.bottom { transform: translateY(100%); }

  &.active:is(.left, .right, .top, .bottom) {
    transform: translate(0, 0);
  }
}
