.checkbox,
.radio,
.switch {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  user-select: none;
  min-block-size: 2.5rem;

  & > input {
    appearance: none;
    position: absolute;
    inset: 0;
    inline-size: 100%;
    block-size: 100%;
    margin: 0;
    cursor: inherit;
    z-index: 1;
    opacity: 0;
  }

  & > span {
    display: inline-flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--on-surface);

    &::before {
      content: "";
      inline-size: 1.125rem;
      block-size: 1.125rem;
      border: 0.125rem solid var(--outline);
      border-radius: 0.125rem;
      transition: all var(--speed2);
      box-sizing: border-box;
    }
  }

  & > input:checked + span::before {
    background-color: var(--primary);
    border-color: var(--primary);
  }

  & > input:disabled {
    cursor: not-allowed;

    & + span {
      opacity: 0.38;
    }
  }
}

.checkbox {
  & > input:checked + span::before {
    content: "\e5ca";
    font-family: var(--font-icon);
    font-size: 1rem;
    color: var(--on-primary);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & > input:indeterminate + span::before {
    content: "\e15b";
    font-family: var(--font-icon);
    font-size: 1rem;
    color: var(--on-primary);
    background-color: var(--primary);
    border-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.radio {
  & > span::before {
    border-radius: 50%;
  }

  & > input:checked + span::before {
    box-shadow: inset 0 0 0 0.25rem var(--primary), inset 0 0 0 1rem var(--on-primary);
    background-color: var(--on-primary);
  }
}

.switch {
  & > span {
    &::before {
      inline-size: 3.25rem;
      block-size: 2rem;
      border-radius: 2rem;
      background-color: var(--surface-container-highest);
      border-color: var(--outline);
    }

    &::after {
      content: "";
      position: absolute;
      inset-inline-start: 0.375rem;
      inset-block-start: 0.375rem;
      inline-size: 1.25rem;
      block-size: 1.25rem;
      border-radius: 50%;
      background-color: var(--outline);
      transition: all var(--speed2);
    }

    & > i {
      position: absolute;
      inset-inline-start: 0.375rem;
      inset-block-start: 0.375rem;
      inline-size: 1.25rem;
      block-size: 1.25rem;
      font-size: 1rem;
      color: var(--surface-container-highest);
      z-index: 1;
      transition: all var(--speed2);
      opacity: 0;
    }
  }

  & > input:checked + span {
    &::before {
      background-color: var(--primary);
      border-color: var(--primary);
    }

    &::after {
      inset-inline-start: 1.625rem;
      background-color: var(--on-primary);
      inline-size: 1.5rem;
      block-size: 1.5rem;
      inset-block-start: 0.25rem;
    }

    & > i {
      inset-inline-start: 1.875rem;
      opacity: 1;
      color: var(--on-primary-container);
    }
  }

  & > input:disabled + span::after {
    background-color: var(--on-surface);
    opacity: 0.38;
  }
}

[dir=rtl] {
  .switch {
    & > span::after,
    & > span > i {
      inset-inline: auto 0.375rem;
    }

    & > input:checked + span {
      &::after {
        inset-inline: auto 1.625rem;
      }

      & > i {
        inset-inline: auto 1.875rem;
      }
    }
  }
}
