/* checkbox, radio, switch */
.checkbox,
.radio,
.switch {
  width: auto;
  height: auto;
  line-height: normal;
  white-space: nowrap;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

:is(.checkbox, .radio) > input {
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0;
}

.switch > input {
  width: 3.25rem;
  height: 2rem;
  opacity: 0;
}

:is(.checkbox, .radio, .switch) > span {
  display: inline-flex;
  align-items: center;
  color: var(--on-background);
  font-size: 0.875rem;
}

:is(.checkbox, .radio) > span:not(:empty) {
  padding-left: 0.25rem;
}

:is(.checkbox, .radio, .switch) > span::before,
.icon > span > i {  
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  width: 1.5rem;
  height: 1.5rem;
  box-sizing: border-box;
  margin: 0 auto;
  outline: none;
  color: var(--primary);
  position: absolute;
  left: -1.5rem;
  background-color: transparent;
  border-radius: 50%;
  user-select: none;
  z-index: 1;
  box-shadow: 0 0 0 0 var(--active);
  transition: var(--speed1) all;
}

.switch > span::before,
.switch.icon > span > i {  
  position: absolute;
  left: 0;
  top: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: var(--speed2) all;
  font-size: 1rem;
  user-select: none;
  min-width: auto;
  content: "";
  color: var(--surface-variant);
  background-color: var(--outline);
  transform: translate(-3rem, -50%) scale(0.6);
}

.switch.icon > span > i {
  transform: translate(-3rem, -50%) scale(1);
}

.checkbox > span::before {
  content: "check_box_outline_blank";
}

.radio > span::before {
  content: "radio_button_unchecked";
}

.checkbox > input:checked + span::before {
  content: "check_box";
  font-variation-settings: "FILL" 1;
}

.radio > input:checked + span::before {
  content: "radio_button_checked";
}

:is(.radio, .checkbox, .switch).icon > span::before {
  content: "" !important;
  font-variation-settings: unset !important;
}

:is(.checkbox, .radio) > input:is(:focus, :hover) + span::before {
  background-color: var(--active);
  box-shadow: 0 0 0 0.5rem var(--active);
}

.switch > input:is(:focus, :hover) + span::before,
.switch.icon > input:is(:focus, :hover) + span > i {  
  box-shadow: 0 0 0 0.5rem var(--active);
}

:is(.checkbox, .radio) > input:checked + span::before,
:is(.checkbox, .radio).icon > input:checked + span > i {
  color: var(--primary);
}

.icon > input:checked + span > i:first-child,
.icon > span > i:last-child {
  opacity: 0;
}

.icon > input:checked + span > i:last-child,
.icon > span > i:first-child {
  opacity: 1;
}

.switch > input:checked + span::after {
  border: none;
  background-color: var(--primary);
}

.switch > input:checked + span::before,
.switch.icon > input:checked + span > i {
  content: "check";
  color: var(--primary);
  background-color: var(--on-primary);
  transform: translate(-1.75rem, -50%) scale(1);
}

:is(.checkbox, .radio, .switch) > input:disabled + span {
  opacity: 0.5;
  cursor: not-allowed;
}

.checkbox + .checkbox,
.radio + .radio,
.switch + .switch {
  margin-left: 0.5rem;
}

.switch > span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  background-color: var(--active);
  border: 0.125rem solid var(--outline);
  box-sizing: border-box;
  width: 3.25rem;
  height: 2rem;
  border-radius: 2rem;
  transform: translate(-3.25rem, -50%);
}

.field > :is(nav, .row) {
  flex-grow: 1;
  padding: 0 1rem;
}

.field.round  > :is(nav, .row) {
  flex-grow: 1;
  padding: 0 1.5rem;
}