.shape {
  --_size: 100%;

  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: currentcolor;
  inline-size: var(--_size);
  block-size: var(--_size);
  display: inline-flex;
  transition: transform var(--speed3), border-radius var(--speed3), padding var(--speed3);

  &.rotate {
    animation: linear to-rotate infinite 24s;
  }

  &.reverse {
    animation: linear to-rotate infinite 24s reverse;
  }

  &.arch { mask-image: url("../shapes/arch.svg"); }
  &.arrow { mask-image: url("../shapes/arrow.svg"); }
  &.boom { mask-image: url("../shapes/boom.svg"); }
  &.bun { mask-image: url("../shapes/bun.svg"); }
  &.burst { mask-image: url("../shapes/burst.svg"); }
  &.circle { mask-image: url("../shapes/circle.svg"); }
  &.clamshell { mask-image: url("../shapes/clamshell.svg"); }
  &.diamond { mask-image: url("../shapes/diamond.svg"); }
  &.fan { mask-image: url("../shapes/fan.svg"); }
  &.flower { mask-image: url("../shapes/flower.svg"); }
  &.gem { mask-image: url("../shapes/gem.svg"); }
  &.ghost-ish { mask-image: url("../shapes/ghost-ish.svg"); }
  &.heart { mask-image: url("../shapes/heart.svg"); }
  &.leaf-clover4 { mask-image: url("../shapes/leaf-clover4.svg"); }
  &.leaft-clover8 { mask-image: url("../shapes/leaf-clover8.svg"); }
  &.loading-indicator { mask-image: url("../shapes/loading-indicator.svg"); }
  &.oval { mask-image: url("../shapes/oval.svg"); }
  &.pentagon { mask-image: url("../shapes/pentagon.svg"); }
  &.pill { mask-image: url("../shapes/pill.svg"); }
  &.pixel-circle { mask-image: url("../shapes/pixel-circle.svg"); }
  &.pixel-triangle { mask-image: url("../shapes/pixel-triangle.svg"); }
  &.puffy { mask-image: url("../shapes/puffy.svg"); }
  &.puffy-diamond { mask-image: url("../shapes/puffy-diamond.svg"); }
  &.semicircle { mask-image: url("../shapes/semicircle.svg"); }
  &.sided-cookie4 { mask-image: url("../shapes/sided-cookie4.svg"); }
  &.sided-cookie6 { mask-image: url("../shapes/sided-cookie6.svg"); }
  &.sided-cookie7 { mask-image: url("../shapes/sided-cookie7.svg"); }
  &.sided-cookie9 { mask-image: url("../shapes/sided-cookie9.svg"); }
  &.sided-cookie12 { mask-image: url("../shapes/sided-cookie12.svg"); }
  &.slanted { mask-image: url("../shapes/slanted.svg"); }
  &.soft-boom { mask-image: url("../shapes/soft-boom.svg"); }
  &.soft-burst { mask-image: url("../shapes/soft-burst.svg"); }
  &.square { mask-image: url("../shapes/square.svg"); }
  &.sunny { mask-image: url("../shapes/sunny.svg"); }
  &.triangle { mask-image: url("../shapes/triangle.svg"); }
  &.very-sunny { mask-image: url("../shapes/very-sunny.svg"); }
}

:is(button, .button, .chip):has(> .shape) > .responsive {
  border: none;
}
