.slider {
  display: flex;
  align-items: center !important;
  width: auto;
  margin: 1.125rem;
  flex: auto;
}

.slider.small {
  width: 4rem;
  flex: none;
}

.slider.medium {
  width: 8rem;
  flex: none;
}

.slider.large {
  width: 12rem;
  flex: none;
}

.slider.vertical {
  margin: 0.5rem auto !important;
  padding: 50% 0;
  transform: rotate(-90deg);
}

.slider > input {
  appearance: none;
  box-shadow: none;
  border: none;
  outline: none;
  pointer-events: none;
  width: 100%;
  height: 0.25rem;
  background: none;
  z-index: 1;
  padding: 0;
  margin: 0;
}

.slider > input:focus ~ .tooltip {
  visibility: visible;
}

.slider > input:only-of-type {
  cursor: pointer;
  pointer-events: all;
}

.slider > input + input {
  position: absolute;
}

.slider > input::-webkit-slider-thumb {
  appearance: none;
  box-shadow: none;
  border: none;
  outline: none;
  pointer-events: all;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  background: var(--primary);
  transition: var(--speed1) all ease-out;
  cursor: pointer;
}

.slider > input::-moz-range-thumb {
  appearance: none;
  box-shadow: none;
  border: none;
  outline: none;
  pointer-events: all;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  background: var(--primary);
  transition: var(--speed1) all ease-out;
  cursor: pointer;
}

.slider > input:not(:disabled):is(:focus, :hover)::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.625rem var(--active);
}

.slider > input:not(:disabled):is(:focus, :hover)::-moz-range-thumb {
  box-shadow: 0 0 0 0.625rem var(--active);
}

.slider > input:disabled {
  cursor: not-allowed;
  opacity: 1;
}

.slider > input:disabled::-webkit-slider-thumb {
  background: #9E9E9E;
  cursor: not-allowed;
}

.slider > input:disabled::-moz-range-thumb {
  background: #9E9E9E;
  cursor: not-allowed;
}

.slider > input:disabled + span {
  background: #9E9E9E;
}

.slider > span {
  position: absolute;
  top: calc(50% - 0.1875rem);
  height: 0.375rem;
  border-radius: 1rem;
  background: var(--primary);
  z-index: 0;
}

.field > .slider {
  width: 100%;
}

.slider::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.25rem;
  border-radius: 1rem;
  background: var(--active);
}