.slider {
  --_start: 0%;
  --_end: 0%;
  --_value1: "";
  --_value2: "";
  --_track: 1rem;
  --_thumb: max(2.5rem, calc(var(--_track, 0) + 0.5rem));

  display: flex;
  align-items: center !important;
  inline-size: auto;
  block-size: var(--_thumb);
  flex: none;
  direction: ltr;
  margin: 0 1.25rem;
  color: var(--primary);

  &.vertical {
    flex-direction: row !important;
    margin: 0.5rem auto !important;
    padding: 50% 0;
    transform: rotate(-90deg);
    inline-size: 100%;

    & > i {
      transform: rotate(90deg);
    }

    & > .tooltip {
      inset-block: auto;
      block-size: 2.5rem;
      inline-size: 2.5rem;
      margin-block: calc(-1 * var(--_thumb, 0)) 0 !important;
      transform: rotate(90deg) translate(-75%, 50%) !important;

      &.bottom {
        inset-block: auto;
        margin-block: 0 calc(-1 * var(--_thumb, 0)) !important;
        transform: rotate(90deg) translate(75%, 50%) !important;
      }

      & + .tooltip {
        transform: rotate(90deg) translate(-75%, -50%) !important;

        &.bottom {
          transform: rotate(90deg) translate(75%, -50%) !important;
        }
      }
    }
  }

  &.tiny { --_track: 1rem; }
  &.small { --_track: 1.5rem; }
  &.medium { --_track: 2.5rem; }
  &.large { --_track: 3.5rem; }
  &.extra { --_track: 6rem; }

  & > input {
    appearance: none;
    box-shadow: none;
    border: none;
    outline: none;
    pointer-events: none;
    inline-size: 100%;
    block-size: var(--_track);
    background: none;
    z-index: 1;
    padding: 0;
    margin: 0;
    transform: rotate(0deg);
    touch-action: none;

    &:only-of-type {
      pointer-events: all;
    }

    & ~ input {
      position: absolute;
    }

    &::-webkit-slider-thumb {
      appearance: none;
      box-shadow: none;
      border: none;
      outline: none;
      pointer-events: all;
      block-size: var(--_thumb);
      inline-size: 0.25rem;
      border-radius: 0.25rem;
      background: currentcolor;
      cursor: grab;
      margin: 0;
      z-index: 1;

      &:active {
        cursor: grabbing;
      }
    }

    &::-moz-range-thumb {
      appearance: none;
      box-shadow: none;
      border: none;
      outline: none;
      pointer-events: all;
      block-size: 2.75rem;
      inline-size: 0.25rem;
      border-radius: 0.25rem;
      background: var(--primary);
      cursor: grab;
      margin: 0;

      &:active {
        cursor: grabbing;
      }
    }

    &:not(:disabled):focus {
      &::-webkit-slider-thumb {
        transform: scaleX(0.6);
      }

      &::-moz-range-thumb {
        transform: scaleX(0.6);
      }
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 1;

      &::-webkit-slider-thumb {
        background: var(--outline);
        cursor: not-allowed;
      }

      &::-moz-range-thumb {
        background: var(--outline);
        cursor: not-allowed;
      }

      & ~ span:not([class]) {
        background: var(--outline);
      }
    }

    &[type=range] + input[type=range] ~ span:not([class]) {
      border-radius: 0;
      inset: calc(50% - (var(--_track, 0) / 2)) calc(var(--_end) + 0.5rem) auto calc(var(--_start) + 0.5rem);
    }

    &:focus-visible {
      &::-webkit-slider-thumb {
        outline: 0.1875rem solid var(--primary);
        outline-offset: 0.25rem;
      }

      &::-moz-range-thumb {
        outline: 0.1875rem solid var(--primary);
        outline-offset: 0.25rem;
      }
    }

    &:focus ~ .tooltip {
      inset-block: -1rem auto;
      opacity: 1 !important;
      visibility: visible !important;

      &.bottom {
        inset-block: auto -1rem;
      }
    }
  }

  & > span:not([class]) {
    position: absolute;
    block-size: var(--_track);
    border-radius: 1rem 0 0 1rem;
    background: currentcolor;
    color: currentcolor;
    z-index: 0;
    inset: calc(50% - (var(--_track, 0) / 2)) calc(var(--_end) + 0.5rem) auto var(--_start);

    & > i {
      position: absolute;
      block-size: auto;
      inset: 0 auto 0 0.5rem;
      color: var(--inverse-primary);
      z-index: 1;
    }
  }

  &::before {
    content: "";
    position: absolute;
    inline-size: 100%;
    block-size: var(--_track);
    border-radius: 1rem;
    background: var(--active);
    clip-path: polygon(calc(var(--_start, 0) - 0.5rem) 0, 0 0, 0 100%, calc(var(--_start, 0) - 0.5rem) 100%, calc(var(--_start, 0) - 0.5rem) 0, calc(100% - var(--_end, 0) + 0.5rem) 0, 100% 0, 100% 100%, calc(100% - var(--_end, 0) + 0.5rem) 100%, calc(100% - var(--_end, 0) + 0.5rem) 0);
  }

  &:has(> [disabled]) {
    opacity: 0.62;

    &::before {
      background: var(--active);
    }
  }

  &:not(.medium, .large, .extra) > span > i {
    display: none;
  }

  & > .tooltip {
    visibility: hidden !important;
    opacity: 0 !important;
    inset: 0 auto auto calc(100% - var(--_end, 0));
    border-radius: 2rem;
    transition: top var(--speed2) ease, opacity var(--speed2) ease;
    transform: translate(-50%, -25%) !important;
    padding: 0.75rem 1rem;

    &.bottom {
      inset: auto auto 0 calc(100% - var(--_end, 0));
      transition: bottom var(--speed2) ease, opacity var(--speed2) ease;
      transform: translate(-50%, 25%) !important;
    }

    & + .tooltip {
      inset: 0.25rem calc(100% - var(--_start, 0)) auto auto;
      transform: translate(50%, -25%) !important;

      &.bottom {
        inset: auto calc(100% - var(--_start, 0)) -0.25rem auto;
        transform: translate(50%, 25%) !important;
      }

      &::before {
        content: var(--_value2);
      }
    }

    &::before {
      content: var(--_value1);
    }
  }

  &.max {
    all: unset;
    margin: 0 !important;
    position: absolute;
    color: var(--primary);
    inset: 0;
    border-radius: inherit;
    overflow: hidden;
    z-index: 2;
    cursor: grab;
    inline-size: 100%;
    block-size: 100%;

    &.vertical {
      all: unset;
      margin: 0 !important;
      position: absolute;
      color: var(--primary);
      inset: 0;
      border-radius: inherit;
      overflow: hidden;
      z-index: 2;
      cursor: grab;
      inline-size: 100%;
      block-size: 100%;

      & > input {
        all: unset;
        margin: 0 !important;
        position: absolute;
        color: var(--primary);
        inset: 0;
        border-radius: inherit;
        overflow: hidden;
        z-index: 2;
        cursor: grab;
        inline-size: 100%;
        block-size: 100%;
        writing-mode: vertical-lr;
        transform: rotate(-180deg);
      }

      & > span:not([class]) {
        inset: var(--_end) 0 var(--_start) 0;
      }
    }

    &::before {
      display: none;
    }

    & > input {
      all: unset;
      margin: 0 !important;
      position: absolute;
      color: var(--primary);
      inset: 0;
      border-radius: inherit;
      overflow: hidden;
      z-index: 2;
      cursor: grab;
      inline-size: 100%;
      block-size: 100%;

      &::-webkit-slider-thumb {
        opacity: 0;
        inline-size: 1rem;
        block-size: 100vh;
        transform: none !important;
      }

      &::-moz-range-thumb {
        opacity: 0;
        inline-size: 1rem;
        block-size: 100vh;
        transform: none !important;
      }

      &:focus-visible {
        outline: 0.1875rem solid var(--primary);
        outline-offset: -0.125rem;
      }
    }

    & > span:not([class]) {
      block-size: auto !important;
      inset: 0 var(--_end) 0 var(--_start);
      background: currentcolor;
      color: inherit;
      border-radius: 0;
    }
  }
}

[dir=rtl] {
  .slider {
    transform: scaleX(-1);

    & > .tooltip {
      transform: translate(-50%, -25%) scaleX(-1) !important;

      &.bottom {
        transform: translate(-50%, 25%) scaleX(-1) !important;
      }

      & + .tooltip {
        transform: translate(50%, -25%) scaleX(-1) !important;

        &.bottom {
          transform: translate(50%, 25%) scaleX(-1) !important;
        }
      }
    }
  }
}

.field > .slider {
  inline-size: 100%;
}

:is(nav, .row, .field) > .slider:not(.circle, .small, .medium, .large) {
  flex: auto;
}

@media (pointer: coarse) {
  .slider > :hover ~ .tooltip {
    inset-block: -1rem auto !important;
    opacity: 1 !important;
    visibility: visible !important;

    &.bottom {
      inset-block: auto -1rem !important;
    }
  }
}
