.slider {
  ---start: 0%;
  ---end: 0%;
  ---value1: "";
  ---value2: "";

  display: flex;
  align-items: center !important;
  inline-size: auto;
  block-size: 1.25rem;
  margin: 1.125rem;
  flex: none;
}

.slider.vertical {
  flex-direction: row !important;
  margin: 0.5rem auto !important;
  padding: 50% 0;
  transform: rotate(-90deg);
  inline-size: 100%;
}

.slider.small {
  inline-size: 4rem;
}

.slider.medium {
  inline-size: 8rem;
}

.slider.large {
  inline-size: 12rem;
}

.slider > input {
  appearance: none;
  box-shadow: none;
  border: none;
  outline: none;
  pointer-events: none;
  inline-size: 100%;
  block-size: 0.25rem;
  background: none;
  z-index: 1;
  padding: 0;
  margin: 0;
}

.slider > input:focus ~ .tooltip {
  visibility: visible;
}

.slider > input:only-of-type {
  cursor: pointer;
  pointer-events: all;
}

.slider > input + input {
  position: absolute;
}

.slider > input::-webkit-slider-thumb {
  appearance: none;
  box-shadow: none;
  border: none;
  outline: none;
  pointer-events: all;
  block-size: 1.25rem;
  inline-size: 1.25rem;
  border-radius: 50%;
  background: var(--primary);
  transition: var(--speed1) all ease-out;
  cursor: pointer;
}

.slider > input::-moz-range-thumb {
  appearance: none;
  box-shadow: none;
  border: none;
  outline: none;
  pointer-events: all;
  block-size: 1.25rem;
  inline-size: 1.25rem;
  border-radius: 50%;
  background: var(--primary);
  transition: var(--speed1) all ease-out;
  cursor: pointer;
}

.slider > input:not(:disabled):is(:focus, :hover)::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.625rem var(--active);
}

.slider > input:not(:disabled):is(:focus, :hover)::-moz-range-thumb {
  box-shadow: 0 0 0 0.625rem var(--active);
}

.slider > input:disabled {
  cursor: not-allowed;
  opacity: 1;
}

.slider > input:disabled::-webkit-slider-thumb {
  background: #9E9E9E;
  cursor: not-allowed;
}

.slider > input:disabled::-moz-range-thumb {
  background: #9E9E9E;
  cursor: not-allowed;
}

.slider > input:disabled ~ :is(span, .tooltip) {
  background: #9E9E9E;
}

.slider > span {
  position: absolute;
  block-size: 0.375rem;
  border-radius: 1rem;
  background: var(--primary);
  z-index: 0;
  inset: calc(50% - 0.1875rem) var(---end) auto var(---start);
}

[dir=rtl] .slider > span {
  inset: calc(50% - 0.1875rem) var(---start) auto var(---end);
}

.field > .slider {
  inline-size: 100%;
}

.slider::before {
  content: "";
  position: absolute;
  inline-size: 100%;
  block-size: 0.25rem;
  border-radius: 1rem;
  background: var(--active);
}

.slider > .tooltip {
  opacity: 0;
  inset: 0.25rem auto auto calc(100% - var(---end));
  inline-size: 1.75rem;
  block-size: 1.75rem;
  background-color: var(--primary);
  border-radius: 50% 50% 0;
  transition: var(--speed2) ease top, var(--speed2) ease opacity;
  transform: translate(-50%, -50%) rotate(45deg) !important;
}

[dir=rtl] .slider > .tooltip {
  inset: 0.25rem auto auto var(---end);
}

.slider > .tooltip + .tooltip {
  inset: 0.25rem calc(100% - var(---start)) auto auto;
  transform: translate(50%, -50%) rotate(45deg) !important;
}

[dir=rtl] .slider > .tooltip + .tooltip {
  inset: 0.25rem var(---start) auto auto;
}

.slider > .tooltip::before {
  content: var(---value1);
  transform: rotate(-45deg);
}

.slider > .tooltip + .tooltip::before {
  content: var(---value2);
}

.slider:hover > .tooltip {
  inset-block-start: -0.25rem !important;
  opacity: 1;
}

.slider.vertical > .tooltip {
  display: none;
}

:is(nav, .row, .field) > .slider:not(.circle, .small, .medium, .large) {
  flex: auto;
}
