.slider {
  ---start: 0%;
  ---end: 0%;
  ---value1: "";
  ---value2: "";

  display: flex;
  align-items: center !important;
  inline-size: auto;
  block-size: 1.25rem;
  margin: 1.125rem;
  flex: none;
  direction: ltr;
}

[dir=rtl] .slider {
  transform: scaleX(-1);
}

.slider.vertical {
  flex-direction: row !important;
  margin: 0.5rem auto !important;
  padding: 50% 0;
  transform: rotate(-90deg);
  inline-size: 100%;
}

.slider.small {
  inline-size: 4rem;
}

.slider.medium {
  inline-size: 8rem;
}

.slider.large {
  inline-size: 12rem;
}

.slider > input {
  appearance: none;
  box-shadow: none;
  border: none;
  outline: none;
  pointer-events: none;
  inline-size: 100%;
  block-size: 1rem;
  background: none;
  z-index: 1;
  padding: 0;
  margin: 0;
}

.slider > input:only-of-type {
  pointer-events: all;
}

.slider > input + input {
  position: absolute;
}

.slider > input::-webkit-slider-thumb {
  appearance: none;
  box-shadow: none;
  border: none;
  outline: none;
  pointer-events: all;
  block-size: 2.75rem;
  inline-size: 0.25rem;
  border-radius: 0.25rem;
  background: var(--primary);
  cursor: grab;
  margin: 0;
}

.slider > input::-webkit-slider-thumb:active {
  cursor: grabbing;
}

.slider > input::-moz-range-thumb {
  appearance: none;
  box-shadow: none;
  border: none;
  outline: none;
  pointer-events: all;
  block-size: 2.75rem;
  inline-size: 0.25rem;
  border-radius: 0.25rem;
  background: var(--primary);
  cursor: grab;
  margin: 0;
}

.slider > input::-moz-range-thumb:active {
  cursor: grabbing;
}

.slider > input:not(:disabled):is(:focus)::-webkit-slider-thumb {
  transform: scaleX(0.6);
}

.slider > input:not(:disabled):is(:focus)::-moz-range-thumb {
  transform: scaleX(0.6);
}

.slider > input:disabled {
  cursor: not-allowed;
  opacity: 1;
}

.slider > input:disabled::-webkit-slider-thumb {
  background: #9E9E9E;
  cursor: not-allowed;
}

.slider > input:disabled::-moz-range-thumb {
  background: #9E9E9E;
  cursor: not-allowed;
}

.slider > input:disabled ~ span {
  background: #9E9E9E;
}

.slider > span {
  position: absolute;
  block-size: 1rem;
  border-radius: 1rem 0 0 1rem;
  background: var(--primary);
  z-index: 0;
  inset: calc(50% - 0.5rem) var(---end) auto var(---start);
  clip-path: polygon(0 0, calc(100% - 0.5rem) 0, calc(100% - 0.5rem) 100%, 0 100%);
}

.slider > input + input ~ span {
  border-radius: 0;
  clip-path: polygon(0.5rem 0, max(0.5rem, calc(100% - 0.5rem)) 0, max(0.5rem, calc(100% - 0.5rem)) 100%, 0.5rem 100%);
}

.field > .slider {
  inline-size: 100%;
}

.slider::before {
  content: "";
  position: absolute;
  inline-size: 100%;
  block-size: 1rem;
  border-radius: 1rem;
  background: var(--primary-container);
  clip-path: polygon(calc(var(---start) - 0.5rem) 0, 0 0, 0 100%, calc(var(---start) - 0.5rem) 100%, calc(var(---start) - 0.5rem) 0, calc(100% - var(---end) + 0.5rem) 0, 100% 0, 100% 100%, calc(100% - var(---end) + 0.5rem) 100%, calc(100% - var(---end) + 0.5rem) 0);
}

.slider:has(> [disabled])::before {
  background: var(--active);
}

.slider > .tooltip {
  visibility: hidden !important;
  opacity: 0 !important;
  inset: 0 auto auto calc(100% - var(---end));
  border-radius: 2rem;
  transition: top var(--speed2) ease, opacity var(--speed2) ease;
  transform: translate(-50%, -50%) !important;
  padding: 0.75rem 1rem;
}

[dir=rtl] .slider > .tooltip {
  transform: translate(-50%, -50%) scaleX(-1) !important;
}

.slider > .tooltip + .tooltip {
  inset: 0.25rem calc(100% - var(---start)) auto auto;
  transform: translate(50%, -50%) !important;
}

[dir=rtl] .slider > .tooltip + .tooltip {
  transform: translate(50%, -50%) scaleX(-1) !important;
}

.slider > .tooltip::before {
  content: var(---value1);
}

.slider > .tooltip + .tooltip::before {
  content: var(---value2);
}

.slider > :focus ~ .tooltip {
  inset-block-start: -1rem !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.slider.vertical > .tooltip {
  display: none;
}

:is(nav, .row, .field) > .slider:not(.circle, .small, .medium, .large) {
  flex: auto;
}

.slider.max,
.slider.max.vertical,
.slider.max > input,
.slider.max.vertical > input {
  all: unset;
  margin: 0 !important;
  position: absolute;
  color: var(--primary);
  inset: 0;
  border-radius: inherit;
  overflow: hidden;
  z-index: 2;
  cursor: grab;
  inline-size: 100%;
  block-size: 100%;
}

.slider.max::before {
  display: none;
}

.slider.max.vertical > input {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
}

.slider.max > input::-webkit-slider-thumb {
  opacity: 0;
  inline-size: 1rem;
  block-size: 100vh;
  transform: none !important;
}

.slider.max > input::-moz-range-thumb {
  opacity: 0;
  inline-size: 1rem;
  block-size: 100vh;
  transform: none !important;
}

.slider.max > span {
  block-size: auto !important;
  inset: 0 var(---end) 0 var(---start);
  clip-path: none;
  background: currentcolor;
  border-radius: 0;
}

.slider.max.vertical > span {
  inset: var(---end) 0 var(---start) 0;
}

@media (hover: none){
  .slider > :hover ~ .tooltip {
    inset-block-start: -1rem !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
}