:is(:not([dir]), [dir=ltr]) .snackbar {
  ---transform: translate(-50%, 1rem);
  transform: translate(-50%, 0);
}

[dir=rtl] .snackbar {
  ---transform: translate(50%, 1rem);
  transform: translate(50%, 0);
}

.snackbar {
  position: fixed;
  inset-block-start: auto;
  inset-block-end: 6rem;
  inset-inline-start: 50%;
  inset-inline-end: auto;
  inline-size: 80%;
  block-size: auto;
  z-index: 200;
  visibility: hidden;
  display: flex;
  box-shadow: var(--elevate2);
  color: var(--inverse-on-surface);
  background-color: var(--inverse-surface);
  padding: 1rem;
  opacity: 1;
  cursor: pointer;
  text-align: start;
  align-items: center;
  border-radius: 0.25rem;
  gap: 0.5rem;
}

.snackbar.top {
  inset-block-start: 6rem;
  inset-block-end: auto;
}

.snackbar.active {
  visibility: visible;
}

:is(:not([dir]), [dir=ltr]) .snackbar.active {
  animation: var(--speed2) to-snackbar-ltr;
}

[dir=rtl] .snackbar.active {
  animation: var(--speed2) to-snackbar-rtl;
}

:is(:not([dir]), [dir=ltr]) .snackbar.active.top {
  transform: translate(-50%, -1rem);
}

[dir=rtl] .snackbar.active.top {
  transform: translate(50%, -1rem);
}

.snackbar > .max {
  flex: auto;
}

@keyframes to-snackbar-ltr {
  0% {
    opacity: 0;
    transform: var(---transform);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes to-snackbar-rtl {
  0% {
    opacity: 0;
    transform: var(---transform);
  }

  100% {
    opacity: 1;
    transform: translate(50%, 0);
  }
}

@media only screen and (min-width: 993px) {
  .snackbar {
    inline-size: 40%;
  }
}
