.snackbar {
  ---transform: translate(-50%, 1rem);

  position: fixed;
  top: auto;
  bottom: 6rem;
  left: 50%;
  right: auto;
  width: 80%;
  height: auto;
  z-index: 200;
  visibility: hidden;
  display: flex;
  box-shadow: var(--elevate2);
  color: var(--inverse-on-surface);
  background-color: var(--inverse-surface);
  padding: 1rem;
  opacity: 1;
  cursor: pointer;
  transform: translate(-50%, 0);
  text-align: left;
  align-items: center;
  border-radius: 0.25rem;
  gap: 0.5rem;
}

.snackbar.top {
  top: 6rem;
  bottom: auto;
}

.snackbar.active {
  visibility: visible;
  animation: var(--speed2) to-snackbar;
}

.snackbar.active.top {
  ---transform: translate(-50%, -1rem);
}

.snackbar > .max {
  flex: auto;
}

@keyframes to-snackbar {
  0% {
    opacity: 0;
    transform: var(---transform);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@media only screen and (min-width: 993px) {
  .snackbar {
    width: 40%;
  }
}
