table {
  inline-size: 100%;
  border-spacing: 0;
  font-size: 0.875rem;
  color: var(--on-surface);
  text-align: start;
}

table :is(th, td) {
  inline-size: 1%;
  text-align: inherit;
  padding: 0.5rem;
}

table th {
  font-weight: 500;
}

table.border :is(th, td) {
  border-block-end: 0.0625rem solid var(--outline);
}

table.no-space :is(th, td) {
  padding: 0;
}

table.medium-space :is(th, td) {
  padding: 0.75rem;
}

table.large-space :is(th, td) {
  padding: 1rem;
}
