.tabs {
  display: flex;
  white-space: nowrap;
  border-block-end: 0.0625rem solid var(--surface-variant);
}

.tabs.min {
  padding: 0 1rem;
  gap: 2rem;
}

.tabs:not(.left-align, .right-align, .center-align) {
  justify-content: space-around;
}

* + .tabs {
  margin-block-start: 1rem;
}

.tabs > a {
  display: flex;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--on-surface-variant);
  padding: 0.5rem 1rem;
  border-block-end: 0.125rem solid transparent;
  text-align: center;
  min-block-size: 3rem;
  inline-size: 100%;
  gap: 0.25rem;
}

.tabs.min > a {
  inline-size: auto;
  padding: 0.5rem 0;
}

.tabs.small > a {
  min-block-size: 2rem;
}

.tabs.large > a {
  min-block-size: 4rem;
}

.tabs > a.active {
  color: var(--primary);
  border-block-end: 0.125rem solid var(--primary);
}

.tabs > a.active > i {
  color: var(--primary);
}

.tabs:is(.left-align, .center-align, .right-align) > a {
  inline-size: auto;
}
