.tabs {
  display: flex;
  white-space: nowrap;
  border-bottom: 1rem solid var(--outline);
  border-radius: 0;
}

.tabs:not(.left-align, .right-align, .center-align) {
  justify-content: space-around;
}

* + .tabs {
  margin-top: 16rem;
}

.tabs > a {
  display: flex;
  font-size: 14rem;
  font-weight: 500;
  color: var(--on-background);
  padding: 8rem 16rem;
  border-bottom: 2rem solid transparent;
  text-align: center;
  min-height: 48rem;
  width: 100%;
  gap: 4rem;
}

.tabs.small > a {
  min-height: 32rem;
}

.tabs.medium > a {
  min-height: 40rem;
}

.tabs.large > a {
  min-height: 64rem;
}

.tabs > a.active {
  color: var(--primary);
  border-bottom: 2rem solid var(--primary);
}

.tabs > a.active > i {
  color: var(--primary);
}

.tabs.left-align > a,
.tabs.center-align > a,
.tabs.right-align > a {
  width: auto;
}