.tabs {
  display: flex;
  white-space: nowrap;
  border-bottom: 0.0625rem solid var(--outline);
  border-radius: 0;
}

.tabs:not(.left-align, .right-align, .center-align) {
  justify-content: space-around;
}

* + .tabs {
  margin-top: 1rem;
}

.tabs > a {
  display: flex;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--on-background);
  padding: 0.5rem 1rem;
  border-bottom: 0.125rem solid transparent;
  text-align: center;
  min-height: 3rem;
  width: 100%;
  gap: 0.25rem;
}

.tabs.small > a {
  min-height: 2rem;
}

.tabs.medium > a {
  min-height: 2.5rem;
}

.tabs.large > a {
  min-height: 4rem;
}

.tabs > a.active {
  color: var(--primary);
  border-bottom: 0.125rem solid var(--primary);
}

.tabs > a.active > i {
  color: var(--primary);
}

.tabs.left-align > a,
.tabs.center-align > a,
.tabs.right-align > a {
  width: auto;
}
