.tooltip {
  ---space: -0.5rem;

  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--inverse-surface);
  color: var(--inverse-on-surface);
  font-size: 0.75rem;
  text-align: center;
  border-radius: 0.25rem;
  padding: 0.5rem;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 50%;
  bottom: auto;
  right: auto;
  transform: translate(-50%, -100%) scale(0.9);
  width: auto;
  white-space: nowrap;
  font-weight: 500;
  opacity: 0;
  transition: var(--speed2) all;
  line-height: normal;
}

.tooltip.left {
  left: 0;
  top: 50%;
  bottom: auto;
  right: auto;
  transform: translate(-100%, -50%) scale(0.9);
}

.tooltip.right {
  right: 0;
  top: 50%;
  bottom: auto;
  left: auto;
  transform: translate(100%, -50%) scale(0.9);
}

.tooltip.bottom {
  bottom: 0;
  left: 50%;
  top: auto;
  right: auto;
  transform: translate(-50%, 100%) scale(0.9);
}

.tooltip.small {
  width: 8rem;
  white-space: normal;
}

.tooltip.medium {
  width: 12rem;
  white-space: normal;
}

.tooltip.large {
  width: 16rem;
  white-space: normal;
}

:hover > .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -100%) scale(1);
}

:hover > .tooltip.left {
  transform: translate(-100%, -50%) scale(1);
}

:hover > .tooltip.right {
  transform: translate(100%, -50%) scale(1);
}

:hover > .tooltip.bottom {
  transform: translate(-50%, 100%) scale(1);
}

.tooltip.no-space {
  ---space: 0rem;
}

.tooltip.medium-space {
  ---space: -1rem;
}

.tooltip.large-space {
  ---space: -1.5rem;
}

.tooltip:not(.left, .right, .bottom) {
  margin-top: var(---space) !important;
}

.tooltip.left {
  margin-left: var(---space) !important;
}

.tooltip.right {
  margin-right: var(---space) !important;
}

.tooltip.bottom {
  margin-bottom: var(---space) !important;
}

menu:active ~ .tooltip,
:is(button, .button):focus > menu ~ .tooltip,
.field > :focus ~ menu ~ .tooltip {
  visibility: hidden;
}

.vertical > .tooltip:not(.left, .right, .bottom) {
  top: calc(50% + var(---space));
  transform: translate(-50%, -100%) scale(1) rotate(90deg);
}

.vertical > .tooltip.left {
  left: var(---space);
  transform: translate(-100%, -50%) scale(1) rotate(90deg);
}

.vertical > .tooltip.right {
  right: var(---space);
  transform: translate(100%, -50%) scale(1) rotate(90deg);
}

.vertical > .tooltip.bottom {
  bottom: calc(50% + var(---space));
  transform: translate(-50%, 100%) scale(1) rotate(90deg);
}

.slider > .tooltip {
  ---space: -1.25rem;
}

.slider.vertical > .tooltip {
  ---space: -0.75rem;
}

.slider.vertical > .tooltip:is(.left, .right) {
  ---space: -0.5rem;
}

.tooltip.max {
  display: block;
  font-size: inherit;
  white-space: normal;
  text-align: left;
  width: 20rem;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: var(--elevate2);
}
