.tooltip {
  ---space: -0.5rem;

  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--inverse-surface);
  color: var(--inverse-on-surface);
  font-size: 0.75rem;
  text-align: center;
  border-radius: 0.25rem;
  padding: 0.5rem;
  position: absolute;
  z-index: 3;
  inset-block-start: 0;
  inset-inline-start: 50%;
  inset-block-end: auto;
  inset-inline-end: auto;
  inline-size: auto;
  white-space: nowrap;
  font-weight: 500;
  opacity: 0;
  transition: var(--speed2) all;
  line-height: normal;
  transform: translate(-50%, -100%) scale(0.9);
}

[dir=rtl] .tooltip {
  transform: translate(50%, -100%) scale(0.9);
}

.tooltip.left {
  inset-inline-start: 0;
  inset-block-start: 50%;
  inset-block-end: auto;
  inset-inline-end: auto;
  transform: translate(-100%, -50%) scale(0.9);
}

[dir=rtl] .tooltip.left {
  transform: translate(100%, -50%) scale(0.9);
}

.tooltip.right {
  inset-inline-end: 0;
  inset-block-start: 50%;
  inset-block-end: auto;
  inset-inline-start: auto;
  transform: translate(100%, -50%) scale(0.9);
}

[dir=rtl] .tooltip.right {
  transform: translate(-100%, -50%) scale(0.9);
}

.tooltip.bottom {
  inset-block-end: 0;
  inset-inline-start: 50%;
  inset-block-start: auto;
  inset-inline-end: auto;
  transform: translate(-50%, 100%) scale(0.9);
}

[dir=rtl] .tooltip.bottom {
  transform: translate(50%, 100%) scale(0.9);
}

.tooltip.small {
  inline-size: 8rem;
  white-space: normal;
}

.tooltip.medium {
  inline-size: 12rem;
  white-space: normal;
}

.tooltip.large {
  inline-size: 16rem;
  white-space: normal;
}

:hover > .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -100%) scale(1);
}

[dir=rtl] :hover > .tooltip {
  transform: translate(50%, -100%) scale(1);
}

:hover > .tooltip.left {
  transform: translate(-100%, -50%) scale(1);
}

[dir=rtl] :hover > .tooltip.left {
  transform: translate(100%, -50%) scale(1);
}

:hover > .tooltip.right {
  transform: translate(100%, -50%) scale(1);
}

[dir=rtl] :hover > .tooltip.right {
  transform: translate(-100%, -50%) scale(1);
}

:hover > .tooltip.bottom {
  transform: translate(-50%, 100%) scale(1);
}

[dir=rtl] :hover > .tooltip.bottom {
  transform: translate(50%, 100%) scale(1);
}

.tooltip.no-space {
  ---space: 0;
}

.tooltip.medium-space {
  ---space: -1rem;
}

.tooltip.large-space {
  ---space: -1.5rem;
}

.tooltip:not(.left, .right, .bottom) {
  margin-block-start: var(---space) !important;
}

.tooltip.left {
  margin-inline-start: var(---space) !important;
}

.tooltip.right {
  margin-inline-end: var(---space) !important;
}

.tooltip.bottom {
  margin-block-end: var(---space) !important;
}

menu:active ~ .tooltip,
:is(button, .button):focus > menu ~ .tooltip,
.field > :focus ~ menu ~ .tooltip {
  visibility: hidden;
}

.slider > .tooltip {
  ---space: -1.25rem;
}

.slider.vertical > .tooltip {
  ---space: -0.75rem;
}

.slider.vertical > .tooltip:is(.left, .right) {
  ---space: -0.5rem;
}

.tooltip.max {
  display: block;
  font-size: inherit;
  white-space: normal;
  text-align: start;
  inline-size: 20rem;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: var(--elevate2);
}
