.tooltip {
  display: none;
  background-color: rgba(0,0,0,.9);
  color: #ffffff;
  font-size: 12rem;
  text-align: center;
  border-radius: 4rem;
  padding: 8rem;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 50%;
  bottom: auto;
  right: auto;
  transform: translate(-50%, -100%);
  width: auto;
  white-space: nowrap;
  font-weight: 500;
}

.tooltip.left {
  left: 0;
  top: 50%;
  bottom: auto;
  right: auto;
  transform: translate(-100%, -50%);
}

.tooltip.right {
  right: 0;
  top: 50%;
  bottom: auto;
  left: auto;
  transform: translate(100%, -50%);
}

.tooltip.top {
  top: 0;
  left: 50%;
  bottom: auto;
  right: auto;
  transform: translate(-50%, -100%);
}

.tooltip.bottom {
  bottom: 0;
  left: 50%;
  top: auto;
  right: auto;
  transform: translate(-50%, 100%);
}

.tooltip.small {
  width: 128rem;
  white-space: normal;
}

.tooltip.medium {
  width: 192rem;
  white-space: normal;
}

.tooltip.large {
  width: 256rem;
  white-space: normal;
}

*:hover > .tooltip {
  display: flex;
  align-items: center;
  gap: 8rem;
}

.dropdown:active ~ .tooltip,
button:focus > .dropdown ~ .tooltip,
.button:focus > .dropdown ~ .tooltip,
.field > :focus ~ .dropdown ~ .tooltip {
  display: none;
}