.tooltip {
  --_space: -0.5rem;

  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--inverse-surface);
  color: var(--inverse-on-surface);
  font-size: 0.75rem;
  text-align: center;
  border-radius: 0.25rem;
  padding: 0.5rem;
  position: absolute;
  z-index: 200;
  inset: 0 auto auto 50%;
  inline-size: auto;
  white-space: nowrap;
  font-weight: 500;
  opacity: 0;
  transition: all var(--speed2);
  line-height: normal;
  transform: translate(-50%, -100%) scale(0.9);

  &:not(.max):hover {
    visibility: hidden;
    opacity: 0;
  }

  &.left {
    inset: 50% auto auto 0;
    transform: translate(-100%, -50%) scale(0.9);
    margin-inline: var(--_space) !important;
  }

  &.right {
    inset: 50% 0 auto auto;
    transform: translate(100%, -50%) scale(0.9);
    margin-inline: var(--_space) !important;
  }

  &.bottom {
    inset: auto auto 0 50%;
    transform: translate(-50%, 100%) scale(0.9);
    margin-block-end: var(--_space) !important;
  }

  &.small {
    inline-size: 8rem;
    white-space: normal;
  }

  &.medium {
    inline-size: 12rem;
    white-space: normal;
  }

  &.large {
    inline-size: 16rem;
    white-space: normal;
  }

  &.no-space { --_space: 0; }
  &.medium-space { --_space: -1rem; }
  &.large-space { --_space: -1.5rem; }

  &:not(.left, .right, .bottom) {
    margin-block-start: var(--_space) !important;
  }

  &.max {
    display: block;
    font-size: inherit;
    white-space: normal;
    text-align: start;
    inline-size: 20rem;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: var(--elevate2);
  }
}

:hover > .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -100%) scale(1);

  &.left { transform: translate(-100%, -50%) scale(1); }
  &.right { transform: translate(100%, -50%) scale(1); }
  &.bottom { transform: translate(-50%, 100%) scale(1); }
}

menu:active ~ .tooltip,
:is(button, .button):focus > menu ~ .tooltip,
.field > :focus ~ menu ~ .tooltip {
  visibility: hidden;
}

.slider {
  & > .tooltip {
    --_space: -1.25rem;
  }

  &.vertical > .tooltip {
    --_space: -0.75rem;

    &:is(.left, .right) {
      --_space: -0.5rem;
    }
  }
}
