body.dark {
  --primary: #D0BCFF;
  --on-primary: #371E73;
  --primary-container: #4F378B;
  --on-primary-container: #EADDFF;
  --secondary: #CCC2DC;
  --on-secondary: #332D41;
  --secondary-container: #4A4458;
  --on-secondary-container: #E8DEF8;
  --tertiary: #EFB8C8;
  --on-tertiary: #492532;
  --tertiary-container: #633B48;
  --on-tertiary-container: #FFD8E4;
  --error: #F2B8B5;
  --on-error: #601410;
  --error-container: #8C1D18;
  --on-error-container: #F9DEDC;
  --background: #1C1B1F;
  --on-background: #E6E1E5;
  --surface: #1C1B1F;
  --on-surface: #E6E1E5;
  --outline: #938F99;
  --surface-variant: #49454F;
  --on-surface-variant: #CAC4D0;
  --inverse-surface: #E6E1E5;
  --inverse-on-surface: #313033;
  --body: #000;
  --overlay: rgb(0 0 0 / 0.5);
  --active: rgb(255 255 255 / 0.2);
  --elevate1: 0 0.125rem 0.125rem 0 rgb(0 0 0 / 0.14), 0 0.0625rem 0.3125rem 0 rgb(0 0 0 / 0.12), 0 0.1875rem 0.0625rem -0.125rem rgb(0 0 0 / 0.2);
  --elevate2: 0 0.375rem 0.625rem 0 rgb(0 0 0 / 0.14), 0 0.0625rem 1.125rem 0 rgb(0 0 0 / 0.12), 0 0.1875rem 0.3125rem -0.0625rem rgb(0 0 0 / 0.3);
  --elevate3: 0 0.625rem 1rem 0 rgb(0 0 0 / 0.14), 0 0.0625rem 1.9375rem 0 rgb(0 0 0 / 0.12), 0 0.1875rem 0.5625rem 0 rgb(0 0 0 / 0.4);
  --size: 16px;
  --font: "Roboto FlexVariable", "Roboto Flex", "Roboto", sans-serif, system-ui, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial";
  --speed1: 0.1s;
  --speed2: 0.2s;
  --speed3: 0.3s;
  --speed4: 0.4s;
}
