body.dark {
  --primary: #CFBCFF;
  --on-primary: #381E72;
  --primary-container: #4F378A;
  --on-primary-container: #E9DDFF;
  --secondary: #CBC2DB;
  --on-secondary: #332D41;
  --secondary-container: #4A4458;
  --on-secondary-container: #E8DEF8;
  --tertiary: #EFB8C8;
  --on-tertiary: #4A2532;
  --tertiary-container: #633B48;
  --on-tertiary-container: #FFD9E3;
  --error: #FFB4AB;
  --on-error: #690005;
  --error-container: #93000A;
  --on-error-container: #FFB4AB;
  --background: #1C1B1E;
  --on-background: #E6E1E6;
  --surface: #141316;
  --on-surface: #E6E1E6;
  --surface-variant: #49454E;
  --on-surface-variant: #CAC4CF;
  --outline: #948F99;
  --outline-variant: #49454E;
  --shadow: #000;
  --scrim: #000;
  --inverse-surface: #E6E1E6;
  --inverse-on-surface: #313033;
  --inverse-primary: #6750A4;
  --surface-dim: #141316;
  --surface-bright: #3A383C;
  --surface-container-lowest: #0F0E11;
  --surface-container-low: #1C1B1E;
  --surface-container: #201F22;
  --surface-container-high: #2B292D;
  --surface-container-highest: #363438;
}
