@import "@fontsource/roboto-flex/variable.css";

@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 400;
  src: url('./material-symbols.woff2') format("woff2");
}