/* outlined icons */
@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../material-symbols-outlined.woff2) format("woff2"),
       url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v146/kJF4BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzBwG-RpA6RzaxHMPdY40KH8nGzv3fzfVJU22ZZLsYEpzC_1ver5Y0.woff2) format("woff2");
}

/* rounded icons */
@font-face {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../material-symbols-rounded.woff2) format("woff2"),
       url(https://fonts.gstatic.com/s/materialsymbolsrounded/v146/syl7-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190FjpZIvLgyidOK7BDB_Qb9vUdV6_gjDK-P3JuF_Zs-obHph2-jOcZTKPqw.woff2) format("woff2");
}

/* sharp icons */
@font-face {
  font-family: "Material Symbols Sharp";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../material-symbols-sharp.woff2) format("woff2"),
       url(https://fonts.gstatic.com/s/materialsymbolssharp/v143/gNMyW2J8Roq16WD5tFNRaeLQk6-SHQ_R00k4c2_wjOOEa9ruReaU4bHmz4BC2dgEH-VBoaxx0TV08dDFHsF-H5uf1kw.woff2) format("woff2");
}
