:root,
body.light {
  --primary: #6750A4;
  --on-primary: #FFF;
  --primary-container: #EADDFF;
  --on-primary-container: #21005E;
  --secondary: #625B71;
  --on-secondary: #FFF;
  --secondary-container: #E8DEF8;
  --on-secondary-container: #1E192B;
  --tertiary: #7D5260;
  --on-tertiary: #FFF;
  --tertiary-container: #FFD8E4;
  --on-tertiary-container: #370B1E;
  --error: #B3261E;
  --on-error: #FFF;
  --error-container: #F9DEDC;
  --on-error-container: #370B1E;
  --background: #FFFBFE;
  --on-background: #1C1B1F;
  --surface: #FFFBFE;
  --on-surface: #1C1B1F;
  --outline: #79747E;
  --surface-variant: #E7E0EC;
  --on-surface-variant: #49454E;
  --inverse-surface: #313033;
  --inverse-on-surface: #F4EFF4;
  --body: #FFF;
  --overlay: rgb(0 0 0 / 0.5);
  --active: rgb(0 0 0 / 0.1);
  --elevate1: 0 0.125rem 0.125rem 0 rgb(0 0 0 / 0.32);
  --elevate2: 0 0.25rem 0.5rem 0 rgb(0 0 0 / 0.4);
  --elevate3: 0 0.375rem 0.75rem 0 rgb(0 0 0 / 0.48);
}
