:root {
  --color-1: #2196f3;
  --color-1a: #2196f380;
  --color-1b: #2196f300;
  --color-2: #000000;
  --color-2a: #00000010;
  --color-2b: #00000020;
  --color-3: #e91e63;
  --color-4: #ffffff;
  --color-4a: rgba(255, 255, 255, 0.9);
  --color-5: #f5f5f5;
  --shadow-1: 0 2rem 2rem 0 rgba(0, 0, 0, 0.14), 0 1rem 5rem 0 rgba(0, 0, 0, 0.12), 0 3rem 1rem -2rem rgba(0, 0, 0, 0.2);
  --shadow-2: 0 6rem 10rem 0 rgba(0, 0, 0, 0.14), 0 1rem 18rem 0 rgba(0, 0, 0, 0.12), 0 3rem 5rem -1rem rgba(0, 0, 0, 0.3);
  --shadow-3: 0 10rem 16rem 0 rgba(0, 0, 0, 0.14), 0 1rem 31rem 0 rgba(0, 0, 0, 0.12), 0 3rem 9rem 0rem rgba(0, 0, 0, 0.4);
  --size: 1px;
  --fonts: "Roboto", BlinkMacSystemFont, -apple-system, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --speed-1: 0.1s;
  --speed-2: 0.2s;
  --speed-3: 0.3s;
  --speed-4: 0.4s;
}
